@import "minerva.variables";
@import "minerva.mixins";


// Inline dialogs
//
// Inline dialogs appear within page content and contain CTAs
//
// Styleguide 4.

// Basic dialog styling
//
// Markup:
// <div class="inline-dialog visible">
//  <a class='cancel icon'>close</a>
//  <p>hello</p>
// </div>
//
// Styleguide 4.1.
.inline-dialog {
	margin-top: 1em;
	padding: 1em @contentMargin;
	background-color: @grayLightest;
}
