// FIXME: what is the purpose of this file?
// those rules should probably go somewhere else
@import "../mixins.less";

// FIXME: this is here only because non-JS version doesn't load watchstar.less
.watch-this-article {
	background: url(../common/images/watch.png) 50% 50% no-repeat;
	text-indent: -9999px;

	&.watched {
		background-image: url(../common/images/watched.png);
	}

	&.loading {
		background-image: @ajaxLoadingImage;
	}
}

.search.error,
.error {
	color: #C85353;
	background: #FAE1E1;
}

.alert {
	padding: 1em @contentMarginLeft;
	margin: 0 0 1em;

	&.warning {
		color: #850;
		background: #feb
	}

	h2 {
		font: bold 100% @fontFamily;
		padding: 0;
		margin: 0 0 .5em 0;
	}
}

html,
body {
	background: #fff;
	height: 100%;
}
