// FIXME: merge with overlays.less when OverlayNew gets to stable
@import "../mixins.less";

@headerMargin: .4em;
@headingMarginV: 1em;
@headingFontSize: 1em;
@buttonSize: @headingFontSize + @headingMarginV * 2 + @headerMargin;

.overlay-enabled {
	.overlay {
		// use height instead of bottom 0 so that overlay expands when there's
		// more content, don't use min-height because of
		// http://stackoverflow.com/questions/3808512/the-inherited-height-of-a-child-div-from-a-parent-with-a-min-height-attribute
		height: 100%;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 4;

	.overlay-header {
		padding: @headerMargin @headerMargin 0;
		display: table;
		width: 100%;
		.box-sizing(border-box);

		> ul, h2 {
			display: table-cell;
			vertical-align: bottom;
			border-bottom: 1px solid #cacaca;
		}

		button, h2 {
			line-height: 1;
			padding: @headingMarginV .6em;
			// FIXME: should not be necessary, scope other h2s to .content
			font-size: @headingFontSize;
		}

		> ul, button {
			width: @buttonSize - @headerMargin;
			white-space: nowrap;
		}

		button {
			width: @buttonSize;
			border-radius: 0;
			min-height: @buttonSize;
			font-weight: bold;
			margin-top: -@headerMargin;

			&.cancel {
				color: #d11d13;
			}
		}

		> ul:first-child li:first-child {
			border-right: 1px solid #cacaca;

			button {
				margin-left: -@headerMargin;
			}
		}

		> ul:last-child li:last-child {
			border-left: 1px solid #cacaca;

			button {
				margin-right: -@headerMargin;
			}
		}

		.icon {
			text-indent: -9999px;
			background-position: 50%;
			background-repeat: no-repeat;
			.background-size( 24px, auto );

			&[disabled] {
				opacity: .5;
			}

			&.cancel {
				background-image: url(images/cancel.png);
			}

			&.submit {
				// following 2 rules to hide the border
				margin-left: -1px;
				margin-bottom: -1px;
				background-image: url(images/check.png);
				background-color: #00af8b;
			}
		}
	}

	.license {
		// FIXME: move this image?
		background: url('../modules/images/cc-by-sa.png') left 4px no-repeat;
		.background-size( auto, 16px );
		padding-left: 55px;
		font-size: .9em;
		// if license is only one line (big screens) prevent cutting off the image
		min-height: 18px;
		margin-top: .5em;
		line-height: 1.4;
	}
}
