@import "../mf-mixins.less";

.overlay ul {
	text-align: left;
	left: 0;
	border: none;
	z-index: 1;
	position: relative;
	opacity: 1;
	padding: 0;
	cursor: pointer;
	margin: 0;
	list-style: none;

	&.informative {
		margin-left: 16px;
		list-style: outside square;
		margin-bottom: 16px;

		li {
			margin-bottom: 8px;
		}
	}
}

html.overlay {
	.mw-mf-overlay {
		display: block;
	}

	#mw-mf-viewport {
		display: none;
	}

	#footer {
		display: none !important;
	}
}

html[dir="rtl"] {
	.mw-mf-overlay .header .cancel {
		.transform( rotate(180deg) );
	}
}

html.animations .mw-mf-overlay .buttonBar {
	// workaround for:
	// http://code.google.com/p/chromium/issues/detail?id=20574
	// (otherwise hidden drawer causes .buttonBar to render incorrectly)
	.transform( translate3d(0,0,0) );
}

.mw-mf-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	// use min-height instead of bottom 0 so that overlay expands when there's
	// more content
	min-height: 100%;
	background-color: white;
	z-index: 4;

	.header .cancel {
		display: block;
		position: absolute;
		cursor: pointer;
		border: none;
		height: @headerHeight;
		width: @searchBarPaddingLeft;
		left: 0;
		background: none;
		background-image: url(images/arrow-left.png);
		background-repeat: no-repeat;
		background-position: center center;
		text-indent: -999px;
		.background-size( auto, @headerElementHeight );
	}

	div.languageOverlay ul,
	ul.content {
		li {
			.overlayListItem();
			&.preferred {
				font-weight: bold;
			}
		}
	}

	.mw-mf-overlay-header {
		background-color: #F1F1F1;
	}

	li {
		text-align: left;
	}

	// FIXME: talk overlay specific (style talk textarea like the editor)
	div.content {
		textarea {
			display: block;
			width: 100%;
		}
	}

	.content {
		.confirm,
		.cancel {
			display: block;
			margin: auto;
		}
	}

	.buttonBar {
		position: fixed;
		bottom: 0;
		width: 100%;
		border-top: 1px solid #ccc;
		background-color: #f3f3f3;
		text-align: center;

		button {
			margin: 10px 5px;
		}

		p {
			margin: 1em 16px 10px;
			line-height: 1.3;
			font-size: .9em;
			text-align: left;

			&:first-child {
				margin-top: 1.2em;
			}
		}
	}

	.mw-mf-overlay-footer,
	.mw-mf-overlay-header {
		padding: 4px 8px 4px @contentMarginLeft;

		margin: 0;
		font-size: 0.8em;
		color: #666;
		border-bottom: solid 1px #eee;
	}

	.mw-mf-overlay-footer {
		a {
			display: inline;
			color: #002BB8;
		}
	}
}
