// FIXME: merge with overlays.less when OverlayNew gets to stable
@import "../mixins.less";

@headerMargin: .4em;
@headingMarginV: 1em;
@headingFontSize: 1em;
@buttonSize: @headingFontSize + @headingMarginV * 2;

.overlay-enabled {
	.overlay {
		// use height instead of bottom 0 so that overlay expands when there's
		// more content, don't use min-height because of
		// http://stackoverflow.com/questions/3808512/the-inherited-height-of-a-child-div-from-a-parent-with-a-min-height-attribute
		height: 100%;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 4;

	.overlay-header {
		padding: @headerMargin @headerMargin 0;
		display: table;
		width: 100%;
		.box-sizing(border-box);

		> div, h2 {
			display: table-cell;
			border-bottom: 1px solid #cacaca;
		}

		button, h2 {
			line-height: 1;
			padding: @headingMarginV .6em;
			// FIXME: should not be necessary, scope other h2s to .content
			font-size: @headingFontSize;
		}

		> div, button {
			width: @buttonSize;
			white-space: nowrap;
		}

		button {
			border-radius: 0;
			min-height: @buttonSize;
			font-weight: bold;

			&.cancel {
				color: #d11d13;
			}
		}

		> div:first-child button {
			border-right: 1px solid #cacaca;
		}

		> div:last-child button:last-child {
			border-left: 1px solid #cacaca;
		}

		.icon {
			text-indent: -9999px;
			background-position: 50% .5em;
			background-repeat: no-repeat;
			.background-size( 24px, auto );

			&[disabled] {
				opacity: .5;
			}

			&.cancel {
				background-image: url(images/cancel.png);
			}
		}
	}

	// LearnMoreOverlay
	.informative {
		margin: 0 0 1em 16px;
		list-style: outside square;

		li {
			margin-bottom: .5em;
		}
	}

	// Got it button
	.confirm {
		display: block;
		margin: 1em auto;
	}

	.license {
		// FIXME: move this image?
		background: url('../modules/images/cc-by-sa.png') left 4px no-repeat;
		.background-size( auto, 16px );
		padding-left: 55px;
		font-size: .9em;
		// if license is only one line (big screens) prevent cutting off the image
		min-height: 18px;
		margin-top: .5em;
		line-height: 1.4;
	}
}
