@import "../mixins.less";

// FIXME: hide in stable till talk code is stable
.stable #ca-talk,
// hide menu items when not possible to use
.client-nojs #ca-watch.cta,
.client-nojs #ca-edit,
.client-nojs #ca-upload,
#ca-talk.selected {
	display: none;
}

#section_0 {
	padding: 12px @contentMarginRight 7px @contentMarginLeft;
	border-bottom: dotted 1px #CACACA;
}

#page-actions {
	@verticalMargin: 8px;

	padding: @verticalMargin @contentMarginRight @verticalMargin @contentMarginLeft - 8;
	// end hacks
	border-bottom: solid 1px #CACACA;

	li,
	.watch-this-article {
		.background-size( auto, 30px );
	}
	li {
		cursor: pointer;
		// FIXME: why is this necessary?
		vertical-align: top;
		height: 30px;
		width: 40px;
		text-indent: -9999px;
		background-position: 50% 0;
		background-repeat: no-repeat;

		// FIXME: use .cloaked class
		// file inputs are notoriously difficult to style
		input {
			opacity: 0;
		}

		input,
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

#ca-edit {
	background-image: url(images/pagemenu/edit-locked.png);
	margin-right: 17px;
	&.enabled {
		background-image: url(images/pagemenu/edit.png);
	}
}

#ca-talk {
	margin-right: 14px;
	// FIXME: remove in favour of using .talk class
	background-image: url(images/pagemenu/talk.png);
}

.talk {
	background: url(images/pagemenu/talk.png) 50% 50% no-repeat;
	text-indent: -999px;
	overflow: hidden;
}

#ca-upload {
	margin-right: 19px;
	background-image: url(images/pagemenu/upload-locked.png);
	overflow: hidden;
	input {
		display: none;
	}
	&.enabled {
		background-image: url(images/pagemenu/upload.png);
		input {
			display: block;
		}
	}
}
