@import "minerva.variables";
@import "minerva.mixins";


.client-js {
	#page-secondary-actions {
		text-align: center;
		margin-top: 45px;
		button,
		.button {
			width: 70px;
			// buttons are inline-block so ensure that we avoid the whitespace above 2nd button due to default value baseline
			vertical-align: top;

			&.nearby {
				.background-image('images/secondaryPageActions/geo.png');
			}

			&.languageSelector {
				.background-image('images/secondaryPageActions/languages.png');
				// FIXME: Temporary override of one in languages.less
				margin-top: 0;
			}
		}
	}
}
