@import "buttons.less";
@import 'mainmenu.less';

.header {
	// .header needs position: relative, it's not always at the top of the page
	// (Zero banners, campaigns)
	position: relative;
	.vertical-gradient( @searchBoxColor, @searchBoxColorTo );
	border-bottom: 1px solid #e2e2e2;
	line-height: (@headerHeight - 2px);
	text-align: center;
	min-height: (@headerHeight - 2px);
	padding: 2px 10px 0 @searchBarPaddingLeft;

	h1, h2 {
		font-size: @baseFontSize * 1.6;
	}
}

/* Menu buttons */
#mw-mf-main-menu-button,
#secondary-button,
// FIXME: remove when cache cleared
#user-button {
	height: @headerHeight;
	width: @searchBarPaddingLeft;
	position: absolute;
	top: 0;
}

// FIXME: Remove rule when profiles go to stable
.stable {
	.user-button {
		background: url(images/user-old.png) 50% 50% no-repeat;
	}
}

.user-button {
	background: url(images/user.png) 50% 50% no-repeat;

	span {
		position: absolute;
		right: 5px;
		bottom: 7px;
		font-size: .8em;
		font-weight: bold;
		color: #fff;
		line-height: 1;
		padding: 1px 4px;
		background: #c91f2c;
		border-radius: 3px;

		&.zero {
			display: none;
		}
	}
}

/* Echo Notifications */
.is-authenticated {
	.header {
		padding-right: @searchBarPaddingRight;
	}
}

#secondary-button,
// FIXME: remove when cache cleared
#user-button {
	right: 0;
	.background-size( auto, 24px );
}

/* hamburger */
// FIXME: make consistent with user-button
#mw-mf-main-menu-button {
	background: url(images/menu/lowres/main.png) 50% 50% no-repeat;
	.background-size( 24px, 30px );
	left: 0;
}

.client-js {
	#mw-mf-main-menu-button {
		/* @embed */background-image: url(images/menu/main.png);
	}

	.searchSubmit {
		display: none;
	}
}

/* Search */
input.search {
	outline: none;
	width: 100%;
	height: @headerElementHeight;
	// FIXME: unable to check but the important may not be needed for Nokia S60;
	background-color: #fff !important; /* remove fennec default background also see bug 36490 */
	.box-sizing( border-box );
	// get rid of rounded corners in Safari
	-webkit-appearance: none;
	// get rid of X in Chrome
	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
	}
}

.searchSubmit {
	// FIXME: do all buttons in header need to have padding by default?
	padding: 0 !important;
	width: 20%;
}

.client-nojs {
	input.search {
		width: 80%;
	}
}

.search-box {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.content .edit-page {
	display: none;
}
