@import "mediawiki.mixins";
@import "buttons.less";
@import 'mainmenu.less';

html,
body {
	// Ensure overlays take up full screen
	height: 100%;
}

// Used for messages on login screen, page lists and uploads and when showing old revisions
.alert {
	padding: 1em @contentMargin;
	margin: 0 0 1em;

	&.warning {
		color: #850;
		background: #feb
	}

	h2 {
		font: bold 100% @fontFamily;
		padding: 0;
		margin: 0 0 .5em 0;
	}
}

.header {
	// .header needs position: relative, it's not always at the top of the page
	// (Zero banners, campaigns)
	position: relative;
	.vertical-gradient( @searchBoxColor, @searchBoxColorTo );
	border-bottom: 1px solid #e2e2e2;
	line-height: (@headerHeight - 2px);
	text-align: center;
	min-height: (@headerHeight - 2px);
	padding: 2px @searchBarPaddingLeft 0 @searchBarPaddingLeft;

	h1, h2 {
		font-size: @baseFontSize * 1.6;
	}
}

/* Menu buttons */
#mw-mf-main-menu-button,
#secondary-button {
	// Needed for Special:UserProfile and Special:Nearby
	.background-size( auto, 24px );
	border: none;
	height: @headerHeight;
	width: @searchBarPaddingLeft;
	position: absolute;
	top: 0;
}

.user-button {
	line-height: @headerHeight;

	&:hover {
		text-decoration: none;
	}

	span {
		display: inline-block;
		width: 24px;
		height: 24px;
		font-weight: bold;
		color: #fff;
		line-height: 24px;
		background: #c91f2c;
		border-radius: 2px;

		&.zero {
			background: #cecece;
		}
	}
}

/* Echo Notifications */
.is-authenticated {
	.header {
		padding-right: @searchBarPaddingRight;
	}
}

#secondary-button {
	right: 0;
}

/* hamburger */
// FIXME: make consistent with user-button
#mw-mf-main-menu-button {
	background: url(images/menu/lowres/main.png) 50% 50% no-repeat;
	.background-size( 24px, 30px );
	left: 0;
}

.client-js {
	#mw-mf-main-menu-button {
		.background-image('images/menu/main.png');
	}

	.searchSubmit {
		display: none;
	}
}

/* Search */
input.search {
	outline: none;
	width: 100%;
	height: @headerElementHeight;
	// FIXME: unable to check but the important may not be needed for Nokia S60;
	background-color: #fff !important; /* remove fennec default background also see bug 36490 */
	.box-sizing( border-box );
	// get rid of rounded corners in Safari
	-webkit-appearance: none;
	// get rid of X in Chrome
	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
	}
}

.searchSubmit {
	// FIXME: do all buttons in header need to have padding by default?
	padding: 0 !important;
	width: 20%;
}

.client-nojs {
	input.search {
		width: 80%;
	}
}

.search-box {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.content .edit-page {
	display: none;
}

// FIXME: this is here only because non-JS version doesn't load watchstar.less
.watch-this-article {
	background: url(../common/images/watch.png) 50% 50% no-repeat;
	text-indent: -9999px;

	&.watched {
		background-image: url(../common/images/watched.png);
	}
}

.truncated-text {
	white-space: nowrap;
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

// FIXME: Move to beta/alpha only place?
.alpha,
.beta {
	.top-bar {
		background-color: #F3F3F3;
		padding: 5px @contentMargin;
		display: block;
		color: #666;
		a {
			color: #666;
			// If browser supports
			&:nth-child(2) {
				font-weight: bold;
			}
		}

		&.active {
			background-color: #00AF8B;
			color: #fff;
			a {
				color: #fff;
			}
		}
	}
}
