{{^unstyledContent}}
{{! Add a mw-content-ltr/rtl class to be able to style based on text direction #}}
<div class="content mw-content-{{pageDir}}" id="content"
	lang="{{pageLang}}" dir="{{pageDir}}">
	{{{bodytext}}}
	{{{returnLink}}}
	{{{_postContent}}}
	{{{_secondaryActions}}}
	{{{_historyLinkBottom}}}
</div>
{{/unstyledContent}}
{{#unstyledContent}}
{{{bodytext}}}
{{/unstyledContent}}
