{{#footer}}
<footer>
{{{lastmodified}}}
<div class="post-content footer-content">
	<h2>{{{headinghtml}}}</h2>
	<div class="license">{{{licensehtml}}}</div>
	{{#lists}}
	<ul class="footer-{{name}} hlist hlist-separated">
		{{! "." means "current context", which allows us to iterate over Plain Old PHP Arrays™. }}
		{{#items}}<li id="footer-{{category}}-{{name}}">{{{linkhtml}}}</li>{{/items}}
	</ul>
	{{/lists}}
</div>
</footer>
{{/footer}}
