<div>
	<a class="{{mobileMenuClass}} main-menu-button" href="{{mobileMenuLink}}">{{mobileMenuTitle}}</a>
</div>
<div class="header-title">
	<a href="{{mobileMenuLink}}" class="main-menu-button">{{{siteName}}}</a>
</div>
<div>
	{{{secondaryButton}}}
</div>
