{{! FIXME: Remove .pre-content when the last modified bar in beta is promoted to stable }}
{{^isMainPage}}<div class="last-modified-bar view-border-box pre-content post-content">{{/isMainPage}}
	<div id="mw-mf-last-modified" class="truncated-text">
		<a href="{{link}}"
			data-user-name="{{username}}"
			data-user-gender="{{userGender}}"
			data-timestamp="{{timestamp}}">
			{{text}}
		</a>
	</div>
{{^isMainPage}}</div>{{/isMainPage}}