<div{{^isMainPage}} class="last-modified-bar"{{/isMainPage}}>
	{{! FIXME: Should have both post-content and pre-content classes}}
	<div id="mw-mf-last-modified" class="truncated-text pre-content post-content">
		<a href="{{link}}"
			data-user-name="{{username}}"
			data-user-gender="{{userGender}}"
			data-timestamp="{{timestamp}}">
			{{text}}
		</a>
	</div>
</div>