{{^isMainPage}}<div class="last-modified-bar view-border-box">{{/isMainPage}}
	<div id="mw-mf-last-modified" class="truncated-text last-modified-bottom">
		<a href="{{link}}"
			data-user-name="{{username}}"
			data-user-gender="{{userGender}}"
			data-timestamp="{{timestamp}}">
			{{text}}
		</a>
	</div>
{{^isMainPage}}</div>{{/isMainPage}}