{{{headelement}}}
<div id="mw-mf-viewport">
	{{>ie8Html5Support}}
	<nav id="mw-mf-page-left" class="navigation-drawer view-border-box">
		{{{mainmenuhtml}}}
	</nav>
	<div id="mw-mf-page-center">
		<div class="banner-container">
			{{>banners}}
		</div>
		<div class="header-container header-chrome">
			<form class="header" action="{{wgScript}}" method="get">
				<div>{{{menuButton}}}</div>
				<div class="branding-box">
					<h1>
						<span>{{{headinghtml}}}</span>
						<sup>&beta;</sup>
					</h1>
				</div>
				<div class="search-box">
					<input class="search" type="search" name="search" id="searchInput"
					   autocomplete="off" placeholder="{{placeholder}}"
					   value="{{search}}">
				</div>
				<div>{{{searchButton}}}</div>
				{{^isAnon}}<div>{{#secondaryButtonData}}{{>secondaryButton}}{{/secondaryButtonData}}</div>{{/isAnon}}
			</form>
		</div>
		<div id="content" class="mw-body">
			{{{contenthtml}}}
		</div>
		{{>footer}}
	</div>
</div>
<!-- v:8 -->
