{{{headelement}}}
<div id="mw-mf-viewport">
	{{>ie8Html5Support}}
	<nav id="mw-mf-page-left" class="navigation-drawer view-border-box">
		{{{mainmenuhtml}}}
	</nav>
	<div id="mw-mf-page-center">
		<div class="banner-container">
			{{>banners}}
		</div>
		<div class="header-container">
			<form class="header" action="{{wgScript}}">
				<div>{{{menuButton}}}</div>
				<div class="main">
					<h1>
						<span>{{{headinghtml}}}</span>
					</h1>
				</div>
				<div>{{{searchButton}}}</div>
				{{^isAnon}}<div>{{{secondaryButton}}}</div>{{/isAnon}}
			</form>
		</div>
		<div id="content" class="mw-body">
			{{{contenthtml}}}
		</div>
		{{>footer}}
	</div>
</div>
<!-- v:5 -->
