{{{headelement}}}
<div id="mw-mf-viewport">
	<nav id="mw-mf-page-left" class="navigation-drawer view-border-box">
		{{{mainmenuhtml}}}
	</nav>
	<div id="mw-mf-page-center">
		<div class="banner-container">
			{{>banners}}
		</div>
		<div class="header">
			{{{headerhtml}}}
		</div>
		<div id="content" class="mw-body">
			{{{contenthtml}}}
		</div>
		{{{footerhtml}}}
	</div>
</div>
