{{^hasNotifications}}
<a href="{{url}}" title="{{title}}"
   class="{{notificationIconClass}} user-button main-header-button" id="secondary-button">
    {{title}}
</a>
{{/hasNotifications}}
{{#hasNotifications}}
<a href="{{url}}" title="{{title}}"
  id="secondary-button"
  class="notification-count user-button {{#hasUnseenNotifications}}notification-unseen{{/hasUnseenNotifications}}
    {{#isNotificationCountZero}}zero{{/isNotificationCountZero}}">
	<div class="circle">
		 <span>
			{{notificationCount}}
		</span>
	</div>
</a>
{{/hasNotifications}}
