<a href="{{href}}" title="{{title}}"
   class="{{class}} user-button main-header-button" id="secondary-button">
    {{title}}
</a>
<div title="{{title}}" class="notification-count
            {{#isNotificationCountZero}}zero{{/isNotificationCountZero}}
    {{#hasUnseenNotifications}}notification-unseen{{/hasUnseenNotifications}}">
<span>
    {{notificationCount}}
</span>
</div>
