<ul class="user-links">
	<li>
		<a href="{{talkPageLink}}"
		   class="mw-ui-icon mw-ui-icon-before mw-ui-icon-talk">{{talkPageTitle}}</a>
	</li>
	<li>
		<a href="{{contributionsPageLink}}">{{contributionsPageTitle}}</a>
	</li>
	<li>
		<a href="{{uploadsPageLink}}">{{uploadsPageTitle}}</a>
	</li>
</ul>
