#filetoc {
	display: block;
	border: 1px solid #AAA;
	background-color: #F9F9F9;
	color: white;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

#filetoc li {
	display: inline-block;
	padding: 8px;
	margin: 0;
}

#file img {
	max-width: 100%;
	height: auto;
}
