.specialPage.overlay body {
  background-color: #ffffff;
}
.specialPage.overlay #mw-mf-overlay .header {
  background-color: #393939;
}
.specialPage.overlay #mw-mf-overlay .header h1 {
  padding-left: 0.4em;
}
#mw-mf-login .watermark,
#mw-mf-accountcreate .watermark {
  background-position: center center;
  height: 90px;
  width: 100%;
  background-image: url(images/W.png);
  background-repeat: no-repeat;
}
#userloginForm {
  margin-left: 40px;
  margin-right: 40px;
}
table.user-login {
  border: none;
  display: table;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
table.user-login tbody {
  display: table-row-group;
}
table.user-login tr {
  display: table-row;
}
table.user-login tr td {
  border: none;
}
table.user-login .mw-label {
  display: none;
}
table.user-login td,
table.user-login tr,
table.user-login input {
  width: 100%;
}
table.user-login input.loginPassword,
table.user-login input.loginText {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.25em;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
  padding: 1em 3em 1em 0.4em;
}
table.user-login a.mw-mf-create-account {
  text-align: center;
  margin-top: 20px;
  display: block;
}
table.user-login #wpLoginAttempt {
  font-size: 1.3em;
}
/* sign up form */
form#userlogin2 input {
  display: block;
  width: 100%;
  padding: 0;
  text-align: left;
  padding: 8px;
  border: none;
  border-bottom: solid 1px #E1E1E1;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form#userlogin2 div.wpInputs,
form#userlogin2 div.wpCaptcha {
  border: solid 1px #E1E1E1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
form#userlogin2 div.wpInputs input:last-child,
form#userlogin2 div.wpCaptcha input:last-child {
  border-bottom: none;
}
form#userlogin2 div.wpCaptcha {
  margin: 12px 0;
}
form#userlogin2 div.wpCaptcha input {
  border-bottom: none;
}
form#userlogin2 div.wpCaptcha img.wpCaptcha {
  display: block;
  margin: auto;
}
form#userlogin2 #wpCreateaccount {
  text-align: center;
  padding-top: 8px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1em;
}
