/*
SETTINGS PAGE
based on http://acidmartin.wordpress.com/2011/06/18/css3-iphone-toggle-buttons/
*/
/* variables */
/* mixins */
/* styling */
.page-loading #content_wrapper form.mw-mf-settings ul li .mw-mf-checkbox-css3,
.page-loading #content_wrapper form.mw-mf-settings ul li #mw-mf-settings-save {
  /* hide when still loading to avoid screen flash */

  display: none;
}
form.mw-mf-settings ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 40px;
}
form.mw-mf-settings ul li {
  min-height: 4em;
  line-height: 2em;
  vertical-align: middle;
  display: block;
  font-weight: bold;
  font-size: 1.1em;
  position: relative;
}
form.mw-mf-settings ul li div.mw-mf-checkbox-css3 {
  display: inline;
}
form.mw-mf-settings ul li #mw-mf-settings-save,
form.mw-mf-settings ul li .mw-mf-checkbox-css3 {
  cursor: pointer;
  position: relative;
  line-height: 2em;
  padding: 0 0 0 8px;
  text-align: right;
}
form.mw-mf-settings ul li #mw-mf-settings-save {
  min-width: 50%;
  text-align: center;
  display: block;
}
form.mw-mf-settings ul li #mw-mf-settings-save:hover {
  text-decoration: none;
  background-color: #57a7f2;
  background: #57a7f2;
}
form.mw-mf-settings ul li span.mw-mf-settings-on,
form.mw-mf-settings ul li span.mw-mf-settings-off {
  display: none;
}
form.mw-mf-settings ul li input[type=submit],
form.mw-mf-settings ul li .mw-mf-checkbox-css3 span {
  border-radius: 8px;
  font-weight: normal;
  font-size: 15px;
  color: white;
  background: #818181;
  background: -moz-linear-gradient(top, #aeaeae, #818181);
  background: -webkit-linear-gradient(top, #aeaeae, #818181);
  background: linear-gradient(top, #aeaeae, #818181);
  position: relative;
  border: solid 1px #818181;
}
form.mw-mf-settings ul li input[type=submit] {
  min-width: 76px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-transform: lowercase;
}
form.mw-mf-settings ul li.mw-mf-settings-description {
  font-size: 0.8em;
  line-height: 1.8em;
  font-weight: normal;
  padding-right: 8px;
}
.mw-mf-checkboxes form.mw-mf-settings ul li .mw-mf-checkbox-css3 {
  border: none;
  min-width: 76px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-transform: lowercase;
}
.mw-mf-checkboxes form.mw-mf-settings ul li .mw-mf-checkbox-css3 input {
  min-width: 76px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-transform: lowercase;
  display: none;
  z-index: 6;
}
.mw-mf-checkboxes form.mw-mf-settings ul li .mw-mf-checkbox-css3 span {
  min-width: 76px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-transform: lowercase;
}
.mw-mf-checkboxes form.mw-mf-settings ul li .mw-mf-checkbox-css3 span::before {
  /* small 'sliding' switch for checkboxes */

  content: "";
  width: 30%;
  border: solid 1px white;
  border-top: none;
  border-bottom: solid 1px #aaa;
  background: #ebebeb;
  background: -moz-linear-gradient(top, #eeeeee, #ebebeb);
  background: -webkit-linear-gradient(top, #eeeeee, #ebebeb);
  background: linear-gradient(top, #eeeeee, #ebebeb);
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  top: 0;
}
.mw-mf-checkboxes form.mw-mf-settings ul li .mw-mf-checkbox-css3 .mw-mf-settings-on {
  display: none;
}
.mw-mf-checkboxes form.mw-mf-settings ul li .mw-mf-checkbox-css3 .mw-mf-settings-on::before {
  right: 0;
  left: auto;
}
.mw-mf-checkboxes form.mw-mf-settings ul li .mw-mf-checkbox-css3 .mw-mf-settings-off {
  padding-right: 8px;
  padding-left: 8px;
  display: inline-block;
}
.mw-mf-checkboxes form.mw-mf-settings ul li .mw-mf-checkbox-css3 .mw-mf-settings-off::before {
  left: 0;
  right: auto;
}
.mw-mf-checkboxes form.mw-mf-settings ul li .mw-mf-checkbox-css3.checked {
  border: none;
}
.mw-mf-checkboxes form.mw-mf-settings ul li .mw-mf-checkbox-css3.checked .mw-mf-settings-on {
  display: inline-block;
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  background-color: #57a7f2;
  background: #57a7f2;
}
.mw-mf-checkboxes form.mw-mf-settings ul li .mw-mf-checkbox-css3.checked .mw-mf-settings-off {
  display: none;
}
