.mobile .searchresults ul.mw-search-results .mw-search-result-heading {
  font-weight: bold;
}
.mobile .searchresults ul.mw-search-results .mw-search-result-data {
  font-size: 0.7em;
  font-style: italic;
  color: #535353;
  margin-left: 12px;
}
.mobile .searchresults ul.mw-search-results div.searchresult {
  font-size: 0.9em;
  width: 100%;
  margin-left: 12px;
}
