ul.a-to-z li .listThumb.needsPhoto {
  background-image: url(images/camera.png);
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: 50% auto;
  -o-background-size: 50% auto;
  -webkit-background-size: 50% auto;
  background-size: 50% auto;
}
ul.a-to-z li .proximity {
  font-size: .8em;
  text-transform: none;
}
