ul.a-to-z li .listThumb.needsPhoto {
  background-image: url(images/camera.png);
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: 50% auto;
  -o-background-size: 50% auto;
  -webkit-background-size: 50% auto;
  background-size: 50% auto;
}
ul.a-to-z li .proximity {
  position: absolute;
  right: 40px;
  top: 0;
  padding-top: 15px;
  font-weight: bold;
  color: #000;
  font-size: 1.2em;
  height: 100%;
  vertical-align: middle;
}
