.ctaUploadPhoto {
  padding: 8px;
  background-color: #F3F3F3;
  border-bottom: 1px solid #E2E2E2;
}
.ctaUploadPhoto h2 {
  font-size: 1.25em;
  margin: 0 0 .5em;
  text-align: center;
}
ul.mobileUserGallery {
  list-style: none;
  margin: 20px 23px 0 23px;
}
ul.mobileUserGallery li {
  text-align: center;
  padding-bottom: 20px;
}
ul.mobileUserGallery li img {
  max-width: 100%;
  max-height: auto;
}
ul.mobileUserGallery li p {
  color: #565656;
  line-height: 1.2;
}
