.specialPage.overlay body {
  background-color: #ffffff;
}
.specialPage.overlay .mw-mf-overlay .header h1 {
  padding-left: 0.4em;
}
#mw-mf-login .watermark,
#mw-mf-accountcreate .watermark {
  background-position: center center;
  height: 72px;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: auto 72px;
  -o-background-size: auto 72px;
  -webkit-background-size: auto 72px;
  background-size: auto 72px;
  width: 100%;
  background-image: url(images/W.png);
  background-repeat: no-repeat;
  margin-bottom: 14pt;
}
#mw-mf-login .headmsg,
#mw-mf-accountcreate .headmsg {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #252525;
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 1em 0;
}
#mw-mf-accountcreate .alert {
  margin-left: 0;
  margin-right: 0;
}
/* sign up form */
form.user-login {
  padding-bottom: 12px;
}
form.user-login input {
  -webkit-appearance: none;
  box-shadow: none;
  display: block;
  width: 100%;
  text-align: left;
  text-shadow: none;
  padding: 1em 0.5em;
  font-size: 1em;
  border: none;
  border-bottom: solid 1px #E1E1E1;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form.user-login div.wpInputs,
form.user-login div.wpCaptcha {
  border: solid 1px #E1E1E1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
form.user-login div.wpInputs input:last-child,
form.user-login div.wpCaptcha input:last-child {
  border-bottom: none;
}
form.user-login div.wpCaptcha input {
  border-bottom: none;
}
form.user-login div.wpCaptcha img.wpCaptcha {
  display: block;
  margin: auto;
}
form.user-login div.wpCaptcha,
form.user-login #wpLoginAttempt {
  margin: 12px 0;
}
form.user-login #wpLoginAttempt,
form.user-login #wpCreateaccount {
  text-align: center;
  padding-top: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-size: 1em;
}
form.user-login .mw-mf-create-account {
  padding-top: 12px;
  display: block;
  text-align: center;
}
#mw-returnto {
  padding-top: 2em;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  text-align: center;
}
.jsEnabled #mw-returnto {
  text-indent: -9999px;
  background-image: url(../common/images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: 50% 30%;
}
.jsEnabled #mw-returnto.loaded {
  text-indent: 0;
  background: #fff;
}
