.mw-mf-watchlist-selector li {
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
  display: inline-block;
  border-left: 1px solid #e2e2e2;
  width: 25%;
  margin: 0 0 0 -1px;
}
.mw-mf-watchlist-selector li.selected a {
  border-bottom: solid 3px #3366bb;
  font-weight: bold;
}
.mw-mf-watchlist-selector li a {
  line-height: 1.5;
  display: block;
  color: #58595b;
  padding: 5px 0 0;
  margin: 0 1px 0 0;
  border-bottom: 3px solid transparent;
}
.listThumb {
  background-repeat: no-repeat;
  background-position: center center;
}
.listThumb.needsPhoto {
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-color: #3b6fba;
  background-image: url(images/camera.png);
}
.listThumbH {
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}
.listThumbV {
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
ul.mw-mf-watchlist-results {
  list-style: none;
}
ul.mw-mf-watchlist-results li {
  border-bottom: solid 1px #e2e2e2;
  color: #808080;
  line-height: 1;
  position: relative;
}
ul.mw-mf-watchlist-results li .listThumb {
  position: absolute;
  width: 70px;
  height: 100%;
  margin: 0 0 0 -85px;
}
ul.mw-mf-watchlist-results li a.title {
  display: block;
  position: relative;
  padding: 0 23px 15px 23px;
  margin: -1px 0;
  /* FIXME: remove if we reset text-decoration in common styles */

  text-decoration: none;
}
ul.mw-mf-watchlist-results li a:active {
  background: #e8e8e9;
  background: rgba(232, 232, 233, 0.5);
}
ul.mw-mf-watchlist-results li div,
ul.mw-mf-watchlist-results li p {
  font-size: .9em;
  margin: 0;
  color: #999b9e;
}
ul.mw-mf-watchlist-results li p {
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1;
  margin: .25em 0 0;
}
ul.mw-mf-watchlist-results li h2 {
  font: inherit;
  margin: 0;
  font-weight: bold;
  color: #404040;
  padding: 20px 24px 0 0;
}
ul.mw-mf-watchlist-results li .info {
  color: #a6a6a6;
  font-size: .7em;
  text-transform: uppercase;
  margin: .6em 0 0;
}
ul.mw-mf-watchlist-results li .mw-mf-user {
  margin: .5em 0 0;
}
ul.a-to-z li a.title {
  padding-left: 85px;
}
.mw-mf-user {
  padding: 1px 0 0 20px;
  color: #565656 !important;
  background: url(images/user.png) 0 -2px no-repeat;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: 16px 16px;
  -o-background-size: 16px 16px;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
}
.mw-mf-anon {
  color: #b24242;
  background-image: url(images/user-anon.png);
}
a.more {
  display: block;
  margin-top: 1em;
  text-align: center;
}
