#mw-mf-watchlist {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#mw-mf-watchlist p.empty {
  text-align: center;
  background: none;
}
#mw-mf-watchlist .mw-mf-watchlist-selector {
  border-bottom: 1px solid #e2e2e2;
}
#mw-mf-watchlist .mw-mf-watchlist-selector li {
  text-align: center;
  display: inline-block;
  border-left: 1px solid #e2e2e2;
  width: 25%;
  margin: 0 0 0 -1px;
}
#mw-mf-watchlist .mw-mf-watchlist-selector li.selected a {
  font-weight: bold;
  border-bottom-color: #3366bb;
}
#mw-mf-watchlist .mw-mf-watchlist-selector li a {
  display: block;
  color: #58595b;
  padding: 5px 0 0;
  margin: 0 1px 0 0;
  border-bottom: 3px solid transparent;
}
#mw-mf-overlay ul.mw-mf-watchlist-results {
  list-style: none;
}
#mw-mf-overlay ul.mw-mf-watchlist-results li {
  border-bottom: solid 1px #e2e2e2;
  color: #808080;
  line-height: 1;
}
#mw-mf-overlay ul.mw-mf-watchlist-results li .listThumb {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70px;
  height: 100%;
  margin: 0 0 0 -85px;
}
#mw-mf-overlay ul.mw-mf-watchlist-results li .listThumbH {
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}
#mw-mf-overlay ul.mw-mf-watchlist-results li .listThumbV {
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
#mw-mf-overlay ul.mw-mf-watchlist-results li a {
  display: block;
  position: relative;
  padding: 0 23px 15px 77px;
  margin: -1px 0;
  border-left: 8px solid transparent;
  /* FIXME: remove if we reset text-decoration in common styles */

  text-decoration: none;
}
#mw-mf-overlay ul.mw-mf-watchlist-results li a:active {
  border-left-color: #3366bb;
  background: #e8e8e9;
  background: rgba(232, 232, 233, 0.5);
}
#mw-mf-overlay ul.mw-mf-watchlist-results li div,
#mw-mf-overlay ul.mw-mf-watchlist-results li p {
  font-size: .9em;
  margin: 0;
  color: #999b9e;
}
#mw-mf-overlay ul.mw-mf-watchlist-results li p {
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
}
#mw-mf-overlay ul.mw-mf-watchlist-results li h2 {
  font: inherit;
  margin: 0;
  font-weight: bold;
  color: #404040;
  padding: 20px 0 0;
}
#mw-mf-overlay ul.mw-mf-watchlist-results li h2 a {
  color: inherit;
}
#mw-mf-overlay ul.mw-mf-watchlist-results li .mw-mf-time {
  color: #c6c6c6;
  font-size: .6em;
  text-transform: uppercase;
}
#mw-mf-overlay ul.mw-mf-watchlist-results li .mw-mf-user {
  margin: .5em 0 0;
}
#mw-mf-diffview h2 {
  font: inherit;
  margin: 0;
  font-weight: bold;
  color: #404040;
}
#mw-mf-diffview h2 a {
  color: inherit;
}
#mw-mf-diffview .mw-mf-bytesadded {
  color: #008a46;
}
#mw-mf-diffview .mw-mf-bytesremoved {
  color: #b24242;
}
#mw-mf-diffview ins,
#mw-mf-diffview del {
  display: block;
  padding-left: 8px;
}
#mw-mf-diffview #mw-mf-userinfo .mw-mf-roles,
#mw-mf-diffview .mw-mf-diff-date,
#mw-mf-diffview .mw-mf-bytesremoved,
#mw-mf-diffview .mw-mf-bytesadded {
  font-size: 0.7em;
  text-transform: uppercase;
}
#mw-mf-diffview .mw-mf-diff-date {
  font-size: 0.5em;
  color: #c6c6c6;
}
#mw-mf-diffview ins {
  color: #008a46;
  text-decoration: none;
}
#mw-mf-diffview del {
  color: #b24242;
  text-decoration: strikethrough;
}
#mw-mf-diffview #mw-mf-diffarea {
  padding: 1em 1em 7em;
}
#mw-mf-diffview #mw-mf-diff-info {
  padding-bottom: 1em;
}
#mw-mf-diffview #mw-mf-diff-comment {
  padding-bottom: 1em;
  font-style: italic;
}
#mw-mf-diffview #mw-mf-userinfo {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  padding: 1em;
  background-color: #f0f0f0;
  border-top: solid 1px #c0c0c0;
}
#mw-mf-diffview #mw-mf-userinfo::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 20px;
  border-width: 0px 10px 10px;
  border-style: solid;
  border-color: #f0f0f0 transparent;
  display: block;
  width: 0;
}
#mw-mf-diffview #mw-mf-userinfo .mw-mf-user {
  line-height: 14px;
}
.mw-mf-user {
  padding: 1px 0 0 20px;
  color: #565656 !important;
  background: url(images/user.png) 0 -2px no-repeat;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: 16px 16px;
  -o-background-size: 16px 16px;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
}
.mw-mf-anon {
  color: #b24242;
  background-image: url(images/user-anon.png);
}
