.header .search-button {
  display: inline-block;
  height: 46px;
  width: 40px;
  position: absolute;
  top: 0;
  background: url(images/search.png) 50% 50% no-repeat;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: auto 30px;
  -o-background-size: auto 30px;
  -webkit-background-size: auto 30px;
  background-size: auto 30px;
  right: 0;
}
