<nav id="{{id}}" class="navigation-drawer {{className}}">
	<ul>
		{{#discovery}}
		<li>
			<a href="{{href}}" class="{{class}}" data-event-name="{{data-event-name}}">{{text}}</a>
		</li>
		{{/discovery}}
	</ul>
	<ul>
		{{#personal}}
		<li>
			<a href="{{href}}" class="{{class}}" data-event-name="{{data-event-name}}">{{text}}</a>
		</li>
		{{/personal}}
	</ul>
	<ul class="hlist">
		{{#sitelinks}}
		<li>
			<a href="{{href}}" class="{{class}}" data-event-name="{{data-event-name}}">{{text}}</a>
		</li>
		{{/sitelinks}}
	</ul>
</nav>
