<div class="menu view-border-box">
	{{#groups}}
	<ul>
		{{! "." means "current context", which allows us to iterate over Plain Old PHP Arrays™. }}
		{{#.}}
			{{> menuGroup}}
		{{/.}}
	</ul>
	{{/groups}}
	<ul class="hlist">
		{{#sitelinks}}
			{{> menuGroup}}
		{{/sitelinks}}
	</ul>
</div>
