<div class="menu view-border-box">
	<ul>
		{{#discovery}}
			<li class="{{class}}">
				{{#components}}
					<a href="{{href}}" class="{{class}}" data-event-name="{{data-event-name}}">{{text}}</a>
				{{/components}}
			</li>
		{{/discovery}}
	</ul>
	<ul>
		{{#personal}}
			<li class="{{class}}">
				{{#components}}
					<a href="{{href}}" class="{{class}}" data-event-name="{{data-event-name}}">{{text}}</a>
				{{/components}}
			</li>
		{{/personal}}
	</ul>
	<ul class="hlist">
		{{#sitelinks}}
			<li class="{{class}}">
				{{#components}}
					<a href="{{href}}" class="{{class}}" data-event-name="{{data-event-name}}">{{text}}</a>
				{{/components}}
			</li>
		{{/sitelinks}}
	</ul>
</div>
