@import 'mobile.variables';

@smallIconSize: 24px;
@largeIconSize: 50px;

.mw-mf-cleanup {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	color: @colorGray7;
}

// overlay styles
.overlay-cleanup {

	.cleanup {
		li {
			border-bottom: solid 1px @grayLight;
			.issue-notice {
				padding: @smallIconSize @smallIconSize @smallIconSize 0;
				.mw-ui-icon {
					float: left;
				}
			}
			.hide-when-compact {
				display: block;
				font-size: 0.9em;
				margin: 8px 0;
			}
		}
	}
	.issue-details {
		padding-left: @smallIconSize * 2.5;
		// assume date
		small i {
			color: @colorGray7;
		}
	}
}
