@searchBarPaddingLeft: 40px;
@searchBarPaddingRight: 40px;
@searchResultPaddingVertical: 12px;
@searchBoxColor: #fafafa;
@headerHeight: 46px;
@headerElementHeight: @headerHeight - 16;
@headerBorderBottom: #e3e3e3;
@menuWidth: 16em;

@grayDark: #565656;
@grayMid: #a6a6a6;
@grayLight: #c6c6c6;

// page actions
@watchStarSize: 22px;

// FIXME: rename to contentMargin and remove one of those, they're always the same
@contentMarginRight: 16px;
@contentMarginLeft: @contentMarginRight;

// colors
@blueBase : #3366BB;
@greenBase : #008740;
// note this is also used for red links
@redBase : #CC0000;
@overlayContentBackground: white;
@mainMenuBackgroundColor: #4E4E4E;

@overlayHeadingIndent: 0.4em;
@ribbonopencolor:#4B7DCE;
@ribbon-color:#3366BA;
@fontFamily: "Helvetica Neue", "Helvetica", "Nimbus Sans L", "Arial", "Liberation Sans", sans-serif;
@fontFamilyHeading: Georgia, serif;
@fontScalingFactor: 0.9;
// FIXME: Deprecate use of @baseFontSize;
@baseFontSize: 1em;
@headingMargin: .5em;
@sectionBorderColor: #E2E3E4;
@sectionIconWidth: 30px;

// information messages, e.g. empty watchlist message
@infoColor: #707070;

// images
@ajaxLoadingImage: url(../common/images/ajax-loader.gif);

// calculated values
@secondaryNavWidth: @headerElementHeight;

// calculated colors
@searchBoxColorTo: darken( @searchBoxColor, 2.75% );
