.svn
*~
*.kate-swp
.*.swp
.idea/
/.storybook/mediawiki-skins-MinervaNeue/
/.storybook/resolve-less-imports/
node_modules/
tmp/
/docs/js/
/docs/lcov-report/
/docs/lcov.info
/docs/php/
/docs/ui/
dev-scripts/remotes
/vendor
/composer.lock
/composer.phar
.DS_Store
tests/report
.bundle/
resources/dist/
/.nyc_output/
/tests/selenium/log
/.eslintcache
.vscode
