.svn
*~
*.kate-swp
.*.swp
.idea/
node_modules/
tmp/
/docs/*
!/docs/*.md
dev-scripts/remotes
/vendor
/composer.lock
/composer.phar
.DS_Store
tests/report
.bundle/
resources/dist/
/coverage/
/.nyc_output/
/.eslintcache
.vscode
/.stylelintcache
