{
	"rules": {
		"indentation": [ "tab" ],
		"max-empty-lines": 1,
		"no-eol-whitespace": true,
		"no-missing-eof-newline": true,

		"color-hex-case": [ "lower" ],
		"color-hex-length": [ "short" ],
		"color-named": [ "never" ],
		"color-no-invalid-hex": true,

		"font-family-name-quotes": [ "single-unless-keyword" ],
		"font-weight-notation": [ "named-where-possible" ],

		"string-no-newline": true,
		"string-quotes": [ "single" ]
	}
}
