{
	"rules": {
		"indentation": [ "tab" ],
		"max-empty-lines": 1,
		"no-eol-whitespace": true,
		"no-missing-eof-newline": true,

		"color-hex-case": [ "lower" ],
		"color-hex-length": [ "short" ],
		"color-named": [ "never" ],
		"color-no-invalid-hex": true,

		"font-family-name-quotes": [ "single-unless-keyword" ],
		"font-weight-notation": [ "named-where-possible" ],

		"function-calc-no-unspaced-operator": true,
		"function-comma-newline-after": "never-multi-line",
		"function-comma-newline-before": "never-multi-line",
		"function-comma-space-after": [ "always" ],
		"function-comma-space-before": [ "never" ],
		"function-parentheses-newline-inside": [ "never-multi-line" ],
		"function-parentheses-space-inside": [ "always" ],
		"function-url-quotes": [ "none" ],
		"function-whitespace-after": [ "always" ],

		"string-no-newline": true,
		"string-quotes": [ "single" ],

		"media-query-parentheses-space-inside": [ "always" ]
	}
}
