{
	"extends": "stylelint-config-wikimedia",
	"rules": {
		"value-border-zero": null,
		"number-leading-zero": null,
		"declaration-no-important": null,
		"no-descending-specificity": null,
		"selector-list-comma-newline-after": null,
		"selector-no-id": null
	}
}
