<div class="header">
	<button class="cancel">{{closeMsg}}</button>
	<ul class="button-bar">
		<li><button class="prev-section">{{previousMsg}}</button>
		<li><button class="next-section">{{nextMsg}}</button>
	</ul>
</div>
<div class="spinner loading"></div>
<textarea cols="40" rows="10"></textarea>
<div class="position-fixed buttonBar initial-bar">
  <button class="cancel">{{cancelMsg}}</button>
	<button class="preview">{{previewMsg}}</button>
  <button class="save" disabled>{{saveMsg}}</button>
</div>
<div class="position-fixed buttonBar confirm-bar">
  <p class="count"></p>
  <p>{{{licenseMsg}}}</p>
  <button class="cancel">{{cancelMsg}}</button>
	<button class="preview">{{previewMsg}}</button>
  <button class="confirm-save">{{confirmMsg}}</button>
</div>
<div class="position-fixed buttonBar saving-bar loading">
  <p>{{waitMsg}}</p>
</div>
