<div class="header">
	<button class="close escapeOverlay">{{closeMsg}}</button>
	<div class="search-box">
		<input type="search" class="search" placeholder="{{placeholder}}">
	</div>
</div>
<div class="languageOverlay">
	<p class="mw-mf-overlay-header">{{{variantHeader}}}</p>
	<ul>
		{{{variantItems}}}
	</ul>
	<p class="mw-mf-overlay-header">{{{header}}}</p>
	<ul>
		{{{languageItems}}}
	</ul>
	<p class="mw-mf-overlay-footer" style="display:none">
		<a href="{{languagesLink}}">{{languagesText}}</a>
	</p>
</div>
