<div class="header">
	<button class="cancel">{{closeMsg}}</button>
	<div class="search-box">
		<input type="search" class="search" placeholder="{{placeholder}}">
	</div>
</div>
{{#variantHeader}}
<p class="mw-mf-overlay-header">{{{variantHeader}}}</p>
<ul class="actionable">
	{{#variants}}
		<li>
			<a href="{{url}}" hreflang="{{lang}}" lang="{{lang}}"><span>{{langName}}</span>{{#pageName}}  ({{pageName}}){{/pageName}}</a>
		</li>
	{{/variants}}
</ul>
{{/variantHeader}}
{{#header}}
<p class="mw-mf-overlay-header">{{{header}}}</p>
<ul class="actionable">
	{{#languages}}
		<li {{#preferred}}class="preferred"{{/preferred}}>
			<a href="{{url}}" hreflang="{{lang}}" lang="{{lang}}"><span>{{langName}}</span>{{#pageName}} ({{pageName}}){{/pageName}}</a>
		</li>
	{{/languages}}
</ul>
{{/header}}
<p class="mw-mf-overlay-footer" style="display:none">
	<a href="{{languagesLink}}">{{languagesText}}</a>
</p>
