<div class="header">
	<button class="cancel escapeOverlay">{{closeMsg}}</button>
	{{#directionUrl}}<a href="{{directionUrl}}">{{directionLabel}}</a>{{/directionUrl}}
</div>
<p class="message">
	<a href="{{url}}" class="read-in-full">{{readMoreLink}}</a>
</p>
<div class="content">
	<div class="listThumb {{imgClass}}" {{#imageUrl}}style="background-image: url({{imageUrl}})"{{/imageUrl}}></div>
	<h2>{{heading}}</h2>
	<div class="preview">{{{preview}}}</div>
	<p><a href="{{url}}">{{readMoreLink}}</a></p>
</div>
