<div class="header">
	<button class="cancel escapeOverlay">{{closeMsg}}</button>
	<h2>
		{{topicAdd}}
	</h2>
</div>
<div class="content">
	<h3><input type="text" class="search" placeholder="{{topicTitlePlaceHolder}}"></h3>
	<textarea cols="40" rows="10" placeholder="{{topicContentPlaceHolder}}"></textarea>
</div>
<div class="position-fixed buttonBar button-bar-centered confirm-bar">
	<p class="count"></p>
	<p>{{{licenseMsg}}}</p>
	<button class="cancel">{{cancelMsg}}</button>
	<button class="confirm-save">{{confirmMsg}}</button>
</div>
