<div class="cta-holder">
	<div class="{{userImageClass}}"></div>
	<h3>{{ctaHeading}}</h3>
	<div class="desc">{{ctaDescription}}</div>
	<div>
		<a href="{{editUrl}}" data-section="{{editSection}}" class="mw-ui-progressive edit-link {{createPageLinkAdditionalClasses}}">{{createPageLinkLabel}}</a>
	</div>
</div>
