@import '../../../mobile.less/mobile.variables.less';

@drawerPadding: 20px;

.drawer.references-drawer {
	background-color: @colorGray1;
	color: @colorGray12;
	max-height: 50%; // on tablet this will become capped at 400px
	overflow-y: auto;
	padding: @drawerPadding;

	.mw-ui-icon:before {
		opacity: 0.5;
	}

	a {
		color: #69f;
	}

	.references-drawer__header {
		padding-bottom: 20px;

		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	.references-drawer__title {
		color: @colorGray7;
		cursor: default;
		letter-spacing: 0.2em;
		font-size: 0.75em;
		padding-top: 0.25em;
		text-transform: uppercase;
	}

	.cancel {
		@extraPadding: 1em;
		cursor: pointer;
		font-size: 0.8em;  // we want a smaller icon
		// Compensate for the padding.
		// Top and bottom margins are for the padding we're adding below.
		// The right margin is for the 1em margin of icon:before
		margin: -@extraPadding -@extraPadding -@extraPadding 0; /* stylelint-disable-line value-keyword-case */
		// Make the tappable area bigger. No need to add left and right paddings because
		// the icon:before already has 1em margin on both sides
		padding: @extraPadding 0;
		position: absolute;
		right: @drawerPadding;
		top: @drawerPadding;
	}

	.mw-cite-backlink {
		display: none;
	}

	.reference-text {
		line-height: 1.4;
	}
}

@media all and ( min-width: @width-breakpoint-tablet ) {
	.drawer.references-drawer {
		max-height: 400px;
	}
}
