@import 'mediawiki.skin.variables.less';
@import '../../../mobile.less/mobile.variables.less';
@import 'mediawiki.mixins.less';

@drawerPadding: 20px;

.drawer.references-drawer {
	background-color: #000;
	color: #c8ccd1;
	max-height: 50%; // on tablet this will become capped at 400px
	overflow-y: auto;
	padding: @drawerPadding/2 @drawerPadding @drawerPadding @drawerPadding;

	a {
		color: #69f;
	}

	a.new {
		color: @color-link-red;
	}

	img {
		background: @color-inverted-fixed;
	}

	.references-drawer__header {
		.flex-display();
		align-items: center;
		padding-bottom: @drawerPadding;
	}

	.references-drawer__title {
		color: @color-subtle;
		cursor: default;
		letter-spacing: 0.2em;
		font-size: 0.75em;
		text-transform: uppercase;
		margin-left: 1em;
		flex-grow: 1;
	}
}

@media all and ( min-width: @width-breakpoint-tablet ) {
	.drawer.references-drawer {
		max-height: 400px;
	}
}

.mf-icon-reference {
	.cdx-mixin-css-icon( @cdx-icon-reference, @param-is-button-icon: false,
	@param-fill-color: @color-subtle, @param-size-icon: @size-icon-small );
}

.mf-icon-close-small {
	.cdx-mixin-css-icon( @cdx-icon-close, @param-is-button-icon: false,
	@param-fill-color: #a2a9b1, @param-size-icon: @size-icon-small );
}
