@import '../../mobile.less/mobile.variables.less';

.image-list {
	margin-top: 20px;

	li {
		list-style: none outside none;
		text-align: center;
		padding-bottom: 20px;

		p { // description
			color: @colorGray5;
			line-height: 1.2;
		}
	}
}

@media all and ( min-width: @width-breakpoint-tablet ) {
	.image-list {
		margin: auto;
	}
}
