<div class="mobileoption">
	<div class="mw-ui-checkbox">
		<input type="checkbox" name="{{name}}" id="{{name}}-toggle" {{checked}}>
		<label for="{{name}}-toggle">
			{{label}}
		</label>
	</div>
	<div class="option-description">
		{{description}}
	</div>
</div>
