<div class="header">
  <button class="cancel">{{closeMsg}}</button>
  <ul class="button-bar">
    <li><button class="prev-section">{{previousMsg}}</button>
      <li><button class="next-section">{{nextMsg}}</button>
  </ul>
</div>
<div class="loading"></div>
<textarea cols="40" rows="10"></textarea>
<div class="buttonBar initial-bar">
  <button class="cancel">{{cancelMsg}}</button>
  <button class="save" disabled>{{saveMsg}}</button>
</div>
<div class="buttonBar confirm-bar">
  <p class="count"></p>
  <p>{{{license}}}</p>
  <button class="cancel">{{cancelMsg}}</button>
  <button class="confirm-save" disabled>{{confirmMsg}}</button>
</div>
