<div class="header">
  <button class="cancel">{{closeMsg}}</button>
  <ul class="button-bar">
    <li><button class="prev-section">Previous</button>
    <li><button class="next-section">Next</button>
  </ul>
</div>
<div class="loading"></div>
<textarea cols="40" rows="10"></textarea>
<div class="buttonBar initial-bar">
  <button class="cancel">Cancel</button>
  <button class="save" disabled>Save</button>
</div>
<div class="buttonBar confirm-bar">
  <button class="cancel">Cancel</button>
  <button class="confirm-save" disabled>Confirm</button>
</div>
