@import 'mediawiki.skin.variables.less';
@import '../../mobile.less/mobile.variables.less';

/*
If the Minerva skin is active, inset the banner content to match the top header.
This copies styles and variables from minerva.variables.less.
*/

@minerva-max-width-content-tablet: 993.3px;
@minerva-padding-content: 16px;

.mw-mf-return-to-app-banner {
	padding: 0 @minerva-padding-content;
}

.mw-mf-return-to-app-banner-content {
	margin: 0 auto;
	width: 100%;
	max-width: @minerva-max-width-content-tablet;

	& > :first-child {
		.cdx-mixin-button-layout-flush( 'start' );
	}

	& > :last-child {
		.cdx-mixin-button-layout-flush( 'end', true );
	}
}

@media screen and ( min-width: @minerva-max-width-content-tablet ) {
	.mw-mf-return-to-app-banner-content {
		width: 90%;
	}
}
