@import 'mediawiki.skin.variables.less';
@import '../../mobile.less/mobile.variables.less';

// FIXME: Is `.error` used appropriately or could it be remove/moved to core classes?
.error {
	color: @color-error;
}

.mw-mf-icon {
	.cdx-mixin-css-icon-background();
	.cdx-mixin-css-icon-size();
	.cdx-mixin-css-icon-alignment();
	font-size: 14px;
	display: inline-flex;
}

.page-list {
	margin: 0;
}

.ns-special {
	ul {
		list-style: none;
	}

	.content-header {
		padding: 0 0 20px;
		border-bottom: @border-width-base @border-style-base @border-color-subtle;

		ul {
			&::after {
				content: ' ';
				clear: both;
				display: block;
			}
		}

		h2 {
			padding: 0;
			font-size: 1.1em;
			font-weight: bold;
			border-bottom: 0;
		}
	}

	.content {
		// don't apply these styles to headings in message boxes
		> h2 {
			text-align: center;
			margin: 0.7em 0;
			font-size: 1.1em;
			color: @color-subtle;
		}
	}

	.error {
		h2 {
			margin-top: 0;
			text-transform: none;
		}
	}
}
