// Forms and their elements.
// Partly inspired by normalize.css and sanitize.css.
@import '../../mobile.less/mobile.variables.less';

fieldset {
	// Reset `margin` and `border` (opinionated).
	margin: 0;
	border: 0;
	font-size: 0.9em;

	.htmlform-tip {
		display: none;
	}

	.mw-label,
	.mw-ui-checkbox {
		font-size: 0.9em;
		font-style: italic;
	}

	fieldset {
		margin: 0 0 1em 0.3em;
	}
}

legend {
	color: @grayMedium;
	// Remove `padding` for better positioning (normalized).
	padding: 0;
	font-size: 0.8em;
	font-weight: bold;
}

button,
input,
select,
textarea {
	// Support Firefox, Safari: Remove `margin` (normalized).
	margin: 0;
	// Inherit `font-family` styling in all browsers (opinionated).
	font-family: inherit;
	font-size: 100%;
	// Inherit `line-height` styling in all browsers (opinionated).
	line-height: inherit;
	// Vertical align all elements to `baseline`.
	vertical-align: baseline;
}

button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

input {
	line-height: normal;
}

// For old style forms
// Special:MovePage?target=San%20Francisco
// Special:Import
// Special:NewPages
// Special:RecentChanges
// Special:Prefixindex
// Special:Contributions
// Special:ChangePassword
// Special:ChangeEmail
// Special:Allpages
/* stylelint-disable indentation */
.mw-input [ type='submit' ],
.mw-submit {
	margin-top: 8px;
	min-width: 80%;
}
/* stylelint-enable indentation */
