/* stylelint-disable selector-max-id */
// Styles based on https://gerrit.wikimedia.org/r/c/mediawiki/skins/MinervaNeue/+/933628/12/skinStyles/mediawiki.special.userlogin.common.styles/minerva.less#b38
#mw-mf-login,
#mw-mf-accountcreate,
#userloginForm {
	.mw-mf-watermark {
		text-align: center;
		height: 72px;
		margin-bottom: 0.5em;

		img {
			// Important to override default max-width and height auto combo
			height: 72px !important;
		}
	}
}
