#mw-mf-header {
	margin-top: 0; /* interferes with results positioning in blackberry 9300 (5.0.0.176)*/
}

#mw-mf-logo {
	z-index: 1; /* see bug 36384 (blackberry 9300) */
}

/* blackberry 9300 search box rendering fixes */
#mw-mf-searchForm {
	padding-left: 22px !important;
}

#mw-mf-search {
	left: 40px;
	top: 12px;
}
