#mw-mf-searchForm #goButton {
	border: 0;
	background: url(images/s.gif) no-repeat top left;
	height: 25px;
	width: 27px;
}

#mw-mf-nav {
	margin-top: 8px;
}

/* avoid float issues in fennec caused by MediaWiki:Common.css definition */
div.tright,
div.floatright,
table.floatright {
	clear: none !important;
	float: none !important;
}
