table { /* table[style] not supported */
	float: none !important;
	margin-left: 0 !important;
	width: 100% !important;
	overflow-y: scroll;
}

tbody {
	height: 200px;
}

.mwm-notice {
	text-align: left;
}

.mwm-message.mwm-notice {
	display: none;
}

a.arrow {
	float: right;
	margin-right: 5px;
}

span.idx {
	display: none;
}
