@media screen and (-webkit-device-pixel-ratio: 1.5) {
	#goButton {
		background-image: url(images/s-hdpi.png) !important;
	}
}
@media screen and (-webkit-device-pixel-ratio: 2.0) {
	#goButton {
		background-image: url(images/s-xhdpi.png) !important;
	}
}

.supportsPositionFixed #mw-mf-main-menu-button {
	position: fixed;
}

.supportsPositionFixed.navigationEnabled #mw-mf-main-menu-button {
	position: absolute;
}

