@import 'minerva.variables';

.heading-holder {
	@pageActionsHeight: @pageActionFontSize + (2 * @iconGutterWidth);

	overflow: hidden;
	position: relative;
	padding-bottom: @pageActionsHeight;
}

#page-actions {
	position: absolute;
	float: none;
	bottom: 0;
	width: 100%;

	border-top: 1px solid @colorGray14;
	border-bottom: 1px solid @colorGray12;

	// align the left and right icons with the left and right borders respectively
	margin: 0 -@iconGutterWidth;
	padding: 0.5em 0;

	li {
		display: inline-block;
		margin-bottom: 0;
		float: right;

		&:first-child {
			margin-top: 0;
		}
	}

	#language-switcher {
		float: left;

		&.disabled {
			cursor: default;
			opacity: 0.25;
		}
	}
}

@media all and ( min-width: @deviceWidthTablet ) {
	#page-actions {
		position: initial;
		float: right;
		width: auto;
		border: none;
		margin: 0 0 @iconGutterWidth @iconGutterWidth;
	}

	#language-switcher {
		float: none;
	}
}
