@import 'minerva.variables';
@import 'minerva.mixins';

#content {
	border-top-color: @chromeContentSeparator;
}

.header-container {
	background-color: @chromeColor;
}

.search-overlay,
.header {
	.search {
		padding: .5em 28px;
		// FIXME: share this file with the similar file in mobile.languages.structured
		.background-image-svg( 'magnifying-glass.svg', '' );
		background-position: 7px center;
		background-repeat: no-repeat;
		background-size: 20px 20px;
		border-radius: @borderRadius;
		box-shadow: 0 1px 1px rgba( 0, 0, 0, .05 );
	}
}

.client-use-basic-search,
.client-nojs {
	.search-box {
		.button-wrapper {
			background-color: @colorProgressive;
			border-radius: .2em;
			cursor: pointer;
			float: right;
			margin-left: .5em;
			padding: .375em 0;
		}
		.fulltext-search {
			opacity: 0;  // the enclosing div is an icon, no need to show the text
			padding: 0;
		}
		.input-wrapper {
			overflow: hidden;
		}
		.search {
			margin-right: 0;
			padding: .5em .1em .5em 2em; // 2em - space for the magnifying glass icon
			width: 100%;
		}
	}
}