<div class="profile content">
	{{#hasActivity}}<h2>{{heading}}</h2>{{/hasActivity}}
	<div class="card-container">
	{{#cards}}
	{{{.}}}
	{{/cards}}
	</div>
	<div class="footer">
		<div>{{{editsSummary}}}</div>
		<div>{{{linkUserPage}}}</div>
		{{{linkTalk}}}
	</div>
</div>