@import "../mixins.less";

.mw-mf-overlay .message {
	font-size: 1.2em;
	text-align: center;
	padding: 8px;
	border-bottom: solid 1px @headerBorderBottom;
}

ul.a-to-z {
	li {
		.proximity {
			font-size: .8em;
			text-transform: none;
		}
	}
}

// FIXME: has to be button to have precendence over button styling. Would be nice to be just .refresh
button.refresh {
	background: rgba(0, 0, 0, 0) url(images/refresh.png) no-repeat center center;
}

.client-js {
	// note this also means non-ResourceLoader enabled browsers hence not using tag
	.noscript {
		display: none;
	}
}

.mw-mf-overlay .content .listThumb {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 20px;
}
