@import "../mf-mixins.less";

ul.a-to-z {
	li {
		.listThumb.needsPhoto {
			background-image: url(images/camera.png);
			.background-size( 50%, auto );
		}

		.proximity {
			position: absolute;
			right: 12px;
			top: 0;
			padding-top: @articleListPaddingTop;
			font-weight: bold;
			color: #000;
			font-size: @baseFontSize * 1.2;
			height: 100%;
			vertical-align: middle;
		}
	}
}
