@import '../mf-variables.less';

// FIXME: Echo's HTML is bad
#mw-echo-special-container {
	list-style: none;

	.mw-echo-date-section {
		font-family: @fontFamilyHeading;
		font-size: 1.16em;
	}

	.mw-echo-notification {
		margin: .5em 0 1em;
	}
}

.mw-echo-unread .mw-echo-title {
	font-weight: bold;
}
