@import "../mf-mixins.less";

/* carousel css */
.overlay-carousel {
	height: 100%;
}

.carousel {
	@buttonPadding: 4px;

	position: relative;
	background-color: #006398;
	color: white;
	height: 100%;
	padding-left: @contentMarginRight;
	padding-right: @contentMarginRight;
	.box-sizing( border-box );

	> button {
		padding: 0;
		visibility: hidden;
		border: none;
		text-indent: -9999px;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: @searchBarPaddingLeft;
		bottom: 0;

		&.prev {
			left: @buttonPadding;
			background: url(images/uploads/chevron_left.png) 20% center no-repeat;
			.background-size( auto, 20px );
		}

		&.next {
			right: @buttonPadding;
			background: url(images/uploads/chevron_right.png) 80% center no-repeat;
			.background-size( auto, 20px );
		}

		&.active {
			visibility: visible;
		}
	}

	button.cancel {
		color: #006398;
		padding: 12px;
		border: none;
		background-color: #F0F0F0;
		font-weight: bold;
		.border-radius( 0 );
	}

	@imageHeight: 180px;
	.page {
		padding: @imageHeight 0 0 0;
		text-align: center;
		background-size: auto @imageHeight;
		background-repeat: no-repeat;
		background-position: center 0;
		top: 10px;
		left: 100%;
		bottom: 0;
		width: 100%;
		position: absolute;
		visibility: hidden;

		&.active {
			visibility: visible;
			left: @contentMarginLeft;
		}

		p, strong {
			line-height: 1.4;
		}

		strong {
			display: block;
			font-size: 1.1em;
			margin: 0 26px 16px;
		}

		p {
			font-size: 0.9em;
			margin: 0 26px;
		}

		&.page-1 {
			background-image: url(images/uploads/SplashScreen1.png);
		}

		&.page-2 {
			background-image: url(images/uploads/SplashScreen2.png);
		}

		&.page-3 {
			background-image: url(images/uploads/SplashScreen3.png);
		}
	}
}

.ctaUploadPhoto {
	padding: 8px;
	background-color: #F3F3F3;
	border-bottom: 1px solid #E2E2E2;

	h2 {
		font-size: 1.25em;
		margin: 0 0 .5em;
		text-align: center;
	}
}

// Make things slide!
.slideable {
	width: 100%;
	overflow: hidden;
	.slider {
		position: absolute;
		&.slider-left {
			left: -100%;
		}
		&.active {
			left: 0;
			position: relative;
		}
		&.slider-right {
			left: 100%;
		}
	}

}

.animations .beta,
.animations .alpha {
	.slideable {
		.slider {
			left: 0;
			.transition( @duration: .5s );

			&.slider-left {
				.transform( translate3d(-100%, 0, 0) )
			}

			&.slider-right {
				.transform( translate3d(100%, 0, 0) )
			}
		}
	}
}

ul.mobileUserGallery {
	// FIXME: this shouldn't be needed with reset.css
	list-style: none;
	margin: 20px @contentMarginRight 0 @contentMarginLeft;

	li {
		text-align: center;
		padding-bottom: 20px;

		img {
			max-width: 100%;
			max-height: auto;
		}

		p { // description
			color: #565656;
			line-height: 1.2;
		}
	}
}
