@import "../mf-variables.less";

.ctaUploadPhoto {
	padding: 8px;
	background-color: #F3F3F3;
	border-bottom: 1px solid #E2E2E2;

	h2 {
		font-size: 1.25em;
		margin: 0 0 .5em;
		text-align: center;
	}
}

ul.mobileUserGallery {
	// FIXME: this shouldn't be needed with reset.css
	list-style: none;
	margin: 20px @contentMarginRight 0 @contentMarginLeft;

	li {
		text-align: center;
		padding-bottom: 20px;

		img {
			max-width: 100%;
			max-height: auto;
		}

		p { // description
			color: #565656;
			line-height: 1.2;
		}
	}
}
