@import "../mixins.less";

// This serves no purpose on the login screen as you are not logged in so cannot use.
#user-button {
	display: none;
}

#mw-mf-login,
#mw-mf-accountcreate {
	.watermark {
		text-align: center;
		height: 72px;
		width: 100%;
		margin-bottom: @headingMargin;
		img {
			height: 72px;
			width: auto;
		}
	}

	.headmsg {
		background-color: #eee;
		border: 1px solid #ccc;
		color: #252525;
		font-weight: bold;
		padding: 0.5em 1em;
		margin: 1em 0;
	}
}

#mw-mf-accountcreate {
	.alert {
		margin-left: 0;
		margin-right: 0;
	}
}

/* sign up form */
form.user-login {
	padding-bottom: 12px;

	input {
		width: 100%;
	}

	div.wpInputs,
	div.wpCaptcha {
		border: solid 1px #E1E1E1;
		border-radius: 5px;

		input {
			-webkit-appearance: none;
			border: none;
			padding: .8em .5em;
			border-bottom: solid 1px #E1E1E1;
			border-radius: 0;
			.box-sizing( border-box );

			&:last-child {
				border-bottom: none;
			}
		}
	}

	div.wpCaptcha {

		input {
			border-bottom: none;
		}

		img.wpCaptcha {
			display: block;
			margin: auto;
		}
	}

	div.wpCaptcha,
	#wpLoginAttempt,
	#wpCreateaccount {
		margin: 12px 0 0;
	}

	.mw-mf-create-account {
		padding-top: 12px;
		display: block;
		text-align: center;
	}
}
