@import 'mediawiki.skin.variables.less';

.abandon-survey {
	text-align: left;

	&-close {
		float: right;
		margin-right: 0;
	}

	h5 {
		font-weight: @font-weight-bold;
		margin: 0;
		line-height: @size-icon-medium;
	}

	form {
		padding: @spacing-75;

		.oo-ui-buttonWidget {
			display: block;
			margin-top: @spacing-75;

			.oo-ui-buttonElement-button {
				width: 100%;
			}
		}
	}
}
