@import 'mediawiki.mixins.less';
@import 'mediawiki.ui/variables.less';

.editor-overlay-ve {
	// OOjs UI overrides these defaults
	.header-action,
	.header-cancel {
		display: none;
	}

	.content {
		// We don't need display:table as there are no edit/collapse buttons
		// Also display:table causes CE issues in Mobile Safari (T202991)
		h1, h2, h3, h4, h5, h6 {
			display: block;
			// Match section edit icon from read mode
			// TODO: Move this to a Minerva-specific file
			min-height: 24px;

			// MinervaNeue applies display:table-cell to these spans, aiming for the
			// edit-pencils but spilling onto this. It's easier to undo that here than
			// target just that aspect more specifically. (T229744)
			// TODO: Move this to a Minerva-specific file
			> span {
				display: inline;
			}
		}
	}

	.overlay-content {
		padding-top: 0;

		.surface {
			overflow: hidden;
		}
	}
}
