{{! apparently this is needed, otherwise the #tags loop won't work }}
{{! FIXME: remove when https://phabricator.wikimedia.org/T101918 is resolved }}
{{#fixme}}{{/fixme}}
<aside class="browse-tags">
	<h4>{{headerMsg}}</h4>
	<ul class="browse-tags-list">
		{{#tags}}
			<li class="browse-tag"><a href="{{link}}">{{msg}}</a></li>
		{{/tags}}
	</ul>
</aside>
