@import "minerva.mixins";
@import "minerva.variables";

.wikigrok {
	clear: both;
	margin-top: 1em;
	text-align: center;
	background-color: @grayLightest;
	display: none;

	.content {
		padding: 1em @contentMargin;
		margin: 0;
	}

	&.visible {
		display: block;
	}

	.wg-close {
		position: absolute;
		top: 0;
		right: 0;
	}

	.wg-header {
		margin-top: 0;
		color: @grayMedium;
		font-size: 95%;
		text-align: left;
	}

	@bottomMargin: .8em;
	.wg-content {
		font-size: 120%;
		line-height: 1.2;
		font-weight: bold;
		margin-bottom: @bottomMargin;
		text-align: left;
	}

    .wg-link {
		@imageSize: 6em;
		padding-top: @imageSize;
		margin-bottom: @bottomMargin;
		background-repeat: no-repeat;
		.background-size( auto, @imageSize );
		background-position: center top;
		.background-image-svg-quick('images/heart');

		a {
			margin-top: 1em;
		}
	}

	.wg-buttons {
		margin-bottom: .6em;
		text-align: center;

		// For enwiki prototype only
		.cancel,
		.proceed {
			width: 125px;
		}
	}

	.tags {
		margin-bottom: .6em;
		text-align: left;
	}


	.wg-notice {
		font-size: 90%;
		margin-bottom: 0;
		text-align: left;
	}

	.footer {
		position: relative;
		text-align: left;
		padding: .6em 0;

		.spinner,
		.mw-ui-button {
			top: 0;
			right: 0;
			position: absolute;
			bottom: 0;
		}

		.license {
			display: inline-block;
			margin-right: 4.5em;
		}

		.spinner {
			height: auto;
			margin-right: .45em;
		}
	}
}
