@import "minerva.mixins";
@import "minerva.variables";

.wikigrok {
	clear: both;
	margin-top: 1em;
	text-align: center;
	background-color: @grayLightest;
	display: none;

	.content {
		padding: 1em @contentMargin;
		margin: 0;
	}

	&.visible {
		display: block;
	}

	.wg-close {
		position: absolute;
		top: 0;
		right: 0;
	}

	@bottomMargin: .8em;
	.wg-content {
		font-size: 120%;
		line-height: 1.5;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: .6em;
		text-align: left;
	}

    .wg-link {
		@imageSize: 5em;
		padding-top: @imageSize;
		margin-bottom: @bottomMargin;
		background-repeat: no-repeat;
		.background-size( auto, @imageSize );
		background-position: center top;
		.background-image-svg-quick('images/heart');

		a {
			margin-top: 1em;
		}
	}

	.wg-buttons {
		margin-bottom: .6em;
		text-align: center;

		// For enwiki prototype only
		.cancel,
		.proceed {
			width: 125px;
		}
	}

	.tags {
		margin-bottom: .6em;
		text-align: left;
	}

	.wg-notice {
		font-size: .8em;
		margin-bottom: 0;
		margin-top: 1em;
		text-align: left;
	}

	.footer {
		position: relative;
		text-align: left;
		padding: .2em 0;
		margin-top: .8em;

		.mw-ui-button {
			top: 0;
			right: 0;
			position: absolute;
			bottom: 0;
		}

		.next {
			display: none;
		}

		.license {
			display: inline-block;
			// Needs to be larger than "None of these" button
			// FIXME: Redo footer layout so it isn't necessary to hard-code this.
			margin-right: 11.5em;
			font-size: 0.8em;
			color: @grayMediumDark;
			// Needs to be at least as tall as button since button is absolutely
			// positioned. This generally won't matter on mobile, but will on tablet.
			min-height: 3em;
		}
	}
}
