<div class="mw-mf-diff-info">
	<h2 class="mw-mf-diff-info__link-latest">
		<a href="{{articleUrl}}">{{articleLinkLabel}}</a>
		<a href="{{actionLinkUrl}}">({{actionLinkLabel}})</a>
	</h2>
	<h3 class="mw-mf-diff-info__link-revision">
		<a href="{{revisionUrl}}">{{revisionLinkLabel}}</a>
	</h3>
	<span class="{{sizeClass}}">
		<span>{{bytesChanged}}</span>
	</span><span class="mw-mf-diff-date">
		{{separator}}&nbsp;<span>{{bytesChangedTimeDate}}</span>
	</span>
</div>
