/* GOAL: Upstream all these variables to core */
@import 'mediawiki.skin.variables.less';

@size-icon: 1.5em;
@width-icon-gutter: 1em;

// z-index definitions (see T66707)
@z-indexBase: 0;
@z-indexOverlay: 1;
@z-indexOverOverlay: 2;

// FIXME: To be moved to includes/Config in a follow up patch.
@wgMFDeviceWidthDesktop: 62.5em; // 1000px / 16 px;
