@import "minerva.variables";
@import "minerva.mixins";
@import "mediawiki.mixins";

.wikidata-banner-image {
	width: 100%;
	height: 360px;
	max-height: 360px;
	display: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	.background-size( e(''), cover);
}
