@import "../mf-mixins.less";

#edit-page {
	position: absolute;
	right: 0;
	top: 0;
}

.edit-overlay {
	textarea {
		width: 100%;
		min-height: 50%;
		margin: 0 0 5em;
		border: none;
		resize: none;
		.box-sizing( border-box );

		&:focus {
			outline: none;
		}
	}
}
