@import "minerva.variables";
@import "minerva.mixins";

.wikidata-infobox {
	position: relative;
	padding: 0 1em 2em;
	margin: 2em 0 0;
	border: solid 1px @grayLight;
	border-top: none;
	background-color: @grayLightest;

	img {
		max-width: 100px;
	}
}

@media all and (min-width: @wgMFDeviceWidthTablet) {
	.wikidata-infobox {
		margin: 0 auto;

		img {
			max-width: none;
		}
	}
}
