@import "minerva.variables";
@import "minerva.mixins";

.wikidata-infobox {
	position: relative;
	padding: 0 1em 2em;
	margin: 2em 0 0;
	border: solid 1px @grayLight;
	border-top: none;
	background-color: @grayLightest;

	img {
		max-width: 100px;
	}
}

.editor-interface {
	.wikidata-suggestion {
		em {
			display: block;
		}
	}
	.answers {
		div {
			// delete button
			button {
				margin-left: 8px;
			}
		}
	}
}

@media all and (min-width: @wgMFDeviceWidthTablet) {
	.wikidata-infobox {
		margin: 0 auto;

		img {
			max-width: none;
		}
	}
}
