@import "../mf-mixins.less";

button.languageSelector {
	margin-top: @headingMarginTop;
}

div.languageOverlay {
	.suggestions-results {
		padding-bottom: 0;
		.preferred {
			font-weight: bold;
		}
	}
}
