@import "../mixins.less";


.mw-mf-overlay {
	.container {
		// For loading spinner
		min-height: 100px;
	}

	.mw-echo-icon {
		width: 30px;
		height: 30px;
		float: left;
		margin-right: 10px;
	}
	.mw-echo-content {
		margin-left: 40px;
	}
}
