@import "minerva.variables";
@import "minerva.mixins";

.references {
	h3 {
		margin: 0;
		padding-right: 4px;
		display: inline;
	}

	.mw-cite-backlink {
		display: none;
	}

	// FIXME: Remove when mw-ui-icon in stable
	.icon {
		float: right;
		margin-top: .7em;
	}

	.mw-ui-icon {
		float: right;
		line-height: normal;
	}
}

.alpha,
.beta {
	.drawer.references {
		background-color: @colorGray1;
		color: @colorGray12;
		padding: 20px;

		&.text {
			font-size: 1em;
		}

		.cite {
			clear: both;
			padding-bottom: 20px;

			.icon {
				margin: 0;
			}

			.text {
				.background-image('../images/cite.svg');
				background-size: 24px 24px;
				background-repeat: no-repeat;
				color: @colorGray8;
				cursor: default;
				font-size: 0.75em;
				float: left;
				padding: 8px 0 0 24px;
				text-transform: uppercase;
				&.mw-ui-icon:before {
					margin-right: 0;
					width: 0;
				}
			}
			.cancel {
				background-size: 12px 12px;
				float: right;
				line-height: normal;
				height: 12px;
				width: 12px;
				&.mw-ui-icon {
					min-width: 12px;
				}
				&.mw-ui-icon:before {
					background-size: 12px 12px;
					margin: 0;
					min-height: 12px;
				}
			}
			&:after {
				content: "";
				display: table;
				clear: both;
			}
		}

		.mw-cite-backlink {
			display: none;
		}

		.reference-text {
			line-height: 1.2;
		}
	}
}
