/* Search and navigation menu
moved from beta_common.css in
Change-Id: Id7715a83f8dc42cbdb23d8cbf982801606236f7c
*/
@import "../mixins.less";
@clearWidth: 24px;

input.search {
	/* visual indication that search is happening */
	&.searching {
		background-color: #eee;
	}
	padding-right: @clearWidth;
}

form {

	.clear {
		top: 0;
		bottom: 0;
		right: 10px;
		width: @clearWidth;
		background: url(../common/images/close-button-beta.png) no-repeat scroll 100% 50%;
		.background-size( auto, 12px );
		cursor: pointer;
		position: absolute;
	}
}

.suggestions-results {
	.error {
		color: #666;
		border: none;
		border-bottom: solid 1px #eee;
		padding: 12px 40px;
		background: none;
		min-height: auto;
		font-size: 0.9em;
		p,
		.content {
			margin: 0;
		}
	}
}
