@import "../mf-mixins.less";


.alpha #page-actions #ca-talk.count a {
	text-indent: 0;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	color: #FFF;
	font-size: 9px; // FIXME: use pixels for time being as the icon in pixels.
}
