@import "../mf-mixins.less";
/* Tutorial overlay styling */

.tutorial {
	padding-left: @contentMarginRight;
	padding-right: @contentMarginRight;
	line-height: 1.4;
	font-size: 0.9em;
	background-color: #006398;
	color: white;
	height: 100%;

	@imageHeight: 180px;
	.slide {
		padding: @imageHeight 0 0 0;
		text-align: center;
		background-size: auto @imageHeight;
		background-repeat: no-repeat;
		background-position: center 0;
		top: 10px;
		left: 0;
		bottom: 0;
		width: 100%;
		position: absolute;

		p {
			font-size: 0.9em;
			margin: 0 26px;
		}

		.cancel {
			color: #006398;
			padding: 12px;
			border: none;
			background-color: #F0F0F0;
			font-weight: bold;
			border-radius: 0;
		}
	}

	.slide-image {
		background-image: url(images/tutorials/photos.png);
	}

}
