@import "minerva.variables";
@import "minerva.mixins";


@watchThisArticleSize: 48px;

// watchlist and search results
.page-list .watch-this-article {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -(@watchThisArticleSize / 2);
	width: @watchThisArticleSize;
	height: @watchThisArticleSize;
}

// FIXME: This shouldn't be needed. (but the icon looks smaller compared to beta, even though the SVG width is 24px)
.alpha {
	.page-list .watch-this-article {
		font-size: 1.1em;
	}
}

.animations {
	.mw-ui-icon.watch-this-article,
	.icon.watch-this-article {
		.transition-transform( .5s );

		&.mw-ui-icon-watched,
		&.icon-watched {
			.transform( rotate(72deg) );
		}
	}
}
