@import '../../mobile.less/mobile.variables.less';
@import 'mediawiki.ui/variables.less';

.errorbox,
.warningbox,
.successbox,
.mw-revision {
	color: @colorTextEmphasized;
	margin: 0 0 1em;
	padding-top: 1em;
	padding-bottom: 1em;

	// Box contents.
	h2 {
		font: bold 100% @fontFamilyBase;
		padding: 0;
		margin: 0 0 0.5em 0;
	}

	// Used e.g. in SourceEditorOverlay.
	a {
		margin-bottom: 1em;
	}
}

// `.warningbox, .mw-revision` are used for messages on login screen
// (They're more informational than actual warnings.)
// FIXME: standardise those two classes, `.mw-revision` should be removed;
//  `.warningbox` replaced by standard `.messagebox`.
.warningbox,
.mw-revision {
	background-color: @colorGray14;
	border: 1px solid @colorGray12;
}

// Used in Special:Nearby and Special:UserLogin.
.errorbox {
	background-color: @backgroundColorError;
	border: 1px solid @borderColorError;
}

.successbox {
	background-color: @backgroundColorSuccess;
}
