@import '../../mobile.less/mobile.variables';
@import 'mediawiki.ui/variables';

// `.previewnote p` is necessary for fallback editor preview.
// `.warningbox, .mw-revision` are used for messages on login screen
// (They're more informational than actual warnings.)
// FIXME: standardise latter two classes
.previewnote p,
.warningbox,
.mw-revision {
	border: 1px solid @colorGray12;
	background-color: @colorGray14;
	color: @colorGray2;
}

.successbox {
	color: @colorSuccessText;
	background: @colorSuccessBackground;
}

// Necessary for fallback editor preview.
.previewnote p,
.successbox,
.errorbox,
.warningbox,
.mw-revision {
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0 0 1em;
}

.successbox,
.errorbox,
.warningbox,
.mw-revision {
	h2 {
		font: bold 100% @fontFamily;
		padding: 0;
		margin: 0 0 0.5em 0;
	}

	// used e.g. in EditorOverlay
	a {
		margin-bottom: 1em;
	}
}

.errorbox {
	/**
	 * @wmui-color-red90 from wikimedia-ui-base.less
	 * https://phabricator.wikimedia.org/source/wikimedia-ui-base/browse/master/wikimedia-ui-base.less
	 */
	background-color: #fee7e6;
	color: @colorErrorText;
}
