@import '../../mobile.less/mobile.variables';
@import 'mediawiki.ui/variables';

// `.previewnote p` is necessary for fallback editor preview.
// `.warningbox, .mw-revision` are used for messages on login screen
// (They're more informational than actual warnings.)
// FIXME: standardise latter two classes
.previewnote p,
.warningbox,
.mw-revision {
	border: 1px solid @colorGray12;
	background-color: @colorGray14;
	color: @colorGray2;
}

// Necessary for fallback editor preview.
.previewnote p,
.successbox,
.errorbox,
.warningbox,
.mw-revision {
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0 0 1em;
}

.errorbox {
	background-color: @backgroundColorError;
	color: @colorTextEmphasized;
}

.successbox {
	background-color: @backgroundColorSuccess;
	color: @colorTextEmphasized;
}

.successbox,
.errorbox,
.warningbox,
.mw-revision {
	h2 {
		font: bold 100% @fontFamilyBase;
		padding: 0;
		margin: 0 0 0.5em 0;
	}

	// used e.g. in SourceEditorOverlay
	a {
		margin-bottom: 1em;
	}
}
