@media screen and (-webkit-device-pixel-ratio: 1.5) {
	#searchbox #goButton {
		background-image: url(images/s-hdpi.png) !important;
	}
}
@media screen and (-webkit-device-pixel-ratio: 2.0) {
	#searchbox #goButton {
		background-image: url(images/s-xhdpi.png) !important;
	}
}

#clearButton {
	display: none;
}

