html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 80%;
}

body {
	font-size: 1em;
	line-height: 1;
	color: black;
	background: white;
	font-family: sans-serif;
	word-break: break-word;
}

.clearlink {
	top: 9px;
	right: -18px;
	width: 18px;
	height: 20px;
	background: url(images/close-button-beta.png) no-repeat scroll 0 0 transparent;
	margin: 0;
	display: block;
	background-position: right center;
	background-size: auto 12px;
	cursor: pointer;
	position: absolute;
}

html[dir="rtl"] .clearlink {
	left: 0;
	right: auto;
}

#zero-rated-banner {
	position: relative;
	width: 100%;
	z-index: 99;
	background: #F4A83D;
	display: block;
	border-bottom: 1px solid #D6800C;
	padding: 7px 0;
	font-weight: bold;
	text-align: center;
	color: #735005;
}

#zero-rated-banner a {
	text-decoration: underline;
	color: #735005;
}

#zero-rated-banner-red {
	position: relative;
	width: 100%;
	z-index: 99;
	background: #FF0000;
	display: block;
	border-bottom: 1px solid;
	border-color: #000000;
}

#zero-rated-banner span.notify-close {
	background-color: #FAD163;
	float: right;
	margin-right: 20px;
	border: 2px solid #735005;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	display: block;
	cursor: pointer;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#zero-rated-banner span.notify-close a {
	text-decoration: none;
}

#zero-rated-banner-red #zero-rated-banner-text {
	margin: 0px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}

#zero-rated-banner-red a {
	text-decoration: underline;
	color: #ffffff;
}

#zero-rated-banner-text {
	margin: 0px;
	color: #735005;
	font-weight: bold;
	text-align: center;
}

.suggestions-result a {
	text-decoration: none;
	color: #666;
}

.suggestions-result a:visited {
	text-decoration: none;
	color:#666;
}

.suggestions-result a:hover {
	text-decoration: none;
	color:#666;
}
.suggestions-result a:active {
	text-decoration: none;
	color:#666;
}

.suggestions-result:hover {
	background-color: #ACD1E9;
}

a.search-result-item {
	display: block;
}

/* TODO: support browsers which do not support data uris */
a.external {
	background: url(images/external-link-ltr-icon.png) center right no-repeat;
	padding-right: 13px;
}

.search_bar .search {
	-webkit-appearance: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	outline-style: none;
	outline-width: initial;
	outline-color: initial;
	padding: 0;
	font-size: 1.2em;
	padding-right: 16px;
	width: 100%;
	vertical-align: middle; /* don't use line height here as placeholder on ripple positions incorrectly */
}

#search::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.divclearable {
	display: block;
	zoom: 1;
	vertical-align: middle;
	position: relative;
}

#userloginForm table,
#userloginForm .user-login tr,
#userloginForm .user-login th,
#userloginForm .user-login td {
	width: 200px;
	border: 0px;
}

table {
	border-spacing: 0 !important;
	border-collapse: collapse !important;
	border: 1px solid #cccccc;
	padding: 3px;
	margin-bottom: 15px;
}

table.gallery .thumb[style] {
	border: 0;
	padding: 0 !important;
	width: auto !important;
	margin: 0 auto;
}

table.geography[style] td[style*="text-align"],
table.geography[style] td[colspan="2"] {
	text-align: left !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

table.toc h2 {
	border: 0;
	padding: 0;
	margin-top: 5px;
}

table.gallery th,
table.gallery td {
	display: block;
	border: 0;
	border-bottom: 1px solid #cccccc;
}

table[style] {
	float: none !important;
	margin-left: 0 !important;
	width: 100% !important;
}

table.navbox td.navbox-group {
	background: #ddddff;
	width: 25%;
	padding: 3px;
}

table.gallery {
	background: #f9f9f9;
	border-bottom: 0;
}

table.navbox {
	font-size: 0.9em;
	width: 100% !important;
}

table.gallery .gallerytext {
	margin-top: -12px;
	text-align: center;
}

table.navbox th.navbox-title {
	background: #ccccff;
	padding: 5px;
}

table.navbox div[style*="padding"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

table.gallery .gallerybox[style] {
	width: auto !important;
	margin-bottom: -16px;
}

table td,
table th {
	border: 1px solid #cccccc;
	padding: 3px;
}

table th {
	word-break: normal;
}

.mwm-message.mwm-notice {
	background: #FFFFFF;
	font-size: 1.1em;
	color: #000000;
}
.mwm-message.mwm-notice a {
	text-decoration: underline;
	font-weight: bold;
	color: #000000;
}

h3#sopa-notice {
	color: #000000;
	-webkit-margin-after: 0.5em;
	margin: 0px;
}

.section_heading {
	cursor: pointer;
}

.section:nth-child(even) {
	background-color: #f4f4f4;
}

button.show,
button.hide { /* for non-js browsers */
	display: none;
}

.togglingEnabled button.hide,
.togglingEnabled .openSection button.show {
	display: none;
}

.togglingEnabled .openSection button.hide,
.togglingEnabled button.show {
	display: inline-block;
}

button.show,
button.hide {
	width: 27px;
	height: 16px;
	border: none;
	text-indent: -999px;
	float: right;
	cursor: pointer;
	opacity: 0.5;
	cursor: pointer;
	-webkit-transition: opacity 0.4s ease-in 0.4s;
}

.togglingEnabled button.hide {
	background: url(images/hide.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 9px;
}

.togglingEnabled button.show {
	background: url(images/show.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 9px;
}

.openSection button.hide,
.openSection button.show {
	opacity: 1;
}

.togglingEnabled .section_anchors {
	display: none;
}

.togglingEnabled .content_block {
	max-height: 0;
	position: relative;
	overflow: hidden;
	-webkit-transition: max-height 0.2s ease-in;
	-moz-transition: max-height 0.2s ease-in;
	-o-transition: max-height 0.2s ease-in;
	transition: max-height 0.2s ease-in;
}

/* 
disable animations in footer
this is so that toggling can scroll it into view
*/
.togglingEnabled #footer .content_block {
	-webkit-transition: none;
	transition: none;
}

.togglingEnabled .openSection.section_anchors {
	display: block;
}

.togglingEnabled .openSection.content_block {
	max-height: 9999px; /* large number as height: auto is not effected by transitions */
	-webkit-transition: max-height 0.7s ease-in;
	transition: max-height 0.7s ease-in;
}

.mwm-notice {
	padding: 5px;
	background: #dddddd;
	-webkit-border-radius: 5px;
	margin-top: 5px;
	text-align: center;
	border: 1px solid gray;
}

table table {
	border: 0;
	margin-bottom: 0;
}

table table td,
table table th {
	border: 0;
	padding: 0;
}

table.toc {
	background: #f9f9f9;
}

table.navbox td.navbox-abovebelow {
	padding: 3px;
}

table.navbox td.navbox-group + td {
	padding: 3px;
}

table.navbox div[style*="padding"] a {
	white-space: pre-wrap;
}

table.navbox span[style*="white"] {
	white-space: pre-wrap !important;
}

table.navbox td,
table.navbox th {
	padding: 0;
}

table.navbox table {
	margin-bottom: 0;
}

table.wikitable th {
	background: #f3f3f3;
}

table.infobox {
	background: #f9f9f9;
}

table.infobox th,
table.infobox td {
	border: 0;
}

table.infobox td[colspan="3"],
table.infobox th[colspan="3"] {
	border: 1px solid #cccccc;
}

table.geography[style] th {
	text-align: left;
}

table.geography[style] td[style*="text-align"] div[style],
table.geography[style] td[colspan="2"] div[style] {
	text-align: left !important;
}

table.admin {
	width: 300px;
}

p,
li,
dl,
#featured_article {
	line-height: 1.65;
}

pre {
	white-space: pre-wrap;
}

h2 {
	border-bottom: none;
	padding-top: 0.3em;
	font-size: 1.3em;
}

a {
	text-decoration: none;
	color: #002bb8;
}

a:visited {
	color: #5a3696;
}

a:active {
	color: #faa700;
}

a:hover {
	text-decoration: underline;
}

a.new,
a.new:visited,
a.new:hover {
	color: red;
}

a.back_to_top,
a.back_to_top:visited {
	margin-top: 7px;
	color: blue;
}

#contentSub,
.dablink {
	margin-bottom: 10px;
}

#firstHeading {
	font-size: 1.7em;
	margin: 0;
}

.section_anchors a {
	display: block;
}

.section_anchor {
	height: 1px;
	width: 1px;
}

.printonly,
.geo-multi-punct,
.geo-nondefault {
	display: none;
}

#featured_article .noprint,
.today .noprint {
	display: none;
}

.thumb {
	border: 1px solid #cccccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: #f9f9f9;
	margin-bottom: 10px;
	text-align: center;
}

.thumb .thumbinner[style] {
	margin: 5px auto;
	max-width: 100%;
	width: auto !important;
}

.thumb img {
	max-width: 100% !important;
	width: auto !important
}

.thumb .thumbcaption {
	width: 100%;
	margin: 5px 10px 0;
	text-align: center;
	width: auto !important;
}

img.thumbborder {
	border: 1px solid #cccccc;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.floatright::after,
.floatleft::after {
	clear: both;
}

#content_wrapper.home h1#firstHeading {
	display: none;
}

#header {
	margin: 0;
	position: relative;
	border-bottom: solid 1px #CCC;
}

#content_wrapper {
	position: relative;
	clear: both;
	margin: 22px 22px;
}

#content_wrapper .section {
	padding: 14px 22px; /* see #footer padding */
	margin-left: -22px; /* offset #content_wrapper margin */
	margin-right: -22px;
}

#content_wrapper .section h2 {
	margin: 0;
}

#logo {
	position: absolute;
	height: 22px;
	cursor: pointer;
	left: 22px;
	top: 9px;
	width: 35px;
}

html[dir="rtl"] #searchbox {
	padding: 0px 54px 0px 20px;
}

#zero-language-search.search_bar,
#searchbox {
	width: auto;
	position: relative;
	padding: 0px 40px 0px 73px; /* right = width of #logo (35px) + 22px + 16px
	left = width of close button + 22px */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

.full-screen-search #searchbox {
	padding: 0px 40px 0px 54px; /* right = width of #logo (18px) + 22px + 16px */
}

#zero-language-search.search_bar {
	padding: 8px 32px 8px 0px;
}

html[dir="rtl"] #remove-results,
html[dir="rtl"] #logo {
	right: 18px;
	left: auto;
}

.goButton {
	position: absolute;
	right: -18px;
	left: auto;
	top: 0px;
	border: 0;
	background: url(images/s.gif) no-repeat center left;
	background-size: 27px 25px;
	height: 40px;
	width: 27px;
	padding-bottom: 0;
	text-indent: -999px;
	cursor: pointer;
}

html[dir="rtl"] .goButton {
	right: auto;
	left: 0;
}

#searchbox a,
#searchbox img {
	border: 0px;
	vertical-align: middle;
	position: absolute;
}

#search:focus {
	outline: none;
}

#searchbox #searchField {
	width: auto;
}

#nav {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	clear: both;
	padding: 5px 0;
	display: none;
	border: 1px solid #cccccc;
	border-top: 0px;
	margin: -1px 0 0 0;
	background: white;
	padding: 0 5px 5px 5px;
	position: relative;
	float: left;
}

html[dir="rtl"] #nav {
	float: right;
}

#languageselection {
	margin-right: 35px;
}

html[dir="rtl"] #languageselection {
	margin-right: 0;
	margin-left: 35px;
}

#nav form,
#nav button {
	display: inline-block;
}

#nav .button,
#nav button {
	background: url(images/buttonbg.gif) no-repeat center;
	border: 0;
	padding: 8px;
	color: black;
	display: inline-block;
	background-size: 100% 100%;
}

#disableButtons {
	text-align: center;
}

#disableButtons button {
	background: url(images/buttonbg.gif) no-repeat center;
	border: 0;
	height: 23px;
	width: 83px;
}

#disableButtons #backButton {
	margin-top: 5em;
}

.mwm-message.mwm-notice {
	font-size: 1.1em;
}

#image_wrapper {
	margin: 8px 0 8px -3px;
}


ol.references > li:target,
sup.reference:target,
span.citation:target,
cite:target {
	background-color: #ddeeff;
}

/*
full screen search css
*/
.full-screen-search #header {
	-webkit-box-shadow: 3px 1px 8px #333;
	-moz-box-shadow: 3px 1px 8px #333;
	-o-box-shadow: 3px 1px 8px #333;
	box-shadow: 3px 1px 8px #333;
	z-index: 2;
	margin: 0;
	background-color: white;
}

#results,
#content_wrapper {
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#content_wrapper,
.full-screen-search #results {
	opacity: 1;
	height: auto;
}

#results,
.full-screen-search #content_wrapper {
	height: 0;
	overflow: hidden;
	opacity: 0;
}

.full-screen-search #footer,
.full-screen-search #zero-rated-banner-red,
.full-screen-search #zero-rated-banner {
	display: none;
}

#search::-webkit-search-decoration {
	display: none;
}

#header,
#search,
#sq,
#header form,
#searchbox {
	position: relative;
	right: 0;
	top: 0;
	left: 0;
	height: 40px;
}

#searchbox {
	margin: 0;
}

.full-screen-search #sq {
	margin-right: 0;
	font-size: 16px;
}

.full-screen-search #logo,
.full-screen-search .goButton {
	display: none;
}

.full-screen-search #results {
	left: 0px;
	width: 100% !important;
	max-height: 99999px;
	border: none;
	z-index: 1;
	background-color: #E6E6E6;
	position: relative;
	opacity: 1;
}

.full-screen-search .suggestions-results {
	padding: 0;
	position: relative;
	padding-bottom: 20px;
	font-size: 1.4em;
	cursor: pointer;
	margin: 0;
	background-color: white;
}

.full-screen-search .suggestions-result {
	color: #666;
	border: none;
	position: relative;
	border-bottom: solid 1px #999999;
	border-bottom: solid 1px #eee;
	padding: 12px 56px;
	font-size: 0.9em;
}

.full-screen-search .suggestions-result a:visited {
	color: #666;
}

#remove-results {
	display: none;
	position: absolute;
	width: 18px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: url(images/arrow-left-beta.png) no-repeat scroll 0 0 transparent;
	background-position: left center;
	background-size: auto 18px;
	cursor: pointer;
	left: 24px;
	top: 6px; /* (#header height - background height) / 2 */
	margin: 1px;
	margin-top: -6px;
	z-index: 99;
	border: 0px solid;
	text-indent: -999px;
	overflow: hidden;
}

.full-screen-search #remove-results {
	display: block;
}

.full-screen-search #nav {
	display: none !important;
}

#footer {
	-webkit-box-shadow: 0px -20px 10px -16px #ddd;
	-moz-box-shadow: 0px -20px 10px -16px #ddd;
	-o-box-shadow: 0px -20px 10px -16px #ddd;
	box-shadow: 0px -20px 10px -16px #ddd;
	padding: 12px 22px; /* see content_wrapper margin */
	border-top: solid 1px #aaa;
	line-height: 24px;
	position: relative;
	clear: both; /* cancel any floating in the content */
}

#footer ul {
	text-align: center;
	width: 100%;
	padding: 0;
	list-style: none;
}

#footer img {
	height: 23px;
	float: left;
	margin-right: 4px;
}

#footer .toggleCopyright,
#footer .license {
	font-weight: bold;
	font-size: 1em;
	line-height: 24px;
}

#footer .toggleCopyright {
	float: right;
	margin: 0;
	padding: 0;
	position: relative;
	padding-right: 32px;
}

.toggleCopyright .hide,
.toggleCopyright .show {
	position: absolute;
	top: 0;
	right: 0;
	height: 22px;
}

.copyrightNotice {
	padding-top: 8px;
	line-height: 1.2em;
	margin-bottom: 12px;
}

#content_copyright {
	text-align: center;
	font-size: 0.9em;
}

#footer .links {
	margin: 0;
}

#footer .links li {
	display: block;
	width: 25%;
	font-size: 1.2em;
	float: left;
	text-align: center;
}

#footer .links li:first-child {
	text-align: left;
}

#footer .links li:last-child {
	text-align: right;
}

#footer .links:after {
	content: "";
	clear: both;
	position: relative;
	display: block;
}

.togglingEnabled #footer .more,
.togglingEnabled #footer .openSection .less {
	display: block;
}

#footer .more, /* no javascript */
#footer .less,
#footer .openSection .more {
	display: none;
}

#mf-references {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #E4E4E4;
	padding: 22px;
	-webkit-box-shadow: 0px -20px 10px -16px #aaa;
	-moz-box-shadow: 0px -20px 10px -16px #aaa;
	-o-box-shadow: 0px -20px 10px -16px #aaa;
	box-shadow: 0px -20px 10px -16px #aaa;
	word-break: break-word;
	line-height: 1.4em;
	font-size: 0.8em;
}

#mf-references button {
	top: 22px;
	right: 22px; /* padding of #content_wrapper */
	width: 16px;
	height: 12px;
	background: url(images/close-button-beta.png) no-repeat scroll 0 0 transparent;
	margin: 0;
	background-position: right center;
	background-size: auto 12px;
	cursor: pointer;
	position: absolute;
	text-indent: -999px;
	border: none;
}

#mf-references h3 {
	margin: 0;
	padding-right: 4px;
	line-height: 1em;
	display: inline;
}

#mf-references a:visited,
#mf-references a {
	color: #3354C0;
}

.feedback h1 {
	margin: 0;
	margin-bottom: 20px;
	border-bottom: solid 1px #CCC;
	padding-bottom: 10px;
}

.feedback select {
	height: 35px;
}

.feedback .saveEmail {
	float: right;
	color: #9C9C9C;
}
.feedback input[type=submit],
.feedback select {
	background-color: #5E5E5E;
	padding: 12px;
	color: white;
	display: block;
	margin: 22px 0px;
	border: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 3px 3px 3px #8C8C8C;
	font-size: 1.5em;
}

.feedback input.email {
	height: 38px;
}

.feedback textarea,
.feedback input.email {
	/*padding: 12px;*/
	width: 100%;
	border: solid 1px #888888;
}

.feedback textarea,
.feedback input {
	font-size: 1.5em;
}

.feedback input::-webkit-input-placeholder,
.feedback textarea::-webkit-input-placeholder {
	color: #747474;
}
