#blackberry {
	test: 1;
}

#searchbox #goButton {
	border: 0;
	background: url(images/s.gif) no-repeat top left;
	height: 25px;
	width: 27px;
}

.content_block,
.section_anchors,
button.section_heading.hide {
	display: none;
}

#clearButton {
	display: none;
}

#nav {
	display: none;
	width: 172px;
	border: 1px solid #cccccc;
	border-top: 0px;
	margin: -1px 0 0 0;
	background: white;
	padding: 0 5px 5px 5px;
}
