#header {
	margin-top: 0; /* interferes with results positioning in blackberry 9300 (5.0.0.176)*/
}

/* blackberry 9300 search box rendering fixes */ 
#searchbox {
	padding-left: 2px;
}

#searchbox form {
	padding-left: 44px;
}

#goButton {
	height: 27px;
}
