.clearlink {
	background: url(images/close-button.png) no-repeat scroll 0 0 transparent;
	background-position: center center;
	cursor: pointer;
	zoom: 1;
	position: absolute;
	right: 0.25em;
	top: 50%;
	margin: 1px;
	height: 12px;
	width: 12px;
	margin-top: -6px;
	z-index: 2;
	border: 0px solid;
	display: none;
}

html[dir="rtl"] .clearlink {
	left: 0.25em;
	right: auto;
}

#zero-rated-banner {
	position: relative;
	height: 20px;
	width: 100%;
	z-index: 99;
	background: #F4A83D;
	display: block;
	border-bottom: 1px solid #D6800C;
	padding: 7px 0;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #735005;
}

#zero-rated-banner a {
	text-decoration: underline;
	color: #735005;
}

#zero-rated-banner-red {
	position: relative;
	height: 20px;
	width: 100%;
	z-index: 99;
	background: #FF0000;
	display: block;
	border-bottom: 1px solid #D6800C;
	padding: 7px 0;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #735005;
}

#zero-rated-banner span.notify-close {
	background-color: #FAD163;
	float: right;
	margin-right: 20px;
	border: 2px solid #735005;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	display: block;
	cursor: pointer;
	height: 18px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#zero-rated-banner span.notify-close a {
	text-decoration: none;
}

#zero-rated-banner-red #zero-rated-banner-text {
	margin: 0px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}

#zero-rated-banner-red a {
	text-decoration: underline;
	color: #ffffff;
}

#zero-rated-banner-text {
	margin: 0px;
	color: #735005;
	font-weight: bold;
	text-align: center;
}

.suggestions-results {
	font-size: 1.2em;
	cursor: pointer;
}

.suggestions-result {
	color: black;
	color: WindowText;
	margin: 0;
	line-height: 1.8em;
	padding: 0.01em 0.25em;
	postion: relative;
	border-bottom: solid 1px #999999;
}

.suggestions-result a {
	text-decoration: none;
	color: #000000;
}
.suggestions-result a:link {
	text-decoration: none;
	color:#000000;
}
.suggestions-result a:visited {
	text-decoration: none;
	color:#000000;
}
.suggestions-result a:hover {
	text-decoration: none;
	color:#000000;
}
.suggestions-result a:active {
	text-decoration: none;
	color:#000000;
}
.suggestions-result:hover {
	background-color: #ACD1E9;
}
a.sq-val-update {
	font-size: 1.3em;
	display: block;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
	position: absolute;
	right: 0;
	width: 1.5em;
	text-align: center;
}
a.sq-val-update:link {
	text-decoration: none;
	color:#000000;
}
a.sq-val-update:visited {
	text-decoration: none;
	color:#000000;
}
a.sq-val-update:hover {
	text-decoration: none;
	color:#000000;
}
a.sq-val-update:active {
	text-decoration: none;
	color:#000000;
}

a.search-result-item {
	display: block;
	margin-right: 2em;
}

/* TODO: support browsers which do not support data uris */
a.external {
	background: url(images/external-link-ltr-icon.png) center right no-repeat;
	padding-right: 13px;
}

#results {
	display: none;
	background-color: #ffffff;
	border-top: none;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	z-index: 2;
	position: absolute;
	left: 53px;
	right: 41px;
}

html[dir="rtl"] #results {
	left: 41px;
}

#search {
	width: 90%;
	-webkit-appearance: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	outline-style: none;
	outline-width: initial;
	outline-color: initial;
	padding: 0;
}

#search::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

ul#footer-info {
	list-style: none;
	list-style-image: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.divclearable {
	border: 1px solid #888;
	display: block;
	zoom: 1;
	vertical-align: middle;
	position: relative;
}

#userloginForm table,
#userloginForm .user-login tr,
#userloginForm .user-login th,
#userloginForm .user-login td {
	width: 200px;
	border: 0px;
}

table {
	border-spacing: 0 !important;
	max-width: 100%;
	border-collapse: collapse !important;
	border: 1px solid #cccccc;
	padding: 3px;
	margin-bottom: 15px;
}

table.gallery .thumb[style] {
	border: 0;
	padding: 0 !important;
	width: auto !important;
	margin: 0 auto;
}

table.geography[style] td[style*="text-align"],
table.geography[style] td[colspan="2"] {
	text-align: left !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

table.toc h2 {
	border: 0;
	padding: 0;
	margin-top: 5px;
}

table.gallery th,
table.gallery td {
	display: block;
	border: 0;
	border-bottom: 1px solid #cccccc;
}

table[style] {
	float: none !important;
	margin-left: 0 !important;
}

table.navbox td.navbox-group {
	background: #ddddff;
	width: 25%;
	padding: 3px;
}

table.gallery {
	background: #f9f9f9;
	border-bottom: 0;
}

table.navbox {
	font-size: 0.9em;
	width: 100% !important;
}

table.gallery .gallerytext {
	margin-top: -12px;
	text-align: center;
}

table.navbox th.navbox-title {
	background: #ccccff;
	padding: 5px;
}

table.navbox div[style*="padding"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

table.gallery .gallerybox[style] {
	width: auto !important;
	margin-bottom: -16px;
}

table td,
table th {
	border: 1px solid #cccccc;
	padding: 3px;
	word-break: break-word;
}

.mwm-message.mwm-notice {
	background: #FFFFFF;
	font-size: 1.1em;
	color: #000000;
}
.mwm-message.mwm-notice a {
	text-decoration: underline;
	font-weight: bold;
	color: #000000;
}

h3#sopa-notice {
	color: #000000;
	-webkit-margin-after: 0.5em;
	margin: 0px;
}

button.show {
	display: none;
}

.jsEnabled button.show {
	display: inline-block;
}

.jsEnabled .content_block,
.jsEnabled .section_anchors,
button.section_heading.hide {
	display: none;
}

.mwm-notice {
	padding: 5px;
	background: #dddddd;
	-webkit-border-radius: 5px;
	margin-top: 5px;
	text-align: center;
	border: 1px solid gray;
}

table table {
	border: 0;
	margin-bottom: 0;
}

table table td,
table table th {
	border: 0;
	padding: 0;
}

table.toc {
	background: #f9f9f9;
}

table.navbox td.navbox-abovebelow {
	padding: 3px;
}

table.navbox td.navbox-group + td {
	padding: 3px;
}

table.navbox div[style*="padding"] a {
	white-space: pre-wrap;
}

table.navbox span[style*="white"] {
	white-space: pre-wrap !important;
}

table.navbox td,
table.navbox th {
	padding: 0;
}

table.navbox table {
	margin-bottom: 0;
}

table.wikitable th {
	background: #f3f3f3;
}

table.infobox {
	background: #f9f9f9;
}

table.infobox th,
table.infobox td {
	border: 0;
}

table.infobox td[colspan="3"],
table.infobox th[colspan="3"] {
	border: 1px solid #cccccc;
}

table.geography[style] th {
	text-align: left;
}

table.geography[style] td[style*="text-align"] div[style],
table.geography[style] td[colspan="2"] div[style] {
	text-align: left !important;
}

table.admin {
	width: 300px;
}

html {
	font-size: 0.8em;
}

body {
	margin: 0;
	line-height: 1;
	color: black;
	background: white;
	font-family: sans-serif;
	-webkit-text-size-adjust: none;
}

p,
li,
dl,
#featured_article {
	line-height: 1.65;
}

pre {
	white-space: pre-wrap;
}

a {
	text-decoration: none;
	color: #002bb8;
}

a:visited {
	color: #5a3696;
}

a:active {
	color: #faa700;
}

a:hover {
	text-decoration: underline;
}

a.new,
a.new:visited,
a.new:hover {
	color: red;
}

a.back_to_top,
a.back_to_top:visited {
	margin-top: 7px;
	color: blue;
}

.links {
	float: left;
	padding: 10px;
}

#contentSub,
.dablink {
	margin-bottom: 10px;
}

#firstHeading {
	font-size: 1.7em;
}

h2 {
	font-size: 1.3em;
	border-bottom: 1px solid #aaaaaa;
	padding-top: 0.3em;
}

.section_anchors a {
	display: block;
}

.section_anchor {
	height: 1px;
	width: 1px;
}

.printonly,
.geo-multi-punct,
.geo-nondefault {
	display: none;
}

#featured_article .noprint,
.today .noprint {
	display: none;
}

.thumb {
	border: 1px solid #cccccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: #f9f9f9;
	margin-bottom: 10px;
}

.thumb .thumbinner[style] {
	margin: 5px auto;
}

.thumb .thumbcaption {
	width: 100%;
	margin: 5px 10px 0;
	text-align: center;
	width: auto !important;
}

img.thumbborder {
	border: 1px solid #cccccc;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

#content_wrapper.home h1#firstHeading {
	display: none;
}

#header {
	margin: 8px 8px 0 8px;
	position: relative;
}

#content_wrapper {
	clear: both;
	margin: 0 8px;
}

#footer {
	margin: 0 8px;
	clear: both;
}

#logo {
	position: absolute;
	top: 4px;
	left: 5px;
}

#searchbox {
	width: auto;
	padding: 5px;
	position: relative;
	padding: 5px 32px 5px 44px;
	border: 1px solid #cccccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

#searchbox form {
	margin-bottom: 0;
}

html[dir="rtl"] #searchbox {
	padding: 5px 44px 5px 32px
}

#searchbox #form {
	padding-right: 34px;
	width: 100%;
}

html[dir="rtl"] #logo,
#goButton {
	position: absolute;
	right: 2px;
	left: auto;
}

#goButton {
	top: 2px;
	border: 0;
	background: url(images/s.gif) no-repeat top left;
	background-size: 27px 25px;
	height: 25px;
	width: 27px;
	padding-bottom: 0;
}

html[dir="rtl"] #goButton {
	right: auto;
	left: 2px;
}

#searchbox a,
#searchbox img {
	border: 0px;
	vertical-align: middle;
	position: absolute;
}

#search:focus {
	outline: none;
}

#searchbox #searchField {
	width: auto;
}

#nav {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	clear: both;
	display: none;
	border: 1px solid #cccccc;
	border-top: 0px;
	margin: -1px 0 0 0;
	background: white;
	padding: 0 5px 5px 5px;
	position: relative;
	float: left;
}

html[dir="rtl"] #nav {
	float: right;
}

#languageselection {
	margin-right: 35px;
}

html[dir="rtl"] #languageselection {
	margin-right: 0;
	margin-left: 35px;
}

#nav form,
#nav button {
	display: inline-block;
}

#nav .button,
#nav button {
	background: url(images/buttonbg.gif) no-repeat center;
	border: 0;
	padding: 8px;
	color: black;
	display: inline-block;
}

#disableButtons {
	text-align: center;
}

#disableButtons button {
	background: url(images/buttonbg.gif) no-repeat center;
	border: 0;
	height: 23px;
	width: 83px;
}

#disableButtons #backButton {
	margin-top: 5em;
}

.mwm-message.mwm-notice {
	font-size: 1.1em;
}

#image_wrapper {
	margin: 8px 0 8px -3px;
}

#footer {
	padding-top: 1em;
}

#footer #perm {
	padding-top: 2em;
	font-size: 90%;
}

#footer #copyright {
	padding: 1em 0;
	font-size: 80%;
}

ol.references > li:target,
sup.reference:target,
span.citation:target,
cite:target {
	background-color: #ddeeff;
}

