.clearlink {
	background: url(images/close-button.png) no-repeat scroll 0 0 transparent;
	background-position: center center;
	cursor: pointer;
	zoom: 1;
	position: absolute;
	right: 0.25em;
	top: 50%;
	margin: 1px;
	height: 12px;
	width: 12px;
	margin-top: -6px;
	z-index: 2;
	border: 0px solid;
	display: none;
}

#search {
	-webkit-appearance: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	outline-style: none;
	outline-width: initial;
	outline-color: initial;
	height: 1.4em;
}

.divclearable {
	border: 1px solid #888;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
	height: 1.5em;
	position: relative;
}