.clearlink {
	background: url(images/close-button.png) no-repeat scroll 0 0 transparent;
	background-position: center center;
	cursor: pointer;
	zoom: 1;
	position: absolute;
	right: 0.25em;
	top: 50%;
	margin: 1px;
	height: 12px;
	width: 12px;
	margin-top: -6px;
	z-index: 2;
	border: 0px solid;
	display: none;
}

#search {
	-webkit-appearance: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	outline-style: none;
	outline-width: initial;
	outline-color: initial;
	height: 1.4em;
}

.divclearable {
	border: 1px solid #888;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
	height: 1.5em;
	position: relative;
}

table {
	border-spacing: 0 !important;
	width: 100%;
	border-collapse: collapse !important;
	border: 1px solid #cccccc;
	padding: 3px;
	margin-bottom: 15px;
}

table.gallery .thumb[style] {
	border: 0;
	padding: 0 !important;
	width: auto !important;
	margin: 0 auto;
}

table.geography[style] td[style*="text-align"], table.geography[style] td[colspan="2"] {
	text-align: left !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

table.toc h2 {
	border: 0;
	padding: 0;
	margin-top: 5px;
}

table.gallery th, table.gallery td {
	display: block;
	border: 0;
	border-bottom: 1px solid #cccccc;
}

