/* Search and navigation menu
moved from beta_common.css in
Change-Id: Id7715a83f8dc42cbdb23d8cbf982801606236f7c
*/
.full-screen-search .notEmpty .clearlink {
	display: block;
}

.clearlink {
	top: 9px;
	right: 0;
	width: 24px;
	height: 20px;
	background: url(images/close-button-beta.png) no-repeat scroll 0 0 transparent;
	margin: 0;
	display: none;
	background-position: right center;
	-webkit-background-size: auto 12px;
	background-size: auto 12px;
	cursor: pointer;
	position: absolute;
}

.suggestions-result a {
	text-decoration: none;
	color: #666;
}

.suggestions-result a:visited {
	text-decoration: none;
	color:#666;
}

.suggestions-result a:hover {
	text-decoration: none;
	color:#666;
}
.suggestions-result a:active {
	text-decoration: none;
	color:#666;
}

.suggestions-result:hover {
	background-color: #ACD1E9;
}

a.search-result-item {
	display: block;
}

.search_bar .search {
	-webkit-appearance: none;
	border: none;
	outline: none;
	padding: 0;
	font-size: 1.2em;
	padding-right: 16px;
	width: 100%;
	vertical-align: middle; /* don't use line height here as placeholder on ripple positions incorrectly */
}

#search::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

#search.searching {
	opacity: 0.2;
}

#logo {
	position: absolute;
	height: 22px;
	cursor: pointer;
	left: 22px;
	top: 9px;
	width: 35px;
}

#zero-language-search.search_bar,
#searchForm {
	width: auto;
	position: relative;
	padding: 0px 40px 0px 73px; /* right = width of #logo (35px) + 22px + 16px
	left = width of close button + 22px */
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

.full-screen-search #searchForm {
	padding: 0px 40px 0px 54px; /* right = width of #logo (18px) + 22px + 16px */
}

#zero-language-search.search_bar {
	padding: 8px 32px 8px 0px;
}

.goButton {
	position: absolute;
	right: 22px;
	left: auto;
	top: 0px;
	border: 0;
	background: url(images/s.gif) no-repeat center left;
	-webkit-background-size: 27px 25px; /* use -webkit prefix for older android browsers eg. nexus 1 */
	background-size: 27px 25px;
	height: 40px;
	width: 27px;
	padding-bottom: 0;
	cursor: pointer;
}

.goButton img {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 27px;
}

/* for browsers with images disabled
reduce font size so alt text more legible */
#remove-results,
.goButton img,
.clearlink {
	font-size: 8px;
}

#searchForm a,
#searchForm img {
	border: 0px;
	vertical-align: middle;
	position: absolute;
}

#search:focus {
	outline: none;
}

#searchField {
	width: auto;
}

#nav {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	clear: both;
	padding: 5px 0;
	display: none;
	border: 1px solid #cccccc;
	border-top: 0px;
	margin: -1px 0 0 0;
	background: white;
	padding: 0 5px 5px 5px;
	position: relative;
	float: left;
}

#languageselection {
	margin-right: 35px;
}

#nav form,
#nav button {
	display: inline-block;
}

#nav .button,
#nav button {
	background: url(images/buttonbg.gif) no-repeat center;
	border: 0;
	padding: 8px;
	color: black;
	display: inline-block;
	background-size: 100% 100%;
}

/*
full screen search css
*/
.full-screen-search #header {
	-webkit-box-shadow: 3px 1px 8px #333;
	-moz-box-shadow: 3px 1px 8px #333;
	-o-box-shadow: 3px 1px 8px #333;
	box-shadow: 3px 1px 8px #333;
	z-index: 2;
	margin: 0;
	background-color: white;
}

#results,
#content_wrapper {
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#results {
	display: none;
	width: 100%;
}

.full-screen-search #content_wrapper {
	height: 0;
	overflow: hidden;
	opacity: 0;
}

#content_wrapper,
.full-screen-search #results {
	opacity: 1;
	height: auto;
	display: block;
}

.full-screen-search #footer,
.full-screen-search #zero-rated-banner-red,
.full-screen-search #zero-rated-banner {
	display: none;
}

#search::-webkit-search-decoration {
	display: none;
}

#header,
#search,
#sq,
#header form {
	position: relative;
	right: 0;
	top: 0;
	left: 0;
	height: 40px;
}

#sq {
	margin-right: 12px;
}

#search {
	line-height: normal;
	background: none; /* remove fennec default background */
}

.full-screen-search #sq {
	margin-right: 0;
}

.full-screen-search #logo,
.full-screen-search .goButton {
	display: none;
}

.full-screen-search #results {
	left: 0px;
	width: 100% !important;
	max-height: 99999px;
	border: none;
	z-index: 1;
	background-color: #E6E6E6;
	position: relative;
	opacity: 1;
}

.full-screen-search .suggestions-results {
	padding: 0;
	position: relative;
	padding-bottom: 20px;
	font-size: 1.4em;
	cursor: pointer;
	margin: 0;
	background-color: white;
	list-style: none;
}

.full-screen-search .suggestions-result {
	color: #666;
	border: none;
	position: relative;
	border-bottom: solid 1px #999999;
	border-bottom: solid 1px #eee;
	padding: 12px 56px;
	font-size: 0.9em;
}

.full-screen-search .suggestions-result a:visited {
	color: #666;
}

#remove-results {
	display: none;
	position: absolute;
	width: 30px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: url(images/arrow-left-beta.png) no-repeat scroll 0 0 transparent;
	background-position: left center;
	-webkit-background-size: auto 18px;
	background-size: auto 18px;
	cursor: pointer;
	left: 24px;
	top: 6px; /* (#header height - background height) / 2 */
	margin: 1px;
	margin-top: -6px;
	z-index: 99;
	border: 0px solid;
	overflow: hidden;
}

.full-screen-search #remove-results {
	display: block;
}

.full-screen-search #nav {
	display: none !important;
}

/* samsung galaxy s gt-19000 */
@media all and (max-width:240px) {
	#search {
		font-size: 0.8em;
	}
}
