#searchbox #goButton {
	border: 0;
	background: url(images/s.gif) no-repeat top left;
	background-size: 27px 25px;
	height: 25px;
	width: 27px;
}
@media screen and (-webkit-device-pixel-ratio: 2.0) {
	#searchbox #goButton {
		background-image: url(images/s-xhdpi.png) !important;
	}
}

#clearButton {
	display: none;
}

#ogg_player_1 {
	display: none;
}

#searchbox {
	border: 1px solid #cccccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

#searchbox #goButton {
	border: 0;
	background: url(images/s.gif) no-repeat top left;
	height: 25px;
	width: 27px;
}

#searchbox #searchField {
	height: 27px;
	font-size: 16px;
}

#search {
	height: 1.3em;
}

