#searchbox #goButton {
	border: 0;
	background: url(images/s.gif) no-repeat top left;
	background-size: 27px 25px;
	height: 25px;
	width: 27px;
}
@media screen and (-webkit-device-pixel-ratio: 2.0) {
	#searchbox #goButton {
		background-image: url(images/s-xhdpi.png) !important;
	}
}

#clearButton {
	display: none;
}

#nav {
	display: none;
	width: 172px;
	border: 1px solid #cccccc;
	border-top: 0px;
	margin: -1px 0 0 0;
	background: white;
	padding: 0 5px 5px 5px;
}

#ogg_player_1 {
	display: none;
}

#searchbox {
	width: 292px;
	padding: 5px;
	border: 1px solid #cccccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

#searchbox #goButton {
	border: 0;
	background: url(images/s.gif) no-repeat top left;
	height: 25px;
	width: 27px;
}

#searchbox #searchField {
	width: 220px;
	height: 27px;
	font-size: 16px;
}

@media all and (orientation:landscape) {
	#searchbox {
		width: 450px;
	}
	#searchbox #searchField {
		width: 375px;
	}
}

#header {
	max-width: 290px;
}

#search {
	height: 1.3em;
}

