@media screen and (-webkit-device-pixel-ratio: 2.0) {
	#searchbox #goButton {
		background-image: url(images/s-xhdpi.png) !important;
	}
}

#ogg_player_1 {
	display: none;
}

#search {
	line-height: normal; /* placeholder displays incorrectly on iphones */
}

table {
	/* provides momentum scrolling - note this is buggy in android devices
	preventing scrolling altogether hence its presence here rather than
	beta_common.css */
	-webkit-overflow-scrolling: touch;
}
