#searchbox #goButton {
	border: 0;
	background: url(images/s.gif) no-repeat top left;
	height: 25px;
	width: 27px;
}

.mwm-notice {
	padding: 5px;
	background: #dddddd;
	-webkit-border-radius: 5px;
	margin-top: 5px;
	text-align: center;
	border: 1px solid grey;
}

#clearButton {
	display: none;
}

#search {
	height: 1.3em;
}
