table td, table th {
	border: 1px solid #cccccc;
	padding: 3px; }
table table {
	border: 0; }
table table td, table table th {
	border: 0; }
table.toc {
	background: #f9f9f9; }
table.navbox {
	font-size: 0.9em;
	width: 100% !important; }
table.navbox th.navbox-title {
	background: #ccccff;
	padding: 5px; }
table.navbox td.navbox-abovebelow {
	padding: 3px; }
table.navbox td.navbox-group + td {
	padding: 3px; }
table.navbox div[style*="padding"] {
	padding-left: 0 !important;
	padding-right: 0 !important; }
table.navbox div[style*="padding"] a {
	white-space: pre-wrap; }
table.navbox span[style*="white"] {
	white-space: pre-wrap !important; }
table.navbox td, table.navbox th {
	padding: 0; }
table.navbox table {
	margin-bottom: 0; }
table.wikitable th {
	background: #f3f3f3; }
table.infobox {
	background: #f9f9f9; }
table.infobox th, table.infobox td {
	border: 0; }
table.infobox td[colspan="3"], table.infobox th[colspan="3"] {
	border: 1px solid #cccccc; }
table.gallery {
	background: #f9f9f9;
	border-bottom: 0; }
	table.gallery .gallerybox[style] {
	width: auto !important;
	margin-bottom: -16px; }
table.gallery .gallerytext {
	margin-top: -12px;
	text-align: center; }
table.geography[style] th {
	text-align: left; }
table.geography[style] td[style*="text-align"] div[style], table.geography[style] td[colspan="2"] div[style] {
	text-align: left !important; }

table.admin {
	width: 300px; }

table#header {
	border: 0px; }
	table#header td {
	border: 0px; }

body {
	line-height: 120%; }

#search:focus {
	outline: none;
}

