#content-wrapper {
	background-color: white;
}

#mw-mf-header {
	background-color: #F0F0F0;
	-webkit-box-shadow: 3px 1px 8px #6d6d6d;
	-moz-box-shadow: 3px 1px 8px #6d6d6d;
	-o-box-shadow: 3px 1px 8px #6d6d6d;
	box-shadow: 3px 1px 8px #6d6d6d;
	border-bottom: solid 1px #CCC;
}

#mw-mf-header form,
#mw-mf-header,
#mw-mf-search,
#mw-mf-sq {
	position: relative;
	right: 0;
	top: 0;
	left: 0;
	height: 45px;
}

#mw-mf-searchForm {
	padding: 0px 52px 0px 50px; /* check mw-mf-logo */
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.full-screen-search #mw-mf-searchForm {
	padding: 0px 8px 0px 52px;
}

.full-screen-search #mw-mf-nav {
	display: none !important;
}

.jsEnabled #mw-mf-language-selection,
.overlay #mw-mf-viewport,
.full-screen-search #mw-mf-page-left,
.full-screen-search #mw-mf-page-menu-button,
.full-screen-search #mw-mf-main-menu-button {
	display: none;
}

#mw-mf-logo {
	position: absolute;
	top: 10px;
	left: 54px; /* #mw-mf-searchForm + 2 */
	z-index: 2;
	height: 22px;
	margin-top: 2px;
	width: 37px;
}

.full-screen-search #mw-mf-logo {
	display: block;
}

#mw-mf-search {
	line-height: normal;
	background: none;
	border: solid 1px #D9D9D9;
	height: 30px;
	margin-top: 8px;
	background-color: white;
	padding-left: 40px;
	-webkit-appearance: none;
	padding-right: 0;
}

#mw-mf-search::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

#mw-mf-main-menu-button,
#mw-mf-page-menu-button {
	display: inline-block;
	height: 30px;
	width: 24px;
	background-image: url(images/Mobile_nav_bar_icons.png);
	overflow: hidden;
	position: absolute;
	top: 8px;
	background-repeat: no-repeat;
	z-index: 2;
}

#mw-mf-main-menu-button {
	background-position-x: -38px;
	left: 22px;
}

#mw-mf-page-menu-button {
	right: 22px;
}

#mw-mf-viewport {
	width: 100%;
	position: relative;
}

#mw-mf-page-center {
	width: 100%;
	background-color: white;
	position: relative;
	z-index: 3;
	height: 100%;
}

.full-screen-search #mw-mf-header,
#mw-mf-header {
	background-color: #F0F0F0;
	-webkit-box-shadow: 5px 1px 8px #333;
	-moz-box-shadow: 5px 1px 8px #333;
	-o-box-shadow: 5px 1px 8px #333;
	box-shadow: 5px 1px 8px #333;
}

#mw-mf-page-left {
	background-color: #F0F0F0;
	width: 80%;
	right: 20%;
	font-family: Helvetica;
	font-size: 1.2em;
	bottom: 0;
	top: 0;
	margin-right: 0px;
	position: absolute;
	border-right: solid 1px #AAA;
}

#mw-mf-menu-main {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #F0F0F0;
}

#mw-mf-menu-main li {
	background-color: #F0F0F0;
	text-shadow: 0 1px 0 white;
	border-bottom: 1px inset #E0E0E0;
	background-image: url(images/icons_main_menu.png);
	background-repeat: no-repeat;
	background-position: 10px 6px;
	height: 1.3em;
	padding: 12px;
	font-weight: normal;
	padding-left: 64px;
}

#mw-mf-menu-main li a {
	color: black;
}

#mw-mf-content-left {
	height: 100%;
	border-left: solid 12px #252525;
}

#mw-mf-menu-main li.icon2 {
	background-position: 10px -30px
}
#mw-mf-menu-main li.icon3 {
	background-position: 10px -65px
}
#mw-mf-menu-main li.icon4 {
	background-position: 10px -100px
}
#mw-mf-menu-main li.icon5 {
	background-position: 10px -135px;
}
#mw-mf-menu-main li.icon6 {
	background-position: 10px -170px;
}

#mw-mf-menu-main li.icon7 {
	background-position: 10px -205px;
}

#mw-mf-menu-main li.disabled {
	opacity: 0.2;
}

#mw-mf-menu-main li:hover {
	background-color: #F8F8F8;
	border-left: solid 12px #069;
	margin-left: -12px;
}

#mw-mf-nav {
	height: 50px;
	background-color: #757575;
	text-align: center;
	display: none;
	margin: 0;
	padding: 0;
}

#mw-mf-nav li {
	background-image: url(images/icons_sub_menu.png);
	padding-top: 20px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding-left: 8px;
	color: white;
	cursor: pointer;
}

#mw-mf-toc {
	background-position: -47px 0px;
}

#mw-mf-language {
	background-position: -114px 0px;
}

#mw-mf-page-center {
	-webkit-transform: scale3d(1,1);
	-moz-transition-property: right,left;
	-moz-transition-duration: 0.4s,0.4s;
	-moz-transition-function: ease-in-out;
	-webkit-transition-property: right,left;
	-webkit-transition-duration: 0.4s,0.4s;
	-webkit-transition-function: ease-in-out;
}

#mw-mf-clearsearch {
	top: 12px;
}

#mw-mf-searchForm {
	padding: 0px 40px 0px 52px;
}

.navigationEnabled #mw-mf-page-center {
	left: 80%;
}

body.navigationEnabled {
	height: 100%;
	overflow: hidden;
}

.clearlink {
	right: 8px;
}


html:not(.jsEnabled) #mw-mf-nav:target {
	display: block;
}

html:not(.jsEnabled) #mw-mf-page-left:target {
	right: 20%;
	z-index: 4;
}

.overlay .header {
	line-height: 40px;
	border-bottom: solid 1px #CCC;
	padding: 0;
	padding-left: 56px;
	color: #666;
	height: 40px;
	margin: 0;
	padding-bottom: 0;
	-webkit-box-shadow: 3px 1px 8px #6d6d6d;
	-moz-box-shadow: 3px 1px 8px #6d6d6d;
	-o-box-shadow: 3px 1px 8px #6d6d6d;
	box-shadow: 3px 1px 8px #6d6d6d;
}

.overlay .header h2 {
	margin: 0;
	padding: 0;
}

.overlay ul {
	left: 0px;
	width: 100% !important;
	border: none;
	z-index: 1;
	position: relative;
	opacity: 1;
	padding: 0;
	padding-bottom: 20px;
	font-size: 1.4em;
	cursor: pointer;
	margin: 0;
}

.overlay #close {
	cursor: pointer;
	position: absolute;
	border: none;
	height: 27px;
	border-radius: 5px;
	top: 7px;
	left: 16px;
	background: none;
	background-image: url(images/arrow-left-beta.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -999px;
	background-size: 12px 16px;
}

#remove-results {
	top: 8px;
}

@media all and (max-width: 320px) {
	/* -10px */
	#mw-mf-logo {
		left: 44px;
	}

	#mw-mf-searchForm {
		padding: 0px 30px 0px 40px;
	}

	.full-screen-search #mw-mf-searchForm {
		padding: 0px 8px 0px 40px;
	}

	#remove-results,
	#mw-mf-main-menu-button {
		left: 12px;
	}

	#mw-mf-page-menu-button {
		right: 12px;
	}
}

