#searchbox {
	height: 25px;
}

#searchbox #logo {
	display: block;
	float: left;
	margin-right: 4px;
}

#searchbox #searchField {
	border: 1px solid grey;
	height: 20px;
}

#searchbox #clearButton {
	display: block;
}

#nav {
	height: 23px;
}

body {
	font-size: 14px;
}


