/*
SETTINGS PAGE
based on http://acidmartin.wordpress.com/2011/06/18/css3-iphone-toggle-buttons/
*/
#content .mw-mf-settings ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-bottom: 40px;
}

#content .mw-mf-settings li {
	min-height: 4em;
	line-height: 2em;
	vertical-align: middle;
	display: block;
	font-weight: bold;
	font-size: 1.1em;
	position: relative;
}

#content .mw-mf-settings li:last-child {
	padding-right: 0;
}

#content .mw-mf-settings li.mw-mf-settings-description {
	font-size: 0.8em;
	line-height: 1.8em;
	font-weight: normal;
	padding-right: 8px;
}

#content .mw-mf-settings input[type=submit],
#content .mw-mf-settings a.mw-mf-button,
.mw-mf-checkbox-css3 {
	cursor: pointer;
	position: relative;
	line-height: 2em;
}

#content .mw-mf-settings li {
	position: relative;
}

.jsEnabled #content .mw-mf-settings li a.mw-mf-button,
.jsEnabled .mw-mf-checkbox-css3 span,
.mw-mf-checkbox-css3,
.jsEnabled .mw-mf-checkbox-css3 input {
	min-width: 76px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	text-transform: lowercase;
}

.mw-mf-checkbox-css3 {
	position: relative;
}

#content .mw-mf-settings li input[type=submit],
#content .mw-mf-settings li a.mw-mf-button,
.mw-mf-checkbox-css3 {
	padding: 0 0 0 8px;
	text-align: right;
}

#content .mw-mf-settings li input[type=submit],
#content .mw-mf-settings li a.mw-mf-button,
#content .mw-mf-settings span.mw-mf-settings-off {
	padding-right: 8px;
	padding-left: 8px;
}

#content .mw-mf-settings li input[type=submit] {
	width: 100%;
	text-align: center;
	display: block;
}

#content .mw-mf-settings span.mw-mf-settings-on {
	padding-left: 8px;
	padding-right: 8px;
}

#content .mw-mf-settings li input[type=submit],
#content .mw-mf-settings li a.mw-mf-button,
.mw-mf-checkboxes .mw-mf-checkbox-css3 span {
	border-radius: 8px;
	font-weight: normal;
	font-size: 15px;
	color: white;
	background: #818181;
	background: -moz-linear-gradient(top, #AEAEAE, #818181);
	background: -webkit-linear-gradient(top, #AEAEAE, #818181);
	background: linear-gradient(top, #AEAEAE, #818181);
	position: relative;
	border: solid 1px #818181;
}

.mw-mf-checkbox-css3 input {
	z-index: 6;
}

.mw-mf-checkboxes .mw-mf-checkbox-css3 input {
	display: none;
}

.mw-mf-checkbox-css3 .mw-mf-settings-off,
.mw-mf-checkbox-css3 .mw-mf-settings-on,
.mw-mf-checkboxes .mw-mf-checkbox-css3 .mw-mf-settings-on,
.mw-mf-checkboxes .mw-mf-checkbox-css3.checked .mw-mf-settings-off {
	display: none;
}

.mw-mf-checkbox-css3 .mw-mf-settings-on,
.mw-mf-checkboxes .mw-mf-checkbox-css3 .mw-mf-settings-on {
	text-align: left;
}

.mw-mf-checkboxes .mw-mf-checkbox-css3 .mw-mf-settings-off,
.mw-mf-checkboxes .mw-mf-checkbox-css3.checked .mw-mf-settings-on,
.mw-mf-checkboxes .mw-mf-checkbox-css3 .mw-mf-settings-off {
	display: inline-block;
}

.mw-mf-checkbox-css3 input,
.mw-mf-checkbox-css3 span::before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* small 'sliding' switch for checkboxes */
.mw-mf-checkboxes .mw-mf-checkbox-css3 span::before {
	content: "";
	width: 30%;
	border: solid 1px white;
	border-top: none;
	border-bottom: solid 1px #aaa;
	background-color: #EBEBEB;
	background: -moz-linear-gradient(top, #EEE, #EBEBEB);
	background: -webkit-linear-gradient(top, #EEE, #EBEBEB);
	background: linear-gradient(top, #EEE, #EBEBEB);
	border-radius: 8px;
}

/* blue background of an active checkbox */
#content .mw-mf-settings li input[type=submit]:hover,
#content .mw-mf-settings li a.mw-mf-button:hover,
.mw-mf-checkbox-css3 span.mw-mf-settings-on {
	text-decoration: none;
	background-color: #57A7F2;
	background: #57A7F2;
}

/* when on sliding switch on right */
.mw-mf-checkboxes .mw-mf-checkbox-css3 .mw-mf-settings-on::before {
	right: 0;
	left: auto;
}

#content .mw-mf-settings li #mw-mf-settings-save {
	width: 50%;
}
