#searchbox #goButton {
	border: 0;
	background: url(images/s.gif) no-repeat top left;
	height: 25px;
	width: 27px;
}

.content_block,
.section_anchors,
button.section_heading.hide {
	display: none;
}

#header, #footer, #content_wrapper {
	margin: 0 2px;
}

#searchbox {
	border: 0px;
	padding: 2px;
	height: 26px;
}

#searchbox form, #searchbox button, #searchbox img, #searchbox input {
	display: inline;
}

#searchbox input#searchField {
	width: 60%;
}

#searchbox input#searchButton {
	margin-left: 2px;
}

#searchbox input#submitButton {
	display: none;
}

.nav {
	border: 0;
	border-bottom: 2px solid #6d84b4;
	border-top: 2px solid #6d84b4;
	height: auto;
	clear: both;
	padding: 5px 0 5px 0;
	margin: 0;
}

#nav {
	padding: 5px 0 5px 0;
}

.mwm-notice {
	text-align: left;
}

.mwm-message.mwm-notice {
	display: none;
}

a.arrow {
	float: right;
	margin-right: 5px;
}

