.thumb {
	margin: 0.5em 0;
}

.thumb.tright {
	float: right;
	clear: right;
	margin-left: 0.5em;
}

.thumb .thumbcaption {
	text-align: left;
	margin: 0;
	font-size: 90%;
	padding-top: 0.5em;
}

.thumb.tleft {
	float: left;
	clear: left;
	margin-right: 0.5em;
}

.thumb .thumbinner,
.thumb .thumbinner[style] {
	padding: 5px;
	margin: 0;
}

#header {
	padding: 8px;
}

#content_wrapper {
	background: white;
	clear: both;
	padding: 8px;
}

#footer {
	background: white;
	padding: 0 8px;
}

body {
	width: 798px;
	background: #6ee4ff;
	font-size: 200%;
}

button, input {
	font-size: 150%;
}

#header {
	height: 100px;
}

#header #logo {
	margin-right: 8px;
}

#header #homeButton {
	float: left;
}

#header #search_bar {
	padding-top: 20px;
}

#header #searchField {
	width: 450px;
}

.mwm-message.mwm-notice {
	font-size: 1.1em;
}

#footer {
	padding-top: 1em;
}

#footer #perm {
	padding-top: 1em;
	font-size: 80%;
}

#footer #copyright {
	padding: 1em 0;
	font-size: 80%;
}

.content_block,
.section_anchors,
button.section_heading.hide {
	display: none;
}

