@import '../../mobile.less/mobile.variables';

.image-details {
	display: none;
	z-index: @z-indexOverOverlay;
	bottom: 0;
	height: auto;
	max-height: 50%;
	position: fixed;
	width: 100%;
	padding: 8px 10px;
	margin: 0;
	background: #fff;
	overflow-y: auto;
	border-top: 1px solid @grayLight;

	&.is-visible {
		display: block;
	}

	.button {
		float: right;
	}
}
