@import '../../mobile.less/mobile.variables';
@import '../../mobile.less/mobile.mixins';
@import 'mediawiki.mixins.less';

.overlay.media-viewer {
	background: #000;
	padding-top: 0;

	.main {
		height: 100%;
		position: relative;
		width: 100%;
	}

	.image-wrapper {
		width: 100%;
		height: 100%;
		text-align: center;
		display: table;

		.image {
			display: table-cell;
			vertical-align: middle;
			height: 100%;
			width: 100%;
		}
	}

	img {
		// Reduce jarring white flash caused by white background color of image
		// (T197110). Waiting to make the background white after image load seems to
		// help in most browsers but there are still peculiarities across browsers.
		// Firefox seems to have particular trouble. Adding the background-color
		// transition seems to reduce the effect in firefox (although does not
		// completely resolve it). Firefox flash might be related to
		// https://bugzilla.mozilla.org/show_bug.cgi?id=626613
		//
		/* stylelint-disable time-min-milliseconds */
		-webkit-transition: background-color 1ms ease-in, opacity 0.15s ease-in, -webkit-filter 0.15s ease-in;
		transition: background-color 1ms ease-in, opacity 0.15s ease-in, -webkit-filter 0.15s ease-in;
		transition: background-color 1ms ease-in, opacity 0.15s ease-in, filter 0.15s ease-in;
		/* stylelint-enable time-min-milliseconds */
		.filter( blur( 3px ) );
		opacity: 0.8;
		// With blur filter applied, firefox (and maybe others) will show blurry
		// alt text before image loads. Making color transparent to hide this.
		color: transparent;

		// get rid of a small bottom margin and vertical scrollbar
		vertical-align: bottom;

		&.ratio-width {
			width: 100%;
		}

		&.ratio-height {
			height: 100%;
		}
	}

	.image-loaded {
		// for images with transparent background
		background: #fff;
		opacity: 1;
		.filter( blur( 0 ) );
	}

	// FIXME: change styling after overlay overhaul
	.cancel {
		position: absolute;
		right: 0;
		top: 10px;
	}

	// FIXME: Merge with overlay-footer-container
	.details {
		display: none;
		z-index: @z-indexOverOverlay;
		bottom: 0;
		height: auto;
		position: fixed;
		width: 100%;
		padding: 8px 10px;
		margin: 0;
		background: #fff;
		overflow-y: auto;
		border-top: 1px solid @grayLight;

		&.is-visible {
			display: block;
		}

		.button {
			float: right;
		}
	}

	.load-fail-msg {
		text-align: center;
		color: #fff;
		padding: 0 65px;
	}

	.load-fail-msg-icon {
		margin: 12px auto;
	}

	.load-fail-msg-text {
		margin: 8px 0;
	}

	.load-fail-msg-link {
		a {
			color: @colorProgressive;
		}
	}
}

.animations .media-viewer {
	.details {
		.transition( opacity 0.5s );
	}
}

