@import "minerva.variables";
@import "minerva.mixins";

// These are set as !important since they have to override styles set in VisualEditor
// FIXME: Remove protected node once VE is correctly identifying which nodes are
// supported in mobile.
.ve-ce-alienNode-phantom,
.ve-ce-protectedNode-phantom {
	box-shadow: none !important;
	opacity: 0.5 !important;
	background-color: white !important;
}

.content {
	// VisualEditor doesn't have section_heading class, so we need to apply
	// heading styles to the header tags directly.
	h1, h2 {
		margin-bottom: .5em;
		border-bottom: solid 1px @sectionBorderColor;
	}

	figure[typeof*='mw:Image'] {
		&.mw-halign-left {
			margin-right: 1.4em;
		}

		&.mw-halign-right {
			margin-left: 1.4em;
		}

		.ve-ce-mwBlockImageNode-thumbimage {
			border: none;
		}
	}

	figure[typeof='mw:Image/Thumb'],
	figure[typeof='mw:Image/Frame'] {
		margin: 0.6em 0;
		max-width: 100%;
		background-color: transparent;
		border: none;
		padding: 0;
		font-size: inherit;
	}
}

.editor-overlay-ve {
	// Toolbar
	.overlay-header-container {
		.overlay-header {
			> .toolbar {

				.oo-ui-toolbar-bar {
					position: static;

					.oo-ui-toolGroup {
						// FIXME: This resets oo-ui css and shouldn't be needed. Fix should be applied in oo-ui Agora skin
						margin: 0;
					}

					.oo-ui-popupToolGroup {
						&.oo-ui-iconedElement {
							height: @headerHeight;
							margin: 0 0 0 1em;
						}

						.oo-ui-toolGroup-tools {
							// Position the dropdown underneath the icon
							top: @headerHeight;
							// FIXME: This should probably be in oo-ui minerva skin
							background-color: white;
							border: 1px solid @grayLight;
							box-shadow: 0 .1em .2em rgba(0, 0, 0, .2);
						}

						.oo-ui-tool-title {
							color: @grayDark;
							font-size: .9em;
						}
					}

					// FIXME: Move to oo-ui Agora skin
					.oo-ui-popupToolGroup-handle {
						.oo-ui-indicatedElement-indicator {
							right: -.6em;
							top: .7em;
						}
					}

					// FIXME: Move to oo-ui Agora skin
					.oo-ui-popupToolGroup-header {
						font-size: .9em;
						margin: 0 .8em;
					}
				}
			}
		}

		.oo-ui-listToolGroup {
			.oo-ui-tool {
				display: block;
				width: auto;
			}
			.oo-ui-tool-link {
				display: block;
				padding: 0 1em 0 .1em;
			}
		}

		.oo-ui-barToolGroup {
			.oo-ui-tool {
				display: block;
				float: left;
				position: relative;

				&.oo-ui-iconedElement {
					height: @headerHeight;
					margin: 0 0 0 1em;
					min-width: 24px;
				}

				&.oo-ui-tool-active {
					background-color: #EDF4FF;
				}
			}

			.oo-ui-tool-link {
				padding: 0; // reset

				// Hide labels for buttons in the toolbar
				.oo-ui-tool-title {
					display: none;
				}
			}
		}

		// We may want to move these to an oojs-ui theme at some point. The down-side is
		// that we wouldn't be able to use the @headerHeight LESS variable.
		.oo-ui-toolbar-tools {
			.oo-ui-tool-link {
				height: 100%;
				.box-sizing( border-box );
			}

			// FIXME: Merge with icon and icon-32px classes
			.oo-ui-iconedElement-icon {
				width: @headerHeight;
				height: @headerHeight;
				// FIXME: Somehow consolidate ooui classes with icon and icon-32px classes so this rule is unnecessary
				.background-size( 32px, 32px );
			}
		}

		// FIXME: Remove these resets once oo-ui supports skinning
		.oo-ui-tool-active:not(.oo-ui-widget-disabled) {
			box-shadow: none;
			border: none;
		}

		// FIXME: Remove these resets once oo-ui supports skinning
		.oo-ui-tool:hover:not(.oo-ui-widget-disabled) {
			border: none;
		}
	}
}
