<div class="overlay-header initial-header hideable hidden">
	<ul class="bottom-border">
		<li><button class="cancel icon">{{closeMsg}}</button></li>
	</ul>
	{{#editSwitcher}}
	<div class="switcher-container bottom-border">
		<button class="editor-switcher icon icon-edit-source icon-32px">{{switchMsg}}</button>
		<div class="switcher-drop-down">
			<div class="mw-ui-button visual-editor"><span class="icon icon-32px icon-edit-ve"></span>{{visualEditorMsg}}</div><!--
			--><div class="mw-ui-button mw-ui-progressive source-editor"><span class="icon icon-32px icon-edit-source selected"></span>{{sourceEditorMsg}}</div>
		</div>
	</div>
	{{/editSwitcher}}
	<div class="overlay-title bottom-border">
		<h2>{{{editingMsg}}}</h2>
	</div>
	{{^readOnly}}
	<ul>
		<li><button class="continue icon" disabled>{{continueMsg}}</button></li>
	</ul>
	{{/readOnly}}
</div>
