<div class="overlay-header-container border-box visible position-fixed">
	{{>header}}
	<div class="overlay-header save-header hideable hidden">
		<ul class="v-border bottom-border">
			<li><button class="back icon">{{keepEditingMsg}}</button></li>
		</ul>
		<div class="overlay-title bottom-border">
			<h2>{{{previewingMsg}}}</h2>
		</div>
		<ul>
			<li><button class="submit icon">{{saveMsg}}</button></li>
		</ul>
	</div>
	<div class="overlay-header saving-header hideable hidden">
		<ul class="v-border bottom-border">
			<li><button class="cancel icon" disabled>{{closeMsg}}</button></li>
		</ul>
		<div class="overlay-title bottom-border">
			<h2>{{{waitMsg}}}</h2>
		</div>
		<ul class="v-border bottom-border">
			<li><button class="loading icon">{{waitMsg}}</button></li>
		</ul>
	</div>
</div>

<div class="panels">
	<div class="save-panel panel hideable hidden">
		<input class="summary border-box" placeholder="{{summaryMsg}}" />
		<p class="license">{{{licenseMsg}}}</p>
	</div>
	<div class="captcha-panel panel hideable hidden">
		<div class="inputs-box">
			<img src="">
			<input class="captcha-word border-box" placeholder="{{captchaMsg}}" />
		</div>
	</div>
</div>

<div class="spinner loading"></div>

{{>content}}
