<div class="overlay-header initial-header hideable hidden">
	<ul>
		<li><button class="cancel icon icon-cancel">{{closeMsg}}</button></li>
	</ul>
	<div class="overlay-title">
		<h2>{{{editingMsg}}}</h2>
	</div>
	{{#editSwitcher}}
	<div class="switcher-container">
		<button class="editor-switcher icon">{{switchMsg}}</button>
		<div class="switcher-drop-down">
			<div class="mw-ui-button visual-editor"><span class="icon icon-32px icon-edit-ve"></span>{{visualEditorMsg}}</div><!--
			--><div class="mw-ui-button mw-ui-progressive source-editor"><span class="icon icon-32px icon-edit-source selected"></span>{{sourceEditorMsg}}</div>
		</div>
	</div>
	{{/editSwitcher}}
	{{^readOnly}}
	<div class="overlay-action"><button class="continue" disabled>{{continueMsg}}</button></div>
	{{/readOnly}}
</div>
