<div class="overlay-header initial-header hideable hidden">
	<ul class="bottom-border">
		<li><button class="cancel icon">{{closeMsg}}</button></li>
	</ul>

	<div class="switcher-container bottom-border">
		<button class="editor-switcher icon icon-edit-ve icon-32px">{{switchMsg}}</button>
		<div class="switcher-drop-down">
			<div class="mw-ui-button mw-ui-progressive visual-editor"><span
				class="icon icon-32px icon-edit-ve selected"></span>{{visualEditorMsg}}</div><!--
			--><div class="mw-ui-button source-editor"><span class="icon icon-32px icon-edit-source"></span>{{sourceEditorMsg}}</div>
		</div>
	</div>

	<div class="toolbar bottom-border"></div>
	{{^readOnly}}
	<ul>
		<li><button class="continue icon" disabled>{{continueMsg}}</button></li>
	</ul>
	{{/readOnly}}
</div>
