@import "minerva.variables";
@import "mediawiki.ui/variables";

@media all and (min-width: @wgMFDeviceWidthTablet) {
	.beta {
		.content {
			padding: @contentTopPadding @contentPaddingTablet 0;
		}
	}
}

@media all and (min-width: @wgMFDeviceWidthDesktop) {
	// When pushing to stable remember to think about cache implications
	.alpha,
	.beta {
		// FIXME: Zero should use banner-container class or better - append to banner-container
		#mw-mf-page-center .mw-mf-banner,
		.banner-container,
		// FIXME: Generic header class needed me-thinks!
		.header,
		.page-header-bar,
		.content-header,
		.overlay-header,
		// FIXME: Generic content class needed?
		.content,
		.overlay-content,
		.content-unstyled,
		.pre-content,
		.content-overlay,
		// FIXME: remove need for id selector
		#mw-mf-page-center .pointer-overlay {
			margin-left: auto;
			margin-right: auto;
			max-width: @contentMaxWidthTablet;
		}

		.content {
			padding: @contentTopPadding 0;
		}
		// #mw-mf-page-center is needed because there is a .header inside the main menu in alpha
		#mw-mf-page-center .header {
			margin-top: -1px;
		}

		.header-icon {
			// so that the icon image is aligned with the content
			left: -@iconGutterWidth;
		}

		#secondary-button {
			// so that the icon image is aligned with the content
			right: -@iconGutterWidth;
		}

		// FIXME: remove when cache clears. Beta doesn't have searchInput in the header anymore
		// Search input in the header inside page-center (rather than the left nav)
		#mw-mf-page-center #searchInput {
			// because we're pulling #mw-mf-main-menu-button to the left too (see above)
			margin-left: -@iconGutterWidth;
		}
	}
}
