@import "minerva.variables";
@import "mediawiki.ui/variables";


@media all and (min-width: @wgMFDeviceWidthTablet) {

	// When pushing to stable remember to think about cache implications
	.alpha,
	.beta {
		// FIXME: Zero should use banner-container class or better - append to banner-container
		#mw-mf-page-center .mw-mf-banner,
		.banner-container,
		// FIXME: Generic header class needed me-thinks!
		.header,
		.list-header,
		.page-header-bar,
		.content-header,
		.overlay-header,
		// FIXME: Generic content class needed?
		.content,
		.overlay-content,
		.content-unstyled,
		.pre-content,
		.content-overlay {
			margin-left: auto;
			margin-right: auto;
			max-width: @contentMaxWidthTablet;
		}

		// FIXME: Zero should use banner-container class or better - append to banner-container
		#mw-mf-page-center .mw-mf-banner,
		.banner-container,
		.header,
		.pre-content,
		.post-content,
		.content-unstyled,
		.content-header,
		.overlay-header,
		.overlay-content {
			padding-left: @contentPaddingTablet;
			padding-right: @contentPaddingTablet;
		}
	}

	.alpha,
	.beta {
		// #mw-mf-page-center is needed because there is a .header inside the main menu in alpha
		#mw-mf-page-center .header {
			margin-top: -1px;
		}

		// stable and beta hamburger icon
		#mw-mf-main-menu-button {
			// so that the icon image is aligned with the content
			left: -@iconGutterWidth;
		}

		#secondary-button {
			// so that the icon image is aligned with the content
			right: -@iconGutterWidth;
		}

		.pre-content {

			#section_0 {
				border-bottom: none;
				// FIXME: After this and the new page-action CSS below are promoted to stable,
				// move page-actions before the h1 in the DOM, remove the 220px padding on the
				// header, and change the absolute positioning of page-actions to float.
				padding: 0 220px 7px 0;
				font-size: 2.6525em; // 42px
			}
		}
		#page-actions {
			right: @contentPaddingTablet;
			top: 36px;
			padding: 0;
		}
	}

	.beta {
		// Search input in the header
		#searchInput {
			// because we're pulling #mw-mf-main-menu-button to the left too (see above)
			margin-left: -@iconGutterWidth;
		}
	}
}
