{{#error}}
<div class="alert error">
	{{#heading}}<h2>{{heading}}</h2>{{/heading}}
	<p>{{guidance}}</p>
</div>
{{/error}}
{{#loadingMessage}}
<div class="content loading">{{loadingMessage}}</div>
{{/loadingMessage}}
<ul class="page-list thumbs actionable">
	{{#pages}}
	<li title="{{title}}" data-id="{{id}}">
		<a href="{{url}}" class="title" name="{{anchor}}" data-latlng="{{latitude}},{{longitude}}" data-title="{{title}}">
			<div class="icon listThumb {{pageimageClass}}" style="{{listThumbStyleAttribute}}"></div>
			<h3>{{{heading}}}</h3>
			{{#proximity}}
			<div class="info proximity">{{proximity}}</div>
			{{/proximity}}
		</a>
	</li>
	{{/pages}}
</ul>
