<a class="{{mobileMenuClass}}" href="{{mobileMenuLink}}">{{mobileMenuTitle}}</a>
{{#showSearchForm}}
{{{searchForm}}}
{{/showSearchForm}}
{{#showTitle}}
<div class="header-title">
	<a href="{{mobileMenuLink}}">{{{siteName}}}</a>
</div>
{{/showTitle}}
