<div class="header">
	<button class="cancel">{{closeMsg}}</button>
</div>
<div class="content">
	<p class="loading">{{loadingMessage}}</p>
	<p>{{ownerStatement}} <a href="#" class="help">{{help}}</a></p>
	<textarea name="description" placeholder="{{descriptionPlaceholder}}"></textarea>
</div>
<div class="position-fixed buttonBar button-bar-centered">
	<button class="cancel inline">{{cancelButton}}</button>
	<button class="submit" disabled>{{submitButton}}</button>
	<p class="license">{{{license}}}</p>
</div>
