@searchBoxMarginLeft: 40px;
@headerHeight: 45px;
@contentMarginRight: 28px;
@contentMarginLeft: @contentMarginRight;
@topnavheight:45px;
@ribbonopencolor:#4B7DCE;
@ribbon-color:#3366BA;
@ribbonclosedwidth: 20px;

