@import "minerva.variables";
@import "minerva.mixins";

// Content formatting and typography
//
// Our content is predominately text, hence visual hierarchy must be clear.
//
// Styleguide 1.

html {
	// prevent font scaling in landscape in Safari
	-webkit-text-size-adjust: none;
	font-size: 100% * @fontScalingFactor;
}

@bodyLineHeight: 1.4;
@tableHeadBackgroundColor: #F2F2F2;

body {
	font-family: @fontFamily;
	line-height: @bodyLineHeight;
	color: @grayDark;
	background: #fff;
}

.content {
	line-height: @contentLineHeight;
	margin: .8em @contentMargin 0;
	// Deal with long links (bug 60387)
	word-wrap: break-word;

	p {
		margin: .5em 0 1em 0;
	}

	ol,
	ul {
		ol,
		ul {
			margin-left: 1em;
		}
	}

	ul {
		list-style: square inside;
	}

	ol {
		list-style: decimal inside;
	}

	table {
		margin: 1em 0;

		/* following 4 rules are needed for scrolling */
		overflow: auto; /* for browsers that don't support overflow-y */
		overflow-y: hidden;
		overflow-x: auto;
		display: block;
		width: 100% !important;

		td,
		th {
			padding: 3px;
			border: 1px @grayLight solid;
		}

		th {
			font-weight: bold;
			background-color: @colorGray14;
			text-align: center;
		}

		caption {
			display: block;
			text-align: left;
		}
	}
}

strong,
b {
	font-weight: bold;
}

em,
i {
	font-style: italic;
}

.hlist > ul, // FIXME: to support hlists on enwiki projects - this should be deprecated

	// Horizontal Lists
	//
	// Use hlist class when dealing with lists where items should be horizontal.
	//
	// Markup:
	// <ul class="hlist">
	// <li>item 1</li>
	// <li>item 2</li>
	// </ul>
	//
	// Styleguide 1.5.
ul.hlist {
	li {
		display: inline-block;
		margin-right: 8px;
	}
}

// Code
//
// Use this solely for blocks of computer code.
//
// Markup:
// <code>
// body {
//   color:red;
// }
// </code>
//
// Styleguide 1.6.

// Preformatted text
//
// Use on text where whitespace is significant and the content should not be formatted.
//
// Markup:
// <pre>
// body {
//   color:red;
// }
// </pre>
//
// Styleguide 1.7.
code,
pre {
	padding: 1em;
	font-family: monospace;
	border: solid 1px @colorGray12;
	white-space: pre-wrap;
}

dl {
	margin-left: 1em;
	dt {
		font-weight: bold;
	}
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

sub,
sup {
	font-size: 0.75em;
	// Avoid line-height issues caused by sup and sub
	line-height: 1;
}

@media all and (max-width: @wgMFDeviceWidthMobileSmall) {
	body {
		font-size: .8em;
	}

	.content {
		margin: 0 12px;
	}
}

.nomobile {
	display:none;
}
