@import 'mediawiki.skin.variables.less';
@import '../../../mobile.less/mobile.variables.less';

.search-results-view {
	> div {
		height: 100%;
	}

	.search-content {
		display: flex;
		align-items: center;
	}
}

@media all and ( max-width: @max-width-breakpoint-mobile ) {
	// Sync with `@thumbGap`.
	.search-results-view .search-content {
		padding-left: 15px;
	}
}
