// These rules are specifically for Special:Nearby in the Vector and Monobook skins
.page-list {
	list-style: none;
	margin-left: 0;
}

// hide "Loading..." text after Special:Nearby is done loading
.hidden {
	display: none;
}
