/*
A file for css that optimises the Minerva skin on larger devices.
*/

@import "minerva.variables";
@import "minerva.mixins";


@media all and (min-width: @wgMFDeviceWidthTablet) {
	#content_wrapper {
		.content_block {
			width: auto;
			clear: none;
		}
	}

	// FIXME: remove the .stable .pre-content selector when cache clears
	.stable .pre-content,
	.heading-holder {
		position: relative;
		padding: 20px @contentPaddingTablet 0 @contentPaddingTablet;

		#section_0 {
			border-bottom: none;
			padding: 0 0 7px 0;
			font-size: 2.6525em; // 42px
		}
	}

	#page-actions {
		width: auto;
		padding: 18px 0 0 0;

		li:first-child {
			margin-top: 0;
		}
	}

	.stable {
		// FIXME: Have a class that identifies all 3 of these
		.pre-content,
		.content,
		.content-overlay {
			max-width: @contentMaxWidthTablet;
		}
	}

	// FIXME: Have a class that identifies all 4 of these
	.drawer,
	.pre-content,
	.content,
	.content-overlay {
		margin: 0 auto;
	}

	.content {
		padding: 1.6em @contentPaddingTablet 0 @contentPaddingTablet;
		// Classes added by thumbnails
		// e.g. [[File:Scholars mate animation.gif|frame|left|"[[Scholar's mate]]"]]
		// We use @noflip because we still want .tleft to be on the left and
		// .tright to be on the right in RTL languages.
		.thumb {
			&.tleft {
				/* @noflip */
				float: left;
				/* @noflip */
				clear: left;
				/* @noflip */
				margin-right: 1.4em;
			}

			&.tright {
				/* @noflip */
				float: right;
				/* @noflip */
				clear: right;
				/* @noflip */
				margin-left: 1.4em;
			}
		}

		// Blockquotes
		blockquote {
			// Increase horizontal padding
			padding-right: @blockquotePaddingRight + 10px;
			padding-left: @blockquotePaddingLeft + 10px;
		}

		// Override rules in common.less
		table {
			display: table;
			width: auto !important;
			caption {
				display: table-caption;
			}
			tbody {
				display: table-row-group;
			}
		}
	}

	#footer {
		padding: 2em @contentPaddingTablet 1.5em @contentPaddingTablet;
	}

	.stable {
		// FIXME: remove when cache clears
		.last-modified-bar {
			padding-top: 0;
			padding-bottom: 0;
		}
		.last-modified-bar.pre-content {
			max-width: none;
			padding: 0 16px;
		}
		// FIXME: remove  when cache clears
		#mw-mf-last-modified.pre-content {
			max-width: none;
		}
	}

	#mw-mf-last-modified {
		padding: 5px 0;
	}
}
