@import 'minerva.variables';
@import 'minerva.mixins';

footer {
	border-top: solid 1px @footerBorderColor;
	overflow: auto;
	padding-bottom: 6px;

	.last-modified-bar {
		border-bottom: solid 1px @footerBorderColor;
		background-color: @lastModifiedBarBgColor;
		display: block;
		color: @lastModifiedBarTextColor;
		line-height: 1.5em;
		transition: background-color 0.2s ease, color 0.2s ease;

		&.active {
			background-color: @lastModifiedBarActiveBackgroundColor;
			color: #fff;
		}
	}

	.last-modifier-tagline {
		display: block;
		width: 100%;
		font-size: 0.9em;
		padding: 7px 2em 7px 0;
	}

	.indicator {
		position: absolute;
		right: -1em;

		// FIXME: Remove pseudo selector rule in 1 weeks time [T145479]
		&:before {
			.transform( rotate( -90deg ) );
		}

		.client-nojs & {
			// Certain browsers e.g. Opera Mini do not support css transforms
			// We assume that we do not run JS on these browsers so hide the chevron
			display: none;
		}
	}

	> .post-content {
		overflow: auto;
		margin-top: 42px;

		> * {
			margin-bottom: 9px;
		}

		> h2 {
			border-bottom: solid 1px @footerBorderColor;
			padding-bottom: 10px;
			margin-top: 42px;
			font-size: 1em;
			font-weight: bold;

			&:first-child {
				margin-top: 0;
			}
		}

		.hlist,
		.license {
			font-size: 0.875em;
		}
	}
}

// FIXME: Remove pseudo selector rule in 1 weeks time [T145479]
.rtl footer .indicator:before {
	.transform( rotate( 90deg ) );
}

@media ( min-width: @deviceWidthTablet ) {
	footer {
		.last-modified-bar {
			padding-left: 0;
			padding-right: 0;
			font-size: 1em;
		}
	}
}
