// FIXME: This file should be shared across repositories
@import "minerva.variables";
@import "minerva.mixins";
@import "mediawiki.mixins";

// FIXME: Find better workaround for this
span.mw-ui-icon {
	// a block inside an inline element is never a good idea - effects line height of mobile diff bytesadded class
	display: inline-block;
}

.open-block {
	.mw-ui-icon-arrow:before {
		-webkit-transform: scaleY(-1);
		transform: scaleY(-1);
	}
}