<div class="cta-holder">
	<div class="{{userIconClass}}"></div>
	<h3>{{ctaHeading}}</h3>
	<div class="desc">{{ctaDescription}}</div>
	<div class="jsonly">
		<a href="#/editor/0" data-section="0" class="mw-ui-progressive edit-link hidden {{createPageLinkAdditionalClasses}}">{{createPageLinkLabel}}</a>
	</div>
</div>
