<div class="cta-holder">
	<div class="icon"></div>
	<h3>{{ctaHeading}}</h3>
	<div class="desc">{{ctaDescription}}</div>
	<div class="jsonly">
		<a href="#/editor/0" class="mw-ui-progressive {{createPageLinkAdditionalClasses}}">{{createPageLinkLabel}}</a>
	</div>
</div>
