// Search bar
@searchBarPaddingLeft: 40px;
@searchBarPaddingRight: 40px;
@searchResultPaddingVertical: 12px;
@searchBoxColor: #fafafa;

// Navigation Drawers
@menuWidth: 240px;
@rightDrawerWidth: 60%;

// Content
@contentMargin: 16px;

// old header
// FIXME: remove when new header in stable
@oldHeaderHeight: 46px;
@headerElementHeight: @oldHeaderHeight - 16;
@headerBorderBottom: #e3e3e3;

// new header
@headerTitlePaddingH: .5em;
@headerTitleFontSize: 1em;
@headerHeight: 3.35em;

@grayDark: #252525;
@grayMediumDark: #565656;
@grayMedium: #777;
@grayMediumLight: #aaa;
@grayLight: #ccc;
@grayLightest: #eee;

// page actions
@watchStarSize: 22px;

// colors
@semiTransparent: rgba(255, 255, 255, .8);
@blueBase : #3366BB;
@greenBase : #008740;
// note this is also used for red links
@redBase : #CC0000;
@mainMenuBackgroundColor: #4E4E4E;
@colorTutorial: #006398;

// typography
@fontFamily: "Helvetica Neue", "Helvetica", "Nimbus Sans L", "Arial", "Liberation Sans", sans-serif;
@fontFamilyHeading: "Linux Libertine", Georgia, Times, serif;
@fontScalingFactor: 0.9;
@contentLineHeight: 1.65;

@headingMargin: .5em;
// FIXME: Merge with @grayLightest (?)
@sectionBorderColor: #E2E3E4;
@sectionIconWidth: 30px;

// information messages, e.g. empty watchlist message
@infoColor: #707070;

// blockquotes
@blockquotePaddingRight: 25px;
@blockquotePaddingLeft: 30px;

// custom tablet styling
@contentPaddingTablet: 60px;

// calculated values
@secondaryNavWidth: @headerElementHeight;

// calculated colors
@searchBoxColorTo: darken( @searchBoxColor, 2.75% );

// Wiki specific variables
@infoboxWidth: 400px;
