#edit-page {
  position: absolute;
  right: 0;
  top: 0;
}
.edit-overlay textarea {
  width: 100%;
  min-height: 50%;
  margin: 0 0 5em;
  border: none;
  resize: none;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.edit-overlay textarea:focus {
  outline: none;
}
