#edit-page {
  position: absolute;
  right: 0;
  top: 0;
}
.edit-overlay .loading {
  height: 100px;
}
.edit-overlay textarea {
  width: 100%;
  min-height: 50%;
  padding: 8px 16px 5em;
  line-height: 1.5;
  border: none;
  resize: none;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.edit-overlay textarea:focus {
  outline: none;
}
