.button.photo {
  position: relative;
  display: table;
  margin: 0 auto;
  padding-left: 44px;
  text-align: left;
  /* override text-align center - chrome not clickable */

}
.button.photo div {
  background: url(images/camera.png) 10px 45% no-repeat;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: 24px auto;
  -o-background-size: 24px auto;
  -webkit-background-size: 24px auto;
  background-size: 24px auto;
}
.button.photo input {
  opacity: 0;
  z-index: 2;
}
.button.photo input,
.button.photo div {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#content > .button.photo {
  display: block;
  margin-bottom: 10px;
}
.photoPreview {
  padding-bottom: 70px !important;
}
.photoPreview .help {
  display: block;
}
.photoPreview img {
  height: 90px;
  float: left;
  margin: 0 8px 8px 0;
}
.photoPreview .loading {
  background-position: 0 50%;
  padding: 0 0 0 48px;
  margin: 0;
  line-height: 90px;
}
.photoPreview .license {
  background: url('images/cc-by-sa.png') no-repeat;
  background-size: auto 22px;
  padding: 26px 0 0;
  margin: 1em 0;
  color: #707070;
  font-size: .75em;
  line-height: 150%;
}
.photoPreview textarea {
  width: 100%;
  height: 6em;
}
.photoPreview textarea::-webkit-input-placeholder,
.photoPreview textarea::-moz-placeholder {
  text-align: center;
  line-height: 6em;
}
@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
@-webkit-keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
.photo-nag {
  height: 90%;
}
.photo-nag .preview {
  height: 50%;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.photo-nag .preview.loading {
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: auto auto;
  -o-background-size: auto auto;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  background-position: 50% 50%;
}
.photo-nag li {
  clear: both;
  min-height: 50px;
  padding: 0 0 1em 73px;
  line-height: 1.25;
}
.photo-nag label div {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 0 0 -73px;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  border: 3px solid #939393;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #e6e7e8 url(images/confirm.png) 50% 50% no-repeat;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: 24px 24px;
  -o-background-size: 24px 24px;
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
}
.photo-nag label div input {
  display: none;
}
.photo-nag label div.checked {
  background-color: #006398;
  background-image: url(images/confirmChecked.png);
  border-color: #006398;
}
.photo-nag strong {
  padding: .3em 0;
  display: block;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
}
.animations .photo-nag label div.active {
  -webkit-animation: pulse 1s ease-in-out infinite alternate;
  animation: pulse 1s ease-in-out infinite alternate;
}
@media (min-width: 700px) {
  .photo-nag .preview {
    /* use -webkit prefix for older android browsers eg. nexus 1 */
  
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-position: 50% 50%;
  }
}
