.button.photo {
  position: relative;
  display: table;
  padding: 0;
  margin: 0 auto;
  text-align: left;
  /* override text-align center - chrome not clickable */

}
.button.photo input,
.button.photo div {
  cursor: pointer;
}
.button.photo input {
  position: absolute;
  opacity: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.button.photo div {
  padding: 0.8em 10px 0.8em 44px;
  background: url(images/camera.png) no-repeat 10px 45%;
  background-size: 24px auto;
}
#content > .button.photo {
  width: 100%;
  margin-bottom: 10px;
}
.photoPreview {
  padding-bottom: 70px !important;
}
.photoPreview img {
  height: 90px;
  float: left;
  margin: 0 8px 8px 0;
}
.photoPreview .loading {
  background-position: 0 50%;
  padding: 0 0 0 48px;
  margin: 0;
  line-height: 90px;
}
.photoPreview .license {
  background: url('images/cc-by-sa.png') no-repeat;
  background-size: auto 22px;
  padding: 26px 0 0;
  margin: 1em 0;
  color: #707070;
  font-size: .75em;
  line-height: 150%;
}
.photoPreview textarea {
  width: 100%;
  height: 6em;
}
.photoPreview textarea::-webkit-input-placeholder,
.photoPreview textarea::-moz-placeholder {
  text-align: center;
  line-height: 6em;
}
