a.watch-this-article {
  background-image: url(images/watch.png);
  background-position: right center;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: auto 22px;
  -o-background-size: auto 22px;
  -webkit-background-size: auto 22px;
  background-size: auto 22px;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999px;
  background-repeat: no-repeat;
}
a.watch-this-article.watched {
  background-image: url(images/watched.png);
}
.full-screen-search #mw-mf-searchForm a.watch-this-article {
  display: none;
}
.suggestions-result a.watch-this-article {
  right: 23px;
  top: 12px;
  height: 24px;
  width: 24px;
}
#mw-mf-menu-page a.watch-this-article {
  position: relative;
  display: block;
}
/* notification */
#mf-notification div.watch-action {
  background-image: url(images/watch.png);
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 24px 24px;
}
#mf-notification div.watch-action.watched {
  background-image: url(images/watched.png);
}
