a.watch-this-article {
  background-image: url(images/watch.png);
  background-position: center center;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: auto 22px;
  -o-background-size: auto 22px;
  -webkit-background-size: auto 22px;
  background-size: auto 22px;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999px;
  background-repeat: no-repeat;
}
a.watch-this-article.watched {
  background-image: url(images/watched.png);
}
a.watch-this-article.loading {
  background-image: url(../common/images/ajax-loader.gif);
  min-height: auto;
}
.alpha .watch-this-article {
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.alpha .watch-this-article.watched {
  -webkit-transform: rotate(72deg);
  transform: rotate(72deg);
}
.full-screen-search #mw-mf-searchForm a.watch-this-article {
  display: none;
}
li a.watch-this-article {
  right: 12px;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 24px;
  background-position: center center;
  margin: 0;
}
#mw-mf-menu-page a.watch-this-article {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
/* notification */
#mf-notification div.watch-action {
  background-image: url(images/watch.png);
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 24px 24px;
}
#mf-notification div.watch-action.watched {
  background-image: url(images/watched.png);
}
