/*
REFERENCES
moved from beta_common.css
Change-Id: I48b03d0b2de13ae34b22f4831d1b80aa1f446b4e
*/
ol.references > li:target,
sup.reference:target,
span.citation:target,
cite:target {
	background-color: #ddeeff;
}

