.alpha #page-actions #ca-talk.count a {
  text-indent: 0;
  text-align: center;
  line-height: 36px;
  font-weight: bold;
  color: #FFF;
  font-size: 9px;
}
.overlay .header button.add {
  position: absolute;
  right: 0;
  top: 0;
}
