@import '../../mobile.less/mobile.variables.less';

.panel {
	> p {
		padding: 1em;
	}

	input,
	textarea {
		border-radius: 0;
		padding: 16px 1em;
	}
}

.mw-body > .content {
	.panel {
		background-color: @grayLightest;
		clear: both;
		margin-top: 1em;
		text-align: center;
	}
}
