@import 'mobile.variables';

// FIXME: `mobile.` LESS modules should not import `minerva.` LESS modules.
// Move Minerva specific rules into skinStyles.
@import 'minerva.variables';

#bodyContent {
	.panel {
		background-color: @grayLightest;
		clear: both;
		margin-top: 1em;
		text-align: center;

		.content {
			padding: 1em @contentMargin;
			margin: 0;
		}
	}
}
