.client-js {
	.collapsible-heading {
		cursor: pointer;

		// FIXME: This should be removed as part of https://phabricator.wikimedia.org/T229440
		.indicator {
			display: inline-block;
			vertical-align: 0.3em;
			margin-left: -1em;
			font-size: 0.4em;
		}
	}
}

@media print {
	.collapsible-heading .indicator,
	.collapsible-heading .edit-page {
		display: none;
	}

	// need to be this specific in order to override the default style
	.client-js .collapsible-block {
		display: block;
	}
}
