<div class="search-overlay-contents">
	<div class="overlay-header-container border-box visible position-fixed">
		<div class="overlay-header">
			<ul class="bottom-border">
				<li><button class="cancel icon">{{closeMsg}}</button></li>
			</ul>
			<div class="overlay-search bottom-border">
				<form method="get" action="{{action}}">
					<input class="search" type="search" name="search" autocomplete="off" placeholder="{{placeholderMsg}}">
					<input type="hidden" name="fulltext" value="search">
				</form>
			</div>
			<ul class="bottom-border">
				<li><button class="clear icon">{{clearMsg}}</button></li>
			</ul>
		</div>
	</div>
	<div class="search-content overlay-header">
		<ul class="bottom-border">
			<li><button class="icon">{{searchContentMsg}}</button></li>
		</ul>
		<div class="caption bottom-border">
			<p class="with-results">{{searchContentMsg}}</p>
			<p class="without-results">{{noResultsMsg}}</p>
			<p class="without-results">{{{searchContentNoResultsMsg}}}</p>
		</div>
	</div>
	<div class="results spinner"></div>
</div>
