html {
  font-size: 80%;
}
body {
  font-size: 1em;
  line-height: 1;
  color: black;
  background: white;
  font-family: sans-serif;
  word-break: break-word;
  -webkit-text-size-adjust: 100%;
}
#content_wrapper h1 {
  font-size: 1.7em;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
.togglingEnabled h1.section_heading button {
  height: 1.7em;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  margin: 0.7em 0 0.7em 0;
}
h1.section_heading,
h2.section_heading,
h3.section_heading,
h4.section_heading,
h5.section_heading {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}
h1.section_heading button,
h2.section_heading button,
h3.section_heading button,
h4.section_heading button,
h5.section_heading button {
  height: 16px;
}
h2 {
  border-bottom: none;
  padding-top: 0.3em;
  font-size: 1.3em;
}
input.search {
  font-size: 1.2em;
}
#content_wrapper {
  clear: both;
  margin: 0 22px;
}
#content_wrapper p {
  margin: 0 0 10px 0;
}
#content_wrapper .section {
  padding: 14px 0 0 0;
  /* effects #footer left,right padding */

}
#content_wrapper .section h2 {
  margin: 0;
  margin-bottom: 14px;
}
.full-screen-search ul.suggestions-results {
  font-size: 1.26em;
}
.thumb {
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #f9f9f9;
  margin-bottom: 10px;
  text-align: center;
}
