/* the following definitions exist to deal with certain inline styles
present in wikitext.
This file should not need to exist
IMPORTANT: do not use selectors containing attribute notation e.g. [style] [colspan]
	as they are known to damage the ios app
*/
table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  border: 1px solid #cccccc;
  padding: 3px;
  margin-bottom: 15px;
  float: none !important;
  margin-left: 0 !important;
  width: 100% !important;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
table.gallery .thumb {
  border: 0;
  padding: 0 !important;
  width: auto !important;
  margin: 0 auto;
}
table.geography td {
  text-align: left !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
table.gallery .gallerybox {
  width: auto !important;
  margin-bottom: -16px;
}
.thumb .thumbinner {
  margin: 5px auto;
  max-width: 100%;
}
img.tex,
.thumb img {
  max-width: 100% !important;
  width: auto !important;
}
.thumb .thumbcaption {
  width: 100%;
  margin: 5px 10px 0;
  text-align: center;
  width: auto !important;
}
/* bug 20030 */
.thumb .noresize {
  width: 100%;
  overflow-x: auto;
}
.thumb .noresize img {
  max-width: none !important;
}
.thumb .thumbinner > div {
  float: none !important;
  width: auto !important;
  clear: both !important;
}
