/* reuses https://github.com/wikimedia/agora */
button,
input[type=submit] {
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em 1.5em 0.5em;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border: 1px #33589f solid;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3366bb;
  background-image: -moz-linear-gradient(top, #3670c8, #3366bb);
  background-image: -ms-linear-gradient(top, #3670c8, #3366bb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3670c8), color-stop(100%, #3366bb));
  background-image: -webkit-linear-gradient(top, #3670c8, #3366bb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3670c8', endColorstr='#3366bb', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3670c8', endColorstr='#3366bb', GradientType=0)";
  background-image: linear-gradient(#3670c8, #3366bb);
  background-color: #3366bb;
  background-image: -moz-linear-gradient(top, #3670c8, #3366bb);
  background-image: -ms-linear-gradient(top, #3670c8, #3366bb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3670c8), color-stop(100%, #3366bb));
  background-image: -webkit-linear-gradient(top, #3670c8, #3366bb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3670c8', endColorstr='#3366bb', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3670c8', endColorstr='#3366bb', GradientType=0)";
  background-image: linear-gradient(#3670c8, #3366bb);
}
button:hover,
input[type=submit]:hover {
  background-color: #3f77d7;
  background-image: -moz-linear-gradient(top, #4c84da, #3f77d7);
  background-image: -ms-linear-gradient(top, #4c84da, #3f77d7);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c84da), color-stop(100%, #3f77d7));
  background-image: -webkit-linear-gradient(top, #4c84da, #3f77d7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c84da', endColorstr='#3f77d7', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c84da', endColorstr='#3f77d7', GradientType=0)";
  background-image: linear-gradient(#4c84da, #3f77d7);
  background-color: #3f77d7;
  background-image: -moz-linear-gradient(top, #4c84da, #3f77d7);
  background-image: -ms-linear-gradient(top, #4c84da, #3f77d7);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c84da), color-stop(100%, #3f77d7));
  background-image: -webkit-linear-gradient(top, #4c84da, #3f77d7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c84da', endColorstr='#3f77d7', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c84da', endColorstr='#3f77d7', GradientType=0)";
  background-image: linear-gradient(#4c84da, #3f77d7);
}
button:active,
input[type=submit]:active {
  background-color: #2a549c;
  background-image: -moz-linear-gradient(top, #2d5ea9, #2a549c);
  background-image: -ms-linear-gradient(top, #2d5ea9, #2a549c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d5ea9), color-stop(100%, #2a549c));
  background-image: -webkit-linear-gradient(top, #2d5ea9, #2a549c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d5ea9', endColorstr='#2a549c', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d5ea9', endColorstr='#2a549c', GradientType=0)";
  background-image: linear-gradient(#2d5ea9, #2a549c);
  background-color: #2a549c;
  background-image: -moz-linear-gradient(top, #2d5ea9, #2a549c);
  background-image: -ms-linear-gradient(top, #2d5ea9, #2a549c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d5ea9), color-stop(100%, #2a549c));
  background-image: -webkit-linear-gradient(top, #2d5ea9, #2a549c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d5ea9', endColorstr='#2a549c', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d5ea9', endColorstr='#2a549c', GradientType=0)";
  background-image: linear-gradient(#2d5ea9, #2a549c);
}
button:disabled,
input[type=submit]:disabled,
button:disabled.hover,
input[type=submit]:disabled.hover,
button.disabled,
input[type=submit].disabled,
button.disabled:hover,
input[type=submit].disabled:hover {
  color: white;
  text-shadow: none;
  background-color: #7297d7;
  background-image: -moz-linear-gradient(top, #7297d7, #7297d7);
  background-image: -ms-linear-gradient(top, #7297d7, #7297d7);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7297d7), color-stop(100%, #7297d7));
  background-image: -webkit-linear-gradient(top, #7297d7, #7297d7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7297d7', endColorstr='#7297d7', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7297d7', endColorstr='#7297d7', GradientType=0)";
  background-image: linear-gradient(#7297d7, #7297d7);
  background-color: #7297d7;
  background-image: -moz-linear-gradient(top, #7297d7, #7297d7);
  background-image: -ms-linear-gradient(top, #7297d7, #7297d7);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7297d7), color-stop(100%, #7297d7));
  background-image: -webkit-linear-gradient(top, #7297d7, #7297d7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7297d7', endColorstr='#7297d7', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7297d7', endColorstr='#7297d7', GradientType=0)";
  background-image: linear-gradient(#7297d7, #7297d7);
  border-color: #5e89d1;
}
button.languageSelector,
input[type=submit].languageSelector {
  margin-top: 14pt;
}
#mw-mf-header form,
#mw-mf-sq {
  height: 45px;
}
#mw-mf-main-menu-button {
  display: inline-block;
  height: 45px;
  width: 40px;
  background-image: /* @embed */ url(images/menu/main.png);
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -webkit-background-size: 24px 30px;
  background-size: 24px 30px;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -webkit-background-size: 24px 30px;
  background-size: 24px 30px;
  overflow: hidden;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  z-index: 2;
  left: 0;
  border-radius: 5px 5px 5px;
  background-position: center center;
}
#mw-mf-main-menu-button:active {
  background-color: #4C4C4C;
}
#mw-mf-viewport {
  width: 100%;
  position: relative;
  height: 100%;
  /* for non-existant file pages */

}
#mw-mf-page-center {
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 3;
  min-height: 100%;
}
.overlay .header,
#mw-mf-overlay .header,
#mw-mf-header {
  z-index: 2;
  color: white;
  background-color: #393939;
}
#mw-mf-page-left {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  bottom: 0;
  top: 0;
  margin-right: 0;
  position: absolute;
  border-right: solid 1px #AAA;
  display: none;
}
.navigationEnabled #mw-mf-page-left {
  width: 80%;
  right: 20%;
}
.navigationEnabled #mw-mf-page-center {
  left: 80%;
}
.navigationEnabled.navigationFullScreen #mw-mf-page-left {
  width: 100%;
  right: 0;
}
.navigationEnabled.navigationFullScreen #mw-mf-page-center {
  left: 100%;
}
.navigationEnabled #mw-mf-page-left {
  display: block;
}
#mw-mf-menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}
#mw-mf-universal-language {
  font-size: 0.8em;
  margin-left: 14px;
  /* margin-left of #mw-mf-menu-main li a + 4px on left of icon background-position */

}
#mw-mf-page-left,
#mw-mf-menu-main,
#mw-mf-menu-main li {
  background-color: #4E4E4E;
}
#mw-mf-menu-main li {
  text-shadow: 0 1px 0 black;
  border-bottom: 1px inset #717171;
  font-weight: normal;
}
#mw-mf-menu-main li a {
  color: white;
  display: block;
  padding: 12px;
  padding-left: 32px;
  line-height: 22px;
  background-repeat: no-repeat;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
  background-position: 0px 12px;
  height: 21px;
  margin-left: 10px;
  border-bottom: 1px inset #3e3e3e;
}
#mw-mf-menu-main li a:hover {
  text-decoration: none;
}
#mw-mf-content-left {
  height: 100%;
  border-left: solid 12px #252525;
  border-right: solid 1px black;
}
#mw-mf-menu-main li.icon a {
  background-image: /* @embed */ url(images/menu/home.png);
}
#mw-mf-menu-main li.icon2 a {
  background-image: /* @embed */ url(images/menu/random.png);
}
#mw-mf-menu-main li.icon3 a {
  background-image: /* @embed */ url(images/menu/nearby.png);
}
#mw-mf-menu-main li.icon4 a {
  background-image: /* @embed */ url(images/menu/contact.png);
}
#mw-mf-menu-main li.icon5 a {
  background-image: /* @embed */ url(images/menu/settings.png);
}
#mw-mf-menu-main li.disabled {
  opacity: 0.2;
}
#mw-mf-menu-main li:hover {
  background-color: #5C5C5C;
  border-left: solid 12px #3366BB;
  margin-left: -12px;
}
#mw-mf-clearsearch {
  top: 12px;
}
body.navigationEnabled {
  height: 100%;
  overflow: hidden;
}
.clearlink {
  right: 8px;
}
#mw-mf-overlay {
  display: none;
}
#mw-mf-overlay li {
  padding-left: 40px;
  text-align: left;
}
#mw-mf-overlay .mw-mf-overlay-footer a {
  display: inline;
}
button.escapeOverlay {
  display: none;
}
html.overlay #mw-mf-viewport {
  display: none;
}
html.overlay button.escapeOverlay {
  display: block;
}
html.overlay #footer {
  display: none !important;
}
html.overlay li {
  color: #666;
  border: none;
  position: relative;
  border-bottom: solid 1px #999999;
  border-bottom: solid 1px #eee;
  padding: 12px 40px;
  font-size: 0.9em;
  color: #666;
  border: none;
  position: relative;
  border-bottom: solid 1px #999999;
  border-bottom: solid 1px #eee;
  padding: 12px 40px;
  font-size: 0.9em;
}
html.overlay li a {
  display: block;
  text-decoration: none;
  color: #666;
}
html.overlay li a:active,
html.overlay li a:hover,
html.overlay li a:visited {
  text-decoration: none;
  color: #666;
}
html.overlay li:hover {
  background-color: #ACD1E9;
}
html.overlay li a {
  display: block;
  text-decoration: none;
  color: #666;
}
html.overlay li a:active,
html.overlay li a:hover,
html.overlay li a:visited {
  text-decoration: none;
  color: #666;
}
html.overlay li:hover {
  background-color: #ACD1E9;
}
.overlay #mw-mf-overlay {
  display: block;
}
.overlay .header {
  line-height: 45px;
  border-bottom: solid 1px #CCC;
  padding: 0;
  padding-left: 40px;
  color: #666;
  height: 45px;
  margin: 0;
  padding-bottom: 0;
}
#mw-mf-overlay .header.mw-mf-locked {
  padding-left: 22px;
}
.overlay .header h2 {
  margin: 0;
  padding: 0;
  line-height: 45px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.overlay div.content input {
  margin: 22px 0 8px 22px;
  width: 60%;
}
.overlay ul {
  text-align: left;
  left: 0;
  width: 100% !important;
  border: none;
  z-index: 1;
  position: relative;
  opacity: 1;
  padding: 0;
  padding-bottom: 20px;
  cursor: pointer;
  margin: 0;
  list-style: none;
}
button.escapeOverlay {
  cursor: pointer;
  position: absolute;
  border: none;
  height: 45px;
  width: 40px;
  border-radius: 5px;
  top: 0;
  left: 0;
  background: none;
  background-image: url(images/arrow-left-2.png);
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -999px;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -webkit-background-size: 12px 16px;
  background-size: 12px 16px;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -webkit-background-size: 12px 16px;
  background-size: 12px 16px;
  z-index: 2;
}
html.navigationEnabled body,
html.navigationEnabled #mw-mf-viewport,
html.navigationEnabled #mw-mf-page-center {
  overflow: hidden;
  height: 100%;
}
html,
body {
  height: 100%;
}
#mw-mf-page-left,
#mw-mf-page-center {
  min-height: 100%;
}
#mw-mf-overlay li.mw-mf-overlay-footer,
#mw-mf-overlay li.mw-mf-overlay-header {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.8em;
}
#mw-mf-overlay li.mw-mf-overlay-footer a {
  color: #002BB8;
}
#mw-mf-overlay li.mw-mf-overlay-header {
  background-color: #F1F1F1;
}
.supportsPositionFixed #mw-mf-page-center {
  min-height: none !important;
}
@media all and (max-width: 240px) {
  #mw-mf-search {
    padding-left: 0;
  }
  #mw-mf-menu-main li a {
    padding-left: 12px;
  }
  #mw-mf-menu-main li {
    background-position: 0 0;
    font-size: 0.8em;
  }
}
/*
each menu item is 21px height + 24px padding + 1px border = 46px
5 items therefore has a height of 230px if we cannot accomodate
throw away icons
TODO: make this the default and add icons with media queries
*/
@media all and (max-height: 230px) {
  html.navigationEnabled,
  .navigationEnabled body,
  .navigationEnabled #mw-mf-viewport,
  .navigationEnabled #mw-page-center {
    min-height: 230px;
  }
}
.supportsPositionFixed.navigationEnabled #mw-mf-viewport {
  overflow-y: auto;
}
.navigationEnabled #mw-mf-ribbon.supportsPositionFixed.navigationEnabled #mw-mf-header {
  left: 80%;
  right: -80%;
}
