/* reuses https://github.com/wikimedia/agora */
button,
input[type=submit] {
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 1em 1.5em 1em;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border: 1px #33589f solid;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3366bb;
  background-image: -moz-linear-gradient(top, #3670c8, #3366bb);
  background-image: -ms-linear-gradient(top, #3670c8, #3366bb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3670c8), color-stop(100%, #3366bb));
  background-image: -webkit-linear-gradient(top, #3670c8, #3366bb);
  background-image: linear-gradient(#3670c8, #3366bb);
}
button:hover,
input[type=submit]:hover {
  background-color: #3f77d7;
  background-image: -moz-linear-gradient(top, #4c84da, #3f77d7);
  background-image: -ms-linear-gradient(top, #4c84da, #3f77d7);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c84da), color-stop(100%, #3f77d7));
  background-image: -webkit-linear-gradient(top, #4c84da, #3f77d7);
  background-image: linear-gradient(#4c84da, #3f77d7);
}
button:active,
input[type=submit]:active {
  background-color: #2a549c;
  background-image: -moz-linear-gradient(top, #2d5ea9, #2a549c);
  background-image: -ms-linear-gradient(top, #2d5ea9, #2a549c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d5ea9), color-stop(100%, #2a549c));
  background-image: -webkit-linear-gradient(top, #2d5ea9, #2a549c);
  background-image: linear-gradient(#2d5ea9, #2a549c);
}
button:disabled,
input[type=submit]:disabled,
button:disabled.hover,
input[type=submit]:disabled.hover,
button.disabled,
input[type=submit].disabled,
button.disabled:hover,
input[type=submit].disabled:hover {
  color: white;
  text-shadow: none;
  background-color: #7297d7;
  background-image: -moz-linear-gradient(top, #7297d7, #7297d7);
  background-image: -ms-linear-gradient(top, #7297d7, #7297d7);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7297d7), color-stop(100%, #7297d7));
  background-image: -webkit-linear-gradient(top, #7297d7, #7297d7);
  background-image: linear-gradient(#7297d7, #7297d7);
  border-color: #5e89d1;
}
button.languageSelector,
input[type=submit].languageSelector {
  margin-top: 14pt;
}
#mw-mf-header form,
#mw-mf-sq {
  height: 46px;
}
#mw-mf-main-menu-button {
  display: inline-block;
  height: 46px;
  width: 40px;
  background-image: url(images/menu/lowres/main.png);
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: 24px 30px;
  -o-background-size: 24px 30px;
  -webkit-background-size: 24px 30px;
  background-size: 24px 30px;
  overflow: hidden;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  z-index: 2;
  left: 0;
  border-radius: 5px 5px 5px;
  background-position: center center;
}
.jsEnabled #mw-mf-main-menu-button {
  background-image: /* @embed */ url(images/menu/main.png);
}
#mw-mf-main-menu-button:active {
  background-color: #f9f9f9;
}
#mw-mf-viewport {
  width: 100%;
  position: relative;
  height: 100%;
  /* for non-existant file pages */

}
#mw-mf-page-center {
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 3;
  min-height: 100%;
}
.overlay .header,
#mw-mf-overlay .header,
#mw-mf-header {
  z-index: 2;
  color: black;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #fafafa, #f3f3f3);
  background-image: -ms-linear-gradient(top, #fafafa, #f3f3f3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #f3f3f3));
  background-image: -webkit-linear-gradient(top, #fafafa, #f3f3f3);
  background-image: linear-gradient(#fafafa, #f3f3f3);
  border-bottom: 1px solid #e2e2e2;
}
#mw-mf-page-left {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  bottom: 0;
  top: 0;
  margin-right: 0;
  position: absolute;
  border-right: solid 1px #AAA;
  display: none;
}
.navigationEnabled #mw-mf-page-left {
  width: 80%;
  right: 20%;
}
.navigationEnabled #mw-mf-page-center {
  left: 80%;
  overflow-x: hidden;
}
.navigationEnabled.navigationFullScreen #mw-mf-page-left {
  width: 100%;
  right: 0;
}
.navigationEnabled.navigationFullScreen #mw-mf-page-center {
  left: 100%;
}
.navigationEnabled #mw-mf-page-left {
  display: block;
}
#mw-mf-menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}
#mw-mf-universal-language {
  font-size: 0.8em;
  margin-left: 14px;
  /* margin-left of #mw-mf-menu-main li a + 4px on left of icon background-position */

}
#mw-mf-page-left,
#mw-mf-menu-main,
#mw-mf-menu-main li {
  background-color: #4E4E4E;
}
#mw-mf-menu-main li {
  text-shadow: 0 1px 0 black;
  border-bottom: 1px inset #717171;
  font-weight: normal;
}
#mw-mf-menu-main li a {
  color: white;
  display: block;
  padding: 12px;
  padding-left: 32px;
  line-height: 22px;
  background-repeat: no-repeat;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: 24px 24px;
  -o-background-size: 24px 24px;
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
  background-position: 0px 10px;
  margin-left: 10px;
  border-bottom: 1px inset #3e3e3e;
}
#mw-mf-menu-main li a:hover {
  text-decoration: none;
}
#mw-mf-content-left {
  height: 100%;
  border-left: solid 12px #252525;
  border-right: solid 1px black;
}
#mw-mf-menu-main li.icon a {
  background-image: url(images/menu/lowres/home.png);
}
#mw-mf-menu-main li.icon2 a {
  background-image: url(images/menu/lowres/random.png);
}
#mw-mf-menu-main li.icon3 a {
  background-image: url(images/menu/lowres/nearby.png);
}
#mw-mf-menu-main li.icon4 a {
  background-image: url(images/menu/lowres/contact.png);
}
#mw-mf-menu-main li.icon5 a {
  background-image: url(images/menu/lowres/settings.png);
}
#mw-mf-menu-main li.icon6 a.logout {
  background-image: url(images/menu/lowres/logout.png);
}
#mw-mf-menu-main li.icon6 a.login {
  background-image: url(images/menu/lowres/login.png);
}
.jsEnabled #mw-mf-menu-main li.icon a {
  background-image: /* @embed */ url(images/menu/home.png);
}
.jsEnabled #mw-mf-menu-main li.icon2 a {
  background-image: /* @embed */ url(images/menu/random.png);
}
.jsEnabled #mw-mf-menu-main li.icon3 a {
  background-image: /* @embed */ url(images/menu/nearby.png);
}
.jsEnabled #mw-mf-menu-main li.icon4 a {
  background-image: /* @embed */ url(images/menu/contact.png);
}
.jsEnabled #mw-mf-menu-main li.icon5 a {
  background-image: /* @embed */ url(images/menu/settings.png);
}
.jsEnabled #mw-mf-menu-main li.icon6 a.logout {
  background-image: /* @embed */ url(images/menu/logout.png);
}
.jsEnabled #mw-mf-menu-main li.icon6 a.login {
  background-image: /* @embed */ url(images/menu/login.png);
}
#mw-mf-menu-main li.disabled {
  opacity: 0.2;
}
#mw-mf-menu-main li:hover {
  background-color: #5C5C5C;
  border-left: solid 12px #3366BB;
  margin-left: -12px;
}
#mw-mf-clearsearch {
  top: 12px;
}
body.navigationEnabled {
  height: 100%;
  overflow: hidden;
}
.clearlink {
  right: 8px;
}
#mw-mf-overlay {
  display: none;
}
#mw-mf-overlay li {
  padding-left: 40px;
  text-align: left;
}
#mw-mf-overlay .mw-mf-overlay-footer a {
  display: inline;
}
a.escapeOverlay,
button.escapeOverlay {
  display: none;
}
html.overlay #mw-mf-viewport {
  display: none;
}
html.overlay a.escapeOverlay,
html.overlay button.escapeOverlay {
  display: block;
}
html.overlay #footer {
  display: none !important;
}
html.overlay li {
  color: #666;
  border: none;
  position: relative;
  border-bottom: solid 1px #999999;
  border-bottom: solid 1px #eee;
  padding: 12px 40px;
  font-size: 0.9em;
}
html.overlay li a {
  display: block;
  text-decoration: none;
  color: #666;
}
html.overlay li a:active,
html.overlay li a:hover,
html.overlay li a:visited {
  text-decoration: none;
  color: #666;
}
html.overlay li:hover {
  background-color: #ACD1E9;
}
.overlay #mw-mf-overlay {
  display: block;
}
#mw-mf-overlay .alert {
  padding: 8px;
  padding-left: 88px;
  margin: 0 40px 0 40px;
  background-repeat: no-repeat;
  background-position: 8px center;
  margin-bottom: 8px;
  min-height: 64px;
}
#mw-mf-overlay .alert.info {
  padding-left: 106px;
  background-image: url(images/W.png);
  padding-top: 24.5px;
  padding-bottom: 8px;
  font-size: 1.2em;
  background-position: left center;
  /* no border */

  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: 98px 98px;
  -o-background-size: 98px 98px;
  -webkit-background-size: 98px 98px;
  background-size: 98px 98px;
}
#mw-mf-overlay .alert.tip {
  border: solid 2px #000000;
}
#mw-mf-overlay .alert.tip.tip-watchlist {
  /* TODO: swap out for better images */

  background-image: url(../modules/images/watchlist.png);
  background-position: -78px center;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: auto 64px;
  -o-background-size: auto 64px;
  -webkit-background-size: auto 64px;
  background-size: auto 64px;
}
#mw-mf-overlay .alert.success {
  border: solid 2px #008000;
  background-image: url(images/success.png);
}
#mw-mf-overlay .alert.error {
  border: solid 2px #ff0000;
  background-image: url(images/fail.png);
}
#mw-mf-overlay .alert h2 {
  margin: 0 0 8px 0;
}
.overlay .header {
  line-height: 46px;
  border-bottom: solid 1px #CCC;
  padding: 0;
  padding-left: 40px;
  color: #666;
  height: 46px;
  margin: 0;
  padding-bottom: 0;
}
.overlay .header input.search {
  margin-top: 0;
  margin-right: 20px;
}
#mw-mf-overlay .header.mw-mf-locked {
  padding-left: 22px;
}
.overlay .header h2 {
  margin: 0;
  padding: 0;
  line-height: 46px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.overlay ul {
  text-align: left;
  left: 0;
  width: 100% !important;
  border: none;
  z-index: 1;
  position: relative;
  opacity: 1;
  padding: 0;
  padding-bottom: 20px;
  cursor: pointer;
  margin: 0;
  list-style: none;
}
a.escapeOverlay,
button.escapeOverlay {
  cursor: pointer;
  position: absolute;
  border: none;
  height: 46px;
  width: 40px;
  border-radius: 5px;
  top: 0;
  left: 0;
  background: none;
  background-image: url(images/arrow-left-2.png);
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -999px;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: auto 30px;
  -o-background-size: auto 30px;
  -webkit-background-size: auto 30px;
  background-size: auto 30px;
  z-index: 2;
}
html.navigationEnabled body,
html.navigationEnabled #mw-mf-viewport,
html.navigationEnabled #mw-mf-page-center {
  overflow: hidden;
  height: 100%;
}
html,
body {
  height: 100%;
}
#mw-mf-page-left,
#mw-mf-page-center {
  min-height: 100%;
}
#mw-mf-overlay li.mw-mf-overlay-footer,
#mw-mf-overlay li.mw-mf-overlay-header {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.8em;
}
#mw-mf-overlay li.mw-mf-overlay-footer a {
  color: #002BB8;
}
#mw-mf-overlay li.mw-mf-overlay-header {
  background-color: #F1F1F1;
}
.supportsPositionFixed #mw-mf-page-center {
  min-height: none !important;
}
@media all and (max-width: 240px) {
  #mw-mf-search {
    padding-left: 0;
  }
  #mw-mf-menu-main li {
    background-position: 0 0;
    font-size: 0.8em;
  }
}
@media all and (min-width: 700px) {
  .navigationEnabled .beta #mw-mf-page-left {
    width: 20%;
    display: block;
    right: 80%;
  }
  .navigationEnabled .beta #mw-mf-page-center {
    left: 20%;
    right: 0;
    width: 80%;
    overflow: auto;
  }
  .navigationFullScreen .beta #mw-mf-page-left {
    width: 100%;
    right: 0%;
  }
  .navigationFullScreen .beta #mw-mf-page-center {
    display: none;
  }
  .beta.full-screen-search #mw-mf-page-left {
    display: block !important;
  }
}
.supportsPositionFixed.navigationEnabled #mw-mf-viewport {
  overflow-y: auto;
}
/* Page actions */
.hasSecondaryNav .full-screen-search #mw-mf-menu-page {
  display: none;
}
.hasSecondaryNav #mw-mf-menu-page {
  width: 30px;
  position: absolute;
  right: 19px;
  top: 8px;
  bottom: 0;
}
.hasSecondaryNav #mw-mf-menu-page a {
  height: 30px;
  width: 30px;
}
/* Notifications */
#mf-notification {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #E4E4E4;
  box-shadow: 0 -20px 10px -16px #aaaaaa;
  word-break: break-word;
  line-height: 1.4em;
  font-size: 0.8em;
  z-index: 3;
}
#mf-notification div {
  position: relative;
  padding: 22px 38px 22px 22px;
  /* 38px is 22px padding + close button icon 16px */

}
#mf-notification .mw-cite-backlink {
  display: none;
}
#mf-notification button {
  top: 22px;
  right: 22px;
  /* padding of #content_wrapper */

  width: 16px;
  height: 12px;
  background: url(../common/images/close-button-beta.png) no-repeat scroll 0 0 transparent;
  margin: 0;
  background-position: right center;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: auto 12px;
  -o-background-size: auto 12px;
  -webkit-background-size: auto 12px;
  background-size: auto 12px;
  cursor: pointer;
  position: absolute;
  text-indent: -999px;
  overflow: hidden;
  border: none;
}
#mf-notification h3 {
  margin: 0;
  padding-right: 4px;
  line-height: 1em;
  display: inline;
}
#mf-notification a:visited,
#mf-notification a {
  color: #3354C0;
}
