#mw-mf-menu-page {
  right: 0;
}
.jsEnabled #mw-mf-main-menu-button {
  background-image: /* @embed */ url(images/menu/main.png);
}
#mw-mf-viewport {
  width: 100%;
  position: relative;
  height: 100%;
  /* for non-existant file pages */

}
#mw-mf-page-center {
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 3;
  min-height: 100%;
}
.navigationEnabled #mw-mf-page-left {
  width: 80%;
  right: 20%;
  display: block;
}
.navigationEnabled .position-fixed,
.navigationEnabled #mw-mf-page-center {
  left: 80% !important;
  overflow-x: hidden;
}
.jsEnabled #mw-mf-menu-main li.icon-home a {
  background-image: /* @embed */ url(images/menu/home.png);
}
.jsEnabled #mw-mf-menu-main li.icon-random a {
  background-image: /* @embed */ url(images/menu/random.png);
}
.jsEnabled #mw-mf-menu-main li.icon-watchlist a {
  background-image: /* @embed */ url(images/menu/watchlist.png);
}
.jsEnabled #mw-mf-menu-main li.icon-uploads a {
  background-image: /* @embed */ url(images/menu/uploads.png);
}
.jsEnabled #mw-mf-menu-main li.icon-nearby a {
  background-image: /* @embed */ url(images/menu/nearby.png);
}
.jsEnabled #mw-mf-menu-main li.icon-settings a {
  background-image: /* @embed */ url(images/menu/settings.png);
}
.jsEnabled #mw-mf-menu-main li.icon-loginout a {
  background-image: /* @embed */ url(images/menu/loginout.png);
}
body.navigationEnabled {
  height: 100%;
  overflow: hidden;
}
html.overlay .mw-mf-overlay {
  display: block;
}
html.overlay #mw-mf-viewport {
  display: none;
}
html.overlay #footer {
  display: none !important;
}
.mw-mf-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 4;
}
.mw-mf-overlay a.escapeOverlay,
.mw-mf-overlay button.escapeOverlay {
  display: block;
}
.mw-mf-overlay div.languageOverlay ul li,
.mw-mf-overlay ul.content li {
  color: #666;
  border: none;
  position: relative;
  border-bottom: solid 1px #999999;
  border-bottom: solid 1px #eee;
  padding: 12px 40px;
  font-size: 0.9em;
}
.mw-mf-overlay div.languageOverlay ul li a,
.mw-mf-overlay ul.content li a {
  display: block;
  text-decoration: none;
  color: #666;
}
.mw-mf-overlay div.languageOverlay ul li a:active,
.mw-mf-overlay ul.content li a:active,
.mw-mf-overlay div.languageOverlay ul li a:hover,
.mw-mf-overlay ul.content li a:hover,
.mw-mf-overlay div.languageOverlay ul li a:visited,
.mw-mf-overlay ul.content li a:visited {
  text-decoration: none;
  color: #666;
}
.mw-mf-overlay div.languageOverlay ul li:hover,
.mw-mf-overlay ul.content li:hover {
  background-color: #ACD1E9;
}
.mw-mf-overlay div.languageOverlay ul li.preferred,
.mw-mf-overlay ul.content li.preferred {
  font-weight: bold;
}
.mw-mf-overlay .mw-mf-overlay-header {
  background-color: #F1F1F1;
}
.mw-mf-overlay li {
  text-align: left;
}
.mw-mf-overlay div.content {
  padding-bottom: 20px;
}
.mw-mf-overlay .content {
  margin-top: 14pt;
}
.mw-mf-overlay .content .cancel {
  display: block;
  margin: auto;
}
.mw-mf-overlay .buttonBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  background: #f3f3f3;
  text-align: center;
}
.mw-mf-overlay .buttonBar button {
  margin: 0 5px;
}
.mw-mf-overlay .mw-mf-overlay-footer,
.mw-mf-overlay .mw-mf-overlay-header {
  padding: 4px 8px 4px 40px;
  margin: 0;
  font-size: 0.8em;
  color: #666;
  border-bottom: solid 1px #eee;
}
.mw-mf-overlay .mw-mf-overlay-footer a {
  display: inline;
  color: #002BB8;
}
.alert {
  padding: 0.5em 1em;
  background-repeat: no-repeat;
  background-position: 0.5em 1em center;
  margin-bottom: 1em;
  min-height: 64px;
  font-size: 1em;
}
.alert.success {
  padding-left: 80px;
  border: solid 1px #008000;
  background-image: url(images/success.png);
}
.alert.error {
  border: solid 1px #dd0000;
  background-color: #fae1e1;
}
.alert h2 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  font-weight: bold;
  margin: 0 0 8px 0;
}
#content .alert {
  margin: 0;
}
#mw-mf-page-center .header input.search,
.overlay .header input.search {
  margin-top: 0;
}
#mw-mf-page-center .header h2,
.overlay .header h2 {
  margin: 0;
  padding: 0;
  line-height: 46px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.overlay ul {
  text-align: left;
  left: 0;
  width: 100% !important;
  border: none;
  z-index: 1;
  position: relative;
  opacity: 1;
  padding: 0;
  cursor: pointer;
  margin: 0;
  list-style: none;
}
.overlay ul.informative {
  list-style: inside square;
  margin-bottom: 8px;
}
a.escapeOverlay,
button.escapeOverlay {
  position: absolute;
  cursor: pointer;
  border: none;
  height: 46px;
  width: 40px;
  background: none;
  background-image: url(images/arrow-left.png);
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -999px;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: auto 30px;
  -o-background-size: auto 30px;
  -webkit-background-size: auto 30px;
  background-size: auto 30px;
}
html[dir="rtl"] a.escapeOverlay,
html[dir="rtl"] button.escapeOverlay {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
html.navigationEnabled body,
html.navigationEnabled #mw-mf-viewport,
html.navigationEnabled #mw-mf-page-center {
  overflow: hidden;
  height: 100%;
}
html,
body {
  height: 100%;
}
#mw-mf-page-left,
#mw-mf-page-center {
  min-height: 100%;
}
.supportsPositionFixed #mw-mf-page-center {
  min-height: none !important;
}
@media all and (max-width: 240px) {
  #mw-mf-menu-main li {
    background-position: 0 0;
    font-size: 0.8em;
  }
}
.supportsPositionFixed.navigationEnabled #mw-mf-viewport {
  overflow-y: auto;
}
/* Page actions */
.full-screen-search #mw-mf-menu-page {
  display: none;
}
.drawer {
  text-align: center;
  padding: 0 0 1em;
}
.drawer a.close {
  padding: 0 0 1.2em;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  width: 100%;
  height: 16px;
  background: url(../modules/images/show.png) 50% 8px no-repeat;
}
.drawer a.button {
  display: block;
  margin: 1em 40px 1em 40px;
}
.drawer a.signup {
  display: block;
}
/* Notifications */
#mf-notification,
.drawer {
  position: fixed;
  /* -2px to avoid a weird glitch in some browsers where the popup moves
	 * slightly when scrolling */

  bottom: -2px;
  width: 100%;
  background-color: #f3f3f3;
  box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.35);
  word-break: break-word;
  z-index: 3;
}
#mf-notification {
  font-size: 0.9em;
}
#mf-notification.noButton button {
  display: none;
}
#mf-notification.loading {
  background-position: 23px 50%;
  background-repeat: no-repeat;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: 32px auto;
  -o-background-size: 32px auto;
  -webkit-background-size: 32px auto;
  background-size: 32px auto;
  padding: 0 0 0 53px;
}
#mf-notification.toast {
  left: 10%;
  right: 10%;
  padding: 0;
  font-size: 0.8em;
  background-color: #373737;
  color: white;
  margin: 0 auto 20px auto;
  width: 80%;
  text-align: center;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  box-shadow: 0 0 1px 3px #373737;
}
#mf-notification.toast button {
  display: none;
}
#mf-notification.toast.error {
  background-image: url(images/error.png);
  background-position: 16px 50%;
  background-repeat: no-repeat;
  padding-left: 5%;
  width: 75%;
}
#mf-notification.toast.locked button {
  display: block;
  top: 0.8em;
  right: 1.4em;
}
#mf-notification.toast > div {
  padding: 0.8em 1.4em;
}
#mf-notification > div {
  position: relative;
  padding: 16px 38px 18px 22px;
  /* 38px is 22px padding + close button icon 16px */

}
#mf-notification .mw-cite-backlink {
  display: none;
}
#mf-notification button {
  top: 22px;
  right: 22px;
  /* padding of #content_wrapper */

  width: 16px;
  height: 12px;
  background: url(../common/images/close-button-beta.png) no-repeat scroll 0 0 transparent;
  margin: 0;
  background-position: right center;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: auto 12px;
  -o-background-size: auto 12px;
  -webkit-background-size: auto 12px;
  background-size: auto 12px;
  cursor: pointer;
  position: absolute;
  text-indent: -999px;
  overflow: hidden;
  border: none;
}
#mf-notification h3 {
  margin: 0;
  padding-right: 4px;
  line-height: 1em;
  display: inline;
}
#mf-notification a:visited,
#mf-notification a {
  color: #3354C0;
}
#mf-notification p {
  line-height: 1.2;
  margin: 0 0 .5em;
}
#mf-notification .progress-bar {
  margin: .9em 0 0;
}
