html {
  font-size: 90%;
  /* default browser size is 16px (12pt - our @baseFontSize) */

}
/* = 16pt */
body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.3333333333333333em;
  color: #252525;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", serif;
  margin-top: 14pt;
  margin-bottom: 9pt;
}
h1 button,
h2 button,
h3 button,
h4 button,
h5 button,
h6 button {
  height: 22pt;
}
p {
  margin-bottom: 8pt;
}
h1 {
  font-size: 1.833em;
  line-height: 22pt;
  color: black;
}
h2 {
  font-size: 1.5em;
  /* 18pt */

  line-height: 22pt;
}
h3 {
  font-size: 1.1666666666666665em;
  /* 14pt */

  line-height: 22pt;
  font-weight: bold;
  margin-bottom: 8pt;
}
h4 {
  font-weight: bold;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}
sub,
sup {
  font-size: 0.75em;
}
#content_wrapper {
  position: relative;
  margin: 0 23px 0 23px;
}
#content_wrapper .section h3:first-child {
  margin-top: 0;
}
#content_wrapper .section:last-child {
  border-bottom: none;
}
#content_wrapper .thumb {
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #f9f9f9;
  margin: 15px 0 15px 0;
  text-align: center;
}
input.search {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
}
#footer {
  margin-top: 14pt;
}
@media all and (max-width: 280px) {
  body {
    font-size: 0.8em;
  }
  #footer {
    padding: 12px 10px;
  }
  #content_wrapper {
    margin: 0 12px;
  }
}
blockquote {
  quotes: "\201C" "\201D";
  padding-left: 10px;
  padding-bottom: 30px;
  padding-right: 0;
  margin-top: 20px;
  margin-right: 0;
  position: relative;
  width: 90%;
}
blockquote:before {
  content: open-quote;
  font-size: 3em;
  font-weight: bold;
}
blockquote:after {
  font-size: 3em;
  content: close-quote;
  font-weight: bold;
  float: right;
  position: absolute;
  right: -10px;
  bottom: 0;
}
