.overlay ul {
  text-align: left;
  left: 0;
  border: none;
  z-index: 1;
  position: relative;
  opacity: 1;
  padding: 0;
  cursor: pointer;
  margin: 0;
  list-style: none;
}
.overlay ul.informative {
  margin-left: 16px;
  list-style: outside square;
  margin-bottom: 16px;
}
.overlay ul.informative li {
  margin-bottom: 8px;
}
html.overlay .mw-mf-overlay {
  display: block;
}
html.overlay #mw-mf-viewport {
  display: none;
}
html.overlay #footer {
  display: none !important;
}
html[dir="rtl"] .mw-mf-overlay .header .cancel {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.mw-mf-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: white;
  z-index: 4;
}
.mw-mf-overlay .header .cancel {
  display: block;
  position: absolute;
  cursor: pointer;
  border: none;
  height: 46px;
  width: 40px;
  left: 0;
  background: none;
  background-image: url(images/arrow-left.png);
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -999px;
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -moz-background-size: auto 30px;
  -o-background-size: auto 30px;
  -webkit-background-size: auto 30px;
  background-size: auto 30px;
}
.mw-mf-overlay div.languageOverlay ul li,
.mw-mf-overlay ul.content li {
  color: #666;
  border: none;
  position: relative;
  border-bottom: solid 1px #999999;
  border-bottom: solid 1px #eee;
  padding: 12px 40px;
  font-size: 0.9em;
}
.mw-mf-overlay div.languageOverlay ul li a,
.mw-mf-overlay ul.content li a {
  display: block;
  text-decoration: none;
  color: #666;
}
.mw-mf-overlay div.languageOverlay ul li a:active,
.mw-mf-overlay ul.content li a:active,
.mw-mf-overlay div.languageOverlay ul li a:hover,
.mw-mf-overlay ul.content li a:hover,
.mw-mf-overlay div.languageOverlay ul li a:visited,
.mw-mf-overlay ul.content li a:visited {
  text-decoration: none;
  color: #666;
}
.mw-mf-overlay div.languageOverlay ul li:hover,
.mw-mf-overlay ul.content li:hover {
  background-color: #ACD1E9;
}
.mw-mf-overlay div.languageOverlay ul li.preferred,
.mw-mf-overlay ul.content li.preferred {
  font-weight: bold;
}
.mw-mf-overlay .mw-mf-overlay-header {
  background-color: #F1F1F1;
}
.mw-mf-overlay li {
  text-align: left;
}
.mw-mf-overlay div.content textarea {
  display: block;
  width: 100%;
}
.mw-mf-overlay .content .confirm,
.mw-mf-overlay .content .cancel {
  display: block;
  margin: auto;
}
.mw-mf-overlay .buttonBar {
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  background-color: #f3f3f3;
  text-align: center;
}
.mw-mf-overlay .buttonBar button {
  margin: 10px 5px;
}
.mw-mf-overlay .buttonBar p {
  margin: 1em 16px 10px;
  line-height: 1.3;
  font-size: .9em;
  text-align: left;
}
.mw-mf-overlay .buttonBar p:first-child {
  margin-top: 1.2em;
}
.mw-mf-overlay .mw-mf-overlay-footer,
.mw-mf-overlay .mw-mf-overlay-header {
  padding: 4px 8px 4px 23px;
  margin: 0;
  font-size: 0.8em;
  color: #666;
  border-bottom: solid 1px #eee;
}
.mw-mf-overlay .mw-mf-overlay-footer a {
  display: inline;
  color: #002BB8;
}
