.client-nojs #ca-watch.cta,
#ca-talk.selected {
  display: none;
}
#section_0 {
  margin: 10px 23px 0 23px;
  padding-bottom: 9px;
  border-bottom: dotted 1px #CACACA;
}
#page-actions {
  padding: 8px 23px 8px 15px;
  border-bottom: solid 1px #CACACA;
  height: 30px;
}
#page-actions li,
#page-actions .watch-this-article {
  /* use -webkit prefix for older android browsers eg. nexus 1 */

  -o-background-size: auto 30px;
  -webkit-background-size: auto 30px;
  background-size: auto 30px;
}
#page-actions li {
  position: relative;
  height: 30px;
  width: 40px;
  text-indent: -9999px;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
#page-actions li input {
  opacity: 0;
}
#page-actions li input,
#page-actions li a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.watch-this-article {
  background-image: url(images/pagemenu/watch.png);
}
.watch-this-article.watched {
  background-image: url(images/pagemenu/watched.png);
}
#ca-edit {
  background-image: url(images/pagemenu/edit-locked.png);
  margin-right: 17px;
}
#ca-edit.enabled {
  background-image: url(images/pagemenu/edit.png);
}
#ca-talk {
  margin-right: 14px;
  background-image: url(images/pagemenu/talk.png);
}
#ca-upload {
  margin-right: 19px;
  background-image: url(images/pagemenu/upload-locked.png);
}
#ca-upload.enabled {
  background-image: url(images/pagemenu/upload.png);
}
