.ve-mobile-fakeToolbar-container {
	position: fixed;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	height: 3em;
	background: #fff;
	border-bottom: 1px solid #c8ccd1;
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.1 );
}

.ve-mobile-fakeToolbar-header {
	display: table !important;
	height: 3em;
}

.ve-mobile-fakeToolbar {
	height: 3em;
	display: block !important;
	width: 100% !important;
	box-sizing: content-box;
	border-color: #c8ccd1;
	border-style: solid;
	border-width: 0 1px;
	margin: 0 -1px;

	.cancel,
	.mw-ui-icon-mf-spinner {
		display: inline-block;
		width: 3em;
		height: 3em;

		&:before {
			background-size: 20px 20px;
		}
	}

	.cancel {
		padding: 0;
		color: transparent;

		&:hover {
			background-color: #eaecf0;
		}
	}

	.mw-ui-icon-mf-spinner {
		vertical-align: top;
		border-left: 1px solid #eaecf0;
		cursor: auto;
		padding: 0 0.875em;
		// In the unlikely case that the text overflows the width of the screen...
		width: calc( ~'100vw - 3em' );
		// Must be less than the Minerva tablet threshold
		max-width: 500px;
		overflow: hidden;
		text-overflow: ellipsis;

		&:before {
			margin-right: 0.3em;
		}
	}
}
