@import 'panel';

/* stylelint-disable no-descending-specificity */
.mf-font-size-90 {
	#content p,
	.content p {
		font-size: 90%;
	}
}

.mf-font-size-120 {
	#content p,
	.content p {
		font-size: 120%;
	}
}

.mf-font-size-140 {
	#content p,
	.content p {
		font-size: 140%;
	}
}
/* stylelint-enable no-descending-specificity */
