@import 'panel';

.mf-font-size-small {
	.mw-body p,
	.content p {
		font-size: 90%;
	}
}

.mf-font-size-large {
	.mw-body p,
	.content p {
		font-size: 120%;
	}
}

.mf-font-size-x-large {
	.content p,
	.mw-body p {
		font-size: 140%;
	}
}
