@import 'mediawiki.skin.variables.less';
@import 'mediawiki.mixins.less';

.mf-icon-close {
	.cdx-mixin-css-icon( @cdx-icon-close, @param-is-button-icon: false,
	@param-fill-color: @color-subtle );
}

.mf-icon-close-gray {
	.cdx-mixin-css-icon( @cdx-icon-close, @param-is-button-icon: false,
	@param-fill-color: #a2a9b1 );
}

.mf-icon-previous {
	.cdx-mixin-css-icon( @cdx-icon-previous, @param-is-button-icon: false,
	@param-fill-color: @color-subtle );
}

.mf-icon-next {
	.cdx-mixin-css-icon( @cdx-icon-next, @param-is-button-icon: false,
	@param-fill-color: @color-subtle );
}

.mf-icon-next-invert {
	.cdx-mixin-css-icon( @cdx-icon-next, @param-is-button-icon: false,
	@param-fill-color: #fff );
}

.mf-icon-alert-invert {
	.cdx-mixin-css-icon( @cdx-icon-alert, @param-is-button-icon: false,
	@param-fill-color: #fff );
}

// FIXME: Two selectors for caching reasons. Can remove in 1 week.
.mw-ui-icon-mf-expand,
.mf-icon-expand {
	.cdx-mixin-css-icon( @cdx-icon-expand, @param-is-button-icon: false,
	@param-fill-color: @color-subtle );
}

.mf-icon-expand-invert {
	.cdx-mixin-css-icon( @cdx-icon-expand, @param-is-button-icon: false,
	@param-fill-color: #fff );
}

.mf-icon-rotate-anti-clockwise {
	transform: rotate( -90deg );
}

.mf-icon-rotate-clockwise {
	transform: rotate( 90deg );
}

.mf-icon-rotate-flip {
	transform: scaleY( -1 );
}

.rtl {
	.mf-icon-rotate-anti-clockwise {
		transform: rotate( 90deg );
	}

	.mf-icon-rotate-clockwise {
		transform: rotate( -90deg );
	}
}
