@import 'mediawiki.skin.variables.less';
@import 'panel.less';

.mf-font-size-clientpref-small {
	.mw-body p,
	.content p {
		font-size: 1rem;
	}
}

.mf-font-size-clientpref-regular {
	.mw-body p,
	.content p {
		font-size: unit( ( 18 / 16 ), rem );
	}

	.content {
		line-height: 1.6;
	}
}

.mf-font-size-clientpref-xlarge,
.mf-font-size-clientpref-large {
	.mw-body p,
	.content p {
		font-size: unit( ( 20 / 16 ), rem );
	}

	.content {
		line-height: 1.5;
	}
}
