#mainpage,
#featured_article {
  line-height: 1.65;
}
#featured_article .noprint,
.today .noprint {
  display: none;
}
body.page-Main_Page table tr,
body.page-Main_Page table td {
  display: block !important;
}
body.page-Main_Page table tr ul li,
body.page-Main_Page table td ul li {
  display: inline;
}
body.page-Main_Page table .section_heading button {
  display: none !important;
}
body.page-Main_Page .MainPageBG img {
  float: left;
  margin-right: 20px;
}
